openapi: 3.2.0
info:
  title: Google Ads Customers.asset Group Assets API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.assetGroupAssets
paths:
  /v25/customers/{customersId}/assetGroupAssets:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_assetGroupAssets_mutate
      summary: Creates, updates or removes asset group assets
      tags:
      - customers.assetGroupAssets
      description: Creates, updates or removes asset group assets. Operation statuses are returned.
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer whose asset group assets are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateAssetGroupAssetsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateAssetGroupAssetsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_WebsiteList:
      description: A list of websites that caused a policy finding. Used for ONE_WEBSITE_PER_AD_GROUP policy topic, for example. In case there are more than five websites, only the top five (those that appear in resources the most) will be listed here.
      type: object
      properties:
        websites:
          type: array
          description: Websites that caused the policy finding.
          items:
            type: string
    GoogleAdsGoogleadsV25Common__PolicyTopicConstraint:
      type: object
      properties:
        resellerConstraint:
          description: Reseller constraint.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicConstraint_ResellerConstraint'
        certificateMissingInCountryList:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicConstraint_CountryConstraintList'
          description: Countries where a certificate is required for serving.
        countryConstraintList:
          description: Countries where the resource cannot serve.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicConstraint_CountryConstraintList'
        certificateDomainMismatchInCountryList:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicConstraint_CountryConstraintList'
          description: Countries where the resource's domain is not covered by the certificates associated with it.
      description: Describes the effect on serving that a policy topic entry will have.
    GoogleAdsGoogleadsV25Services__MutateAssetGroupAssetResult:
      description: The result for the asset group asset mutate.
      type: object
      properties:
        resourceName:
          type: string
          description: Returned for successful operations.
    GoogleAdsGoogleadsV25Common__AssetDisapproved:
      type: object
      properties:
        offlineEvaluationErrorReasons:
          type: array
          description: Provides the quality evaluation disapproval reason of an asset.
          items:
            x-enumDescriptions:
            - Not specified.
            - Used for return value only. Represents value unknown in this version.
            - One or more descriptions repeats its corresponding row header.
            - Price asset contains repetitive headers.
            - Price item header is not relevant to the price type.
            - Price item description is not relevant to the item header.
            - Price asset has a price qualifier in a description.
            - Unsupported language for price assets
            - Human raters identified an issue with the price asset that isn't captured by other error reasons. The primary purpose of this value is to represent legacy FeedItem disapprovals that are no longer produced.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - PRICE_ASSET_DESCRIPTION_REPEATS_ROW_HEADER
            - PRICE_ASSET_REPETITIVE_HEADERS
            - PRICE_ASSET_HEADER_INCOMPATIBLE_WITH_PRICE_TYPE
            - PRICE_ASSET_DESCRIPTION_INCOMPATIBLE_WITH_ITEM_HEADER
            - PRICE_ASSET_DESCRIPTION_HAS_PRICE_QUALIFIER
            - PRICE_ASSET_UNSUPPORTED_LANGUAGE
            - PRICE_ASSET_OTHER_ERROR
            type: string
      description: Details related to AssetLinkPrimaryStatusReasonPB.ASSET_DISAPPROVED
    GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_TextList:
      type: object
      properties:
        texts:
          description: The fragments of text from the resource that caused the policy finding.
          items:
            type: string
          type: array
      description: A list of fragments of text that violated a policy.
    GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_DestinationNotWorking:
      type: object
      properties:
        httpErrorCode:
          format: int64
          type: string
          description: The HTTP error code.
        expandedUrl:
          type: string
          description: The full URL that didn't work.
        device:
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - Landing page doesn't work on desktop device.
          - Landing page doesn't work on Android device.
          - Landing page doesn't work on iOS device.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DESKTOP
          - ANDROID
          - IOS
          type: string
          description: The type of device that failed to load the URL.
        dnsErrorType:
          description: The type of DNS error.
          type: string
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - Host name not found in DNS when fetching landing page.
          - Google internal crawler issue when communicating with DNS. This error doesn't mean the landing page doesn't work. Google will recrawl the landing page.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - HOSTNAME_NOT_FOUND
          - GOOGLE_CRAWLER_DNS_ISSUE
        lastCheckedDateTime:
          description: 'The time the URL was last checked. The format is "YYYY-MM-DD HH:MM:SS". Examples: "2018-03-05 09:15:00" or "2018-02-01 14:34:30"'
          type: string
      description: Evidence details when the destination is returning an HTTP error code or isn't functional in all locations for commonly used devices.
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Common__PolicyTopicEvidence:
      description: Additional information that explains a policy finding.
      type: object
      properties:
        websiteList:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_WebsiteList'
          description: List of websites linked with this resource.
        languageCode:
          description: The language the resource was detected to be written in. This is an IETF language tag such as "en-US".
          type: string
        destinationTextList:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_DestinationTextList'
          description: The text in the destination of the resource that is causing a policy finding.
        destinationMismatch:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_DestinationMismatch'
          description: Mismatch between the destinations of a resource's URLs.
        destinationNotWorking:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_DestinationNotWorking'
          description: Details when the destination is returning an HTTP error code or isn't functional in all locations for commonly used devices.
        textList:
          description: List of evidence found in the text of a resource.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_TextList'
    GoogleAdsGoogleadsV25Common__AssetLinkPrimaryStatusDetails:
      type: object
      properties:
        status:
          type: string
          description: Provides the PrimaryStatus of this status detail.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset is eligible to serve.
          - The user-specified asset link status is paused.
          - The user-specified asset link status is removed.
          - The asset may serve in the future.
          - The asset is serving in a partial capacity.
          - The asset is not eligible to serve.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ELIGIBLE
          - PAUSED
          - REMOVED
          - PENDING
          - LIMITED
          - NOT_ELIGIBLE
        reason:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset is paused for its linked rollup level. Contributes to a PrimaryStatus of PAUSED.
          - The asset is removed for its linked rollup level. Contributes to a PrimaryStatus of REMOVED.
          - The asset has been marked as disapproved. Contributes to a PrimaryStatus of NOT_ELIGIBLE
          - The asset has not completed policy review. Contributes to a PrimaryStatus of PENDING.
          - The asset is approved with policies applied. Contributes to a PrimaryStatus of LIMITED.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ASSET_LINK_PAUSED
          - ASSET_LINK_REMOVED
          - ASSET_DISAPPROVED
          - ASSET_UNDER_REVIEW
          - ASSET_APPROVED_LABELED
          type: string
          description: Provides the reason of this PrimaryStatus.
        assetDisapproved:
          description: Provides the details for AssetLinkPrimaryStatusReason.ASSET_DISAPPROVED
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AssetDisapproved'
      description: Provides the detail of a PrimaryStatus. Each asset link has a PrimaryStatus value (e.g. NOT_ELIGIBLE, meaning not serving), and list of corroborating PrimaryStatusReasons (e.g. [ASSET_DISAPPROVED]). Each reason may have some additional details annotated with it. For instance, when the reason is ASSET_DISAPPROVED, the details field will contain additional information about the offline evaluation errors which led to the asset being disapproved.
    GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_DestinationMismatch:
      type: object
      properties:
        urlTypes:
          type: array
          description: The set of URLs that did not match each other.
          items:
            x-enumDescriptions:
            - No value has been specified.
            - The received value is not known in this version. This is a response-only value.
            - The display url.
            - The final url.
            - The final mobile url.
            - The tracking url template, with substituted desktop url.
            - The tracking url template, with substituted mobile url.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - DISPLAY_URL
            - FINAL_URL
            - FINAL_MOBILE_URL
            - TRACKING_URL
            - MOBILE_TRACKING_URL
            type: string
      description: Evidence of mismatches between the URLs of a resource.
    GoogleAdsGoogleadsV25Common__PolicyTopicEntry:
      type: object
      properties:
        topic:
          description: Policy topic this finding refers to. For example, "ALCOHOL", "TRADEMARKS_IN_AD_TEXT", or "DESTINATION_NOT_WORKING". The set of possible policy topics is not fixed for a particular API version and may change at any time.
          type: string
        type:
          type: string
          description: Describes the negative or positive effect this policy will have on serving.
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - The resource will not be served.
          - The resource will not be served under some circumstances.
          - The resource cannot serve at all because of the current targeting criteria.
          - May be of interest, but does not limit how the resource is served.
          - Could increase coverage beyond normal.
          - Constrained for all targeted countries, but may serve in other countries through area of interest.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - PROHIBITED
          - LIMITED
          - FULLY_LIMITED
          - DESCRIPTIVE
          - BROADENING
          - AREA_OF_INTEREST_ONLY
        constraints:
          description: Indicates how serving of this resource may be affected (for example, not serving in a country).
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PolicyTopicConstraint'
          type: array
        evidences:
          type: array
          description: Additional information that explains policy finding (for example, the brand name for a trademark finding).
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PolicyTopicEvidence'
      description: Policy finding attached to a resource (for example, alcohol policy associated with a site that sells alcohol). Each PolicyTopicEntry has a topic that indicates the specific ads policy the entry is about and a type to indicate the effect that the entry will have on serving. It may optionally have one or more evidences that indicate the reason for the finding. It may also optionally have one or more constraints that provide details about how serving may be restricted.
    GoogleAdsGoogleadsV25Common_PolicyTopicConstraint_CountryConstraintList:
      description: A list of countries where a resource's serving is constrained.
      type: object
      properties:
        totalTargetedCountries:
          format: int32
          type: integer
          description: Total number of countries targeted by the resource.
        countries:
          type: array
          description: Countries in which serving is restricted.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicConstraint_CountryConstraint'
    GoogleAdsGoogleadsV25Resources__AssetGroupAsset:
      type: object
      properties:
        resourceName:
          description: 'Immutable. The resource name of the asset group asset. Asset group asset resource name have the form: `customers/{customer_id}/assetGroupAssets/{asset_group_id}~{asset_id}~{field_type}`'
          type: string
        assetGroup:
          description: Immutable. The asset group which this asset group asset is linking.
          type: string
        asset:
          type: string
          description: Immutable. The asset which this asset group asset is linking.
        fieldType:
          type: string
          description: 'The description of the placement of the asset within the asset group. For example: HEADLINE, YOUTUBE_VIDEO etc'
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset is linked for use as a headline.
          - The asset is linked for use as a description.
          - The asset is linked for use as mandatory ad text.
          - The asset is linked for use as a marketing image.
          - The asset is linked for use as a media bundle.
          - The asset is linked for use as a YouTube video.
          - The asset is linked to indicate that a hotels campaign is "Book on Google" enabled.
          - The asset is linked for use as a Lead Form extension.
          - The asset is linked for use as a Promotion extension.
          - The asset is linked for use as a Callout extension.
          - The asset is linked for use as a Structured Snippet extension.
          - The asset is linked for use as a Sitelink.
          - The asset is linked for use as a Mobile App extension.
          - The asset is linked for use as a Hotel Callout extension.
          - The asset is linked for use as a Call extension.
          - The asset is linked for use as a Price extension.
          - The asset is linked for use as a long headline.
          - The asset is linked for use as a business name.
          - The asset is linked for use as a square marketing image.
          - The asset is linked for use as a portrait marketing image.
          - The asset is linked for use as a logo.
          - The asset is linked for use as a landscape logo.
          - The asset is linked for use as a non YouTube logo.
          - The asset is linked for use to select a call-to-action.
          - The asset is linked for use to select an ad image.
          - The asset is linked for use as a business logo.
          - The asset is linked for use as a hotel property in a Performance Max for travel goals campaign.
          - The asset is linked for use as a Demand Gen carousel card.
          - The asset is linked for use as a Business Message.
          - The asset is linked for use as a tall portrait marketing image.
          - The asset is linked for use as related YouTube videos.
          - The asset is linked for use as a landing page preview image.
          - The asset is linked for use as a long description.
          - The asset is linked for use as a call-to-action.
          - The asset is linked for use as a classic display image.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - HEADLINE
          - DESCRIPTION
          - MANDATORY_AD_TEXT
          - MARKETING_IMAGE
          - MEDIA_BUNDLE
          - YOUTUBE_VIDEO
          - BOOK_ON_GOOGLE
          - LEAD_FORM
          - PROMOTION
          - CALLOUT
          - STRUCTURED_SNIPPET
          - SITELINK
          - MOBILE_APP
          - HOTEL_CALLOUT
          - CALL
          - PRICE
          - LONG_HEADLINE
          - BUSINESS_NAME
          - SQUARE_MARKETING_IMAGE
          - PORTRAIT_MARKETING_IMAGE
          - LOGO
          - LANDSCAPE_LOGO
          - VIDEO
          - CALL_TO_ACTION_SELECTION
          - AD_IMAGE
          - BUSINESS_LOGO
          - HOTEL_PROPERTY
          - DEMAND_GEN_CAROUSEL_CARD
          - BUSINESS_MESSAGE
          - TALL_PORTRAIT_MARKETING_IMAGE
          - RELATED_YOUTUBE_VIDEOS
          - LANDING_PAGE_PREVIEW
          - LONG_DESCRIPTION
          - CALL_TO_ACTION
          - CLASSIC_DISPLAY_IMAGE
        status:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Asset link is enabled.
          - Asset link has been removed.
          - Asset link is paused.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - REMOVED
          - PAUSED
          type: string
          description: The status of the link between an asset and asset group.
        primaryStatusReasons:
          type: array
          description: Output only. Provides a list of reasons for why an asset is not serving or not serving at full capacity.
          items:
            x-enumDescriptions:
            - Not specified.
            - Used for return value only. Represents value unknown in this version.
            - The asset is paused for its linked rollup level. Contributes to a PrimaryStatus of PAUSED.
            - The asset is removed for its linked rollup level. Contributes to a PrimaryStatus of REMOVED.
            - The asset has been marked as disapproved. Contributes to a PrimaryStatus of NOT_ELIGIBLE
            - The asset has not completed policy review. Contributes to a PrimaryStatus of PENDING.
            - The asset is approved with policies applied. Contributes to a PrimaryStatus of LIMITED.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - ASSET_LINK_PAUSED
            - ASSET_LINK_REMOVED
            - ASSET_DISAPPROVED
            - ASSET_UNDER_REVIEW
            - ASSET_APPROVED_LABELED
            type: string
        primaryStatusDetails:
          type: array
          description: Output only. Provides the details of the primary status and its associated reasons.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AssetLinkPrimaryStatusDetails'
        policySummary:
          description: Output only. The policy information for this asset group asset.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PolicySummary'
        source:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset or asset link is provided by advertiser.
          - The asset or asset link is generated by Google.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ADVERTISER
          - AUTOMATICALLY_CREATED
          description: Output only. Source of the asset group asset.
          type: string
        primaryStatus:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset is eligible to serve.
          - The user-specified asset link status is paused.
          - The user-specified asset link status is removed.
          - The asset may serve in the future.
          - The asset is serving in a partial capacity.
          - The asset is not eligible to serve.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ELIGIBLE
          - PAUSED
          - REMOVED
          - PENDING
          - LIMITED
          - NOT_ELIGIBLE
          type: string
          description: Output only. Provides the PrimaryStatus of this asset link. Primary status is meant essentially to differentiate between the plain "status" field, which has advertiser set values of enabled, paused, or removed. The primary status takes into account other signals (for assets its mainly policy and quality approvals) to come up with a more comprehensive status to indicate its serving state.
      description: AssetGroupAsset is the link between an asset and an asset group. Adding an AssetGroupAsset links an asset with an asset group.
    GoogleAdsGoogleadsV25Services__MutateAssetGroupAssetsRequest:
      description: Request message for AssetGroupAssetService.MutateAssetGroupAssets.
      type: object
      properties:
        validateOnly:
          description: If true, the request is validated but not executed. Only errors are returned, not results.
          type: boolean
        operations:
          description: Required. The list of operations to perform on individual asset group assets.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__AssetGroupAssetOperation'
          type: array
        partialFailure:
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
          type: boolean
    GoogleAdsGoogleadsV25Services__MutateAssetGroupAssetsResponse:
      type: object
      properties:
        partialFailureError:
          $ref: '#/components/schemas/GoogleRpc__Status'
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateAssetGroupAssetResult'
          type: array
      description: Response message for an asset group asset mutate.
    GoogleAdsGoogleadsV25Common_PolicyTopicConstraint_ResellerConstraint:
      description: Indicates that a policy topic was constrained due to disapproval of the website for reseller purposes.
      type: object
      properties: {}
    GoogleAdsGoogleadsV25Common__PolicySummary:
      type: object
      properties:
        reviewStatus:
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - Currently under review.
          - Primary review complete. Other reviews may be continuing.
          - The resource has been resubmitted for approval or its policy decision has been appealed.
          - The resource is eligible and may be serving but could still undergo further review.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - REVIEW_IN_PROGRESS
          - REVIEWED
          - UNDER_APPEAL
          - ELIGIBLE_MAY_SERVE
          description: Where in the review process the resource is.
          type: string
        policyTopicEntries:
          type: array
          description: The list of policy findings.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PolicyTopicEntry'
        approvalStatus:
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - Will not serve.
          - Serves with restrictions.
          - Serves without restrictions.
          - Will not serve in targeted countries, but may serve for users who are searching for information about the targeted countries.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DISAPPROVED
          - APPROVED_LIMITED
          - APPROVED
          - AREA_OF_INTEREST_ONLY
          type: string
          description: The overall approval status, which is calculated based on the status of its individual policy topic entries.
      description: Contains policy summary information.
    GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_DestinationTextList:
      type: object
      properties:
        destinationTexts:
          type: array
          description: List of text found in the resource's destination page.
          items:
            type: string
      description: A list of strings found in a destination page that caused a policy finding.
    GoogleAdsGoogleadsV25Common_PolicyTopicConstraint_CountryConstraint:
      type: object
      properties:
        countryCriterion:
          description: Geo target constant resource name of the country in which serving is constrained.
          type: string
      description: Indicates that a resource's ability to serve in a particular country is constrained.
    GoogleAdsGoogleadsV25Services__AssetGroupAssetOperation:
      type: object
      properties:
        remove:
          type: string
          description: 'Remove operation: A resource name for the removed asset group asset is expected, in this format: `customers/{customer_id}/assetGroupAssets/{asset_group_id}~{asset_id}~{field_type}`'
        update:
          description: 'Update operation: The asset group asset is expected to have a valid resource name.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AssetGroupAsset'
        updateMask:
          type: string
          description: FieldMask that determines which resource fields are modified in an update.
          format: google-fieldmask
        create:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AssetGroupAsset'
          description: 'Create operation: No resource name is expected for the new asset group asset.'
      description: A single operation (create, remove) on an asset group asset.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
