openapi: 3.2.0
info:
  title: Google Ads Customers.batch Jobs API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.batchJobs
paths:
  /v25/customers/{customersId}/batchJobs/{batchJobsId}:run:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_batchJobs_run
      summary: Runs the batch job
      tags:
      - customers.batchJobs
      description: 'Runs the batch job. The Operation.metadata field type is BatchJobMetadata. When finished, the long running operation will not contain errors or a response. Instead, use ListBatchJobResults to get the results of the job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BatchJobError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: resourceName
        in: path
        required: true
        schema:
          pattern: ^customers/[^/]+/batchJobs/[^/]+$
          type: string
        description: Required. The resource name of the BatchJob to run.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__RunBatchJobRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunning__Operation'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/batchJobs/{batchJobsId}:addOperations:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_batchJobs_addOperations
      summary: Add operations to the batch job
      tags:
      - customers.batchJobs
      description: 'Add operations to the batch job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BatchJobError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()'
      parameters:
      - name: resourceName
        in: path
        required: true
        schema:
          pattern: ^customers/[^/]+/batchJobs/[^/]+$
          type: string
        description: Required. The resource name of the batch job.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__AddBatchJobOperationsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__AddBatchJobOperationsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/batchJobs:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_batchJobs_mutate
      summary: Mutates a batch job
      tags:
      - customers.batchJobs
      description: 'Mutates a batch job. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer for which to create a batch job.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateBatchJobRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateBatchJobResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/batchJobs/{batchJobsId}:listResults:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    get:
      operationId: googleads_customers_batchJobs_listResults
      summary: Returns the results of the batch job
      tags:
      - customers.batchJobs
      description: 'Returns the results of the batch job. The job must be done. Supports standard list paging. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [BatchJobError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: resourceName
        in: path
        required: true
        schema:
          pattern: ^customers/[^/]+/batchJobs/[^/]+$
          type: string
        description: Required. The resource name of the batch job whose results are being listed.
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: Number of elements to retrieve in a single page. The default and the page_size limit is 1000. A value of 0 or an unset page size will be defaulted to 1000. A page size less than 0 or greater than 1000 will result in an INVALID_PAGE_SIZE error.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Token of the page to retrieve. If not specified, the first page of results will be returned. Use the value obtained from `next_page_token` in the previous response in order to request the next page of results.
      - name: responseContentType
        in: query
        required: false
        schema:
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
          type: string
        description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ListBatchJobResultsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Resources_Campaign_VanityPharma:
      type: object
      properties:
        vanityPharmaText:
          description: The text that will be displayed in display URL of the text ad when website description is the selected display mode for vanity pharma URLs.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Prescription treatment website with website content in English.
          - Prescription treatment website with website content in Spanish (Sitio de tratamientos con receta).
          - Prescription device website with website content in English.
          - Prescription device website with website content in Spanish (Sitio de dispositivos con receta).
          - Medical device website with website content in English.
          - Medical device website with website content in Spanish (Sitio de dispositivos médicos).
          - Preventative treatment website with website content in English.
          - Preventative treatment website with website content in Spanish (Sitio de tratamientos preventivos).
          - Prescription contraception website with website content in English.
          - Prescription contraception website with website content in Spanish (Sitio de anticonceptivos con receta).
          - Prescription vaccine website with website content in English.
          - Prescription vaccine website with website content in Spanish (Sitio de vacunas con receta).
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - PRESCRIPTION_TREATMENT_WEBSITE_EN
          - PRESCRIPTION_TREATMENT_WEBSITE_ES
          - PRESCRIPTION_DEVICE_WEBSITE_EN
          - PRESCRIPTION_DEVICE_WEBSITE_ES
          - MEDICAL_DEVICE_WEBSITE_EN
          - MEDICAL_DEVICE_WEBSITE_ES
          - PREVENTATIVE_TREATMENT_WEBSITE_EN
          - PREVENTATIVE_TREATMENT_WEBSITE_ES
          - PRESCRIPTION_CONTRACEPTION_WEBSITE_EN
          - PRESCRIPTION_CONTRACEPTION_WEBSITE_ES
          - PRESCRIPTION_VACCINE_WEBSITE_EN
          - PRESCRIPTION_VACCINE_WEBSITE_ES
        vanityPharmaDisplayUrlMode:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Replace vanity pharma URL with manufacturer website url.
          - Replace vanity pharma URL with description of the website.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - MANUFACTURER_WEBSITE_URL
          - WEBSITE_DESCRIPTION
          type: string
          description: The display mode for vanity pharma URLs.
      description: Describes how unbranded pharma ads will be displayed.
    GoogleAdsGoogleadsV25Resources_ListingGroupFilterDimension_ProductType:
      type: object
      properties:
        value:
          description: Value of the type.
          type: string
        level:
          type: string
          description: Level of the type.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Level 1.
          - Level 2.
          - Level 3.
          - Level 4.
          - Level 5.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - LEVEL1
          - LEVEL2
          - LEVEL3
          - LEVEL4
          - LEVEL5
      description: Type of a product offer.
    GoogleAdsGoogleadsV25Common__HotelIdInfo:
      description: Advertiser-specific hotel ID.
      type: object
      properties:
        value:
          description: String value of the hotel ID.
          type: string
    GoogleAdsGoogleadsV25Resources__AdGroupAd:
      type: object
      properties:
        status:
          type: string
          description: The status of the ad.
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - The ad group ad is enabled.
          - The ad group ad is paused.
          - The ad group ad is removed.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - PAUSED
          - REMOVED
        primaryStatus:
          x-enumDescriptions:
          - No value has been specified.
          - Used for return value only. Represents value unknown in this version.
          - The ad group ad is eligible to serve.
          - The ad group ad is paused.
          - The ad group ad is removed.
          - The ad cannot serve now, but may serve later without advertiser action.
          - The ad group ad is serving in a limited capacity.
          - The ad group ad is not eligible to serve.
          description: Output only. Provides aggregated view into why an ad group ad is not serving or not serving optimally.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ELIGIBLE
          - PAUSED
          - REMOVED
          - PENDING
          - LIMITED
          - NOT_ELIGIBLE
        adStrength:
          description: Output only. Overall ad strength for this ad group ad.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - PENDING
          - NO_ADS
          - POOR
          - AVERAGE
          - GOOD
          - EXCELLENT
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The ad strength is currently pending.
          - No ads could be generated.
          - Poor strength.
          - Average strength.
          - Good strength.
          - Excellent strength.
        actionItems:
          description: Output only. A list of recommendations to improve the ad strength. For example, a recommendation could be "Try adding a few more unique headlines or unpinning some assets.".
          items:
            type: string
          type: array
        policySummary:
          description: Output only. Policy information for the ad.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroupAdPolicySummary'
        ad:
          description: Immutable. The ad.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__Ad'
        primaryStatusReasons:
          description: Output only. Provides reasons for why an ad group ad is not serving or not serving optimally.
          items:
            x-enumDescriptions:
            - No value has been specified.
            - Used for return value only. Represents value unknown in this version.
            - The user-specified campaign status is removed. Contributes to AdGroupAdPrimaryStatus.REMOVED.
            - The user-specified campaign status is paused. Contributes to AdGroupAdPrimaryStatus.PAUSED.
            - The user-specified time for this campaign to start is in the future. Contributes to AdGroupAdPrimaryStatus.PENDING.
            - The user-specified time for this campaign to end has passed. Contributes to AdGroupAdPrimaryStatus.ENDED.
            - The user-specified ad group status is paused. Contributes to AdGroupAdPrimaryStatus.PAUSED.
            - The user-specified ad group status is removed. Contributes to AdGroupAdPrimaryStatus.REMOVED.
            - The user-specified ad status is paused. Contributes to AdGroupAdPrimaryStatus.PAUSED.
            - The user-specified ad status is removed. Contributes to AdGroupAdPrimaryStatus.REMOVED.
            - The ad is disapproved. Contributes to AdGroupAdPrimaryStatus.NOT_ELIGIBLE.
            - The ad is under review. Contributes to AdGroupAdPrimaryStatus.PENDING.
            - The ad is poor quality. This is determined by the serving stack that served the Ad. Contributes to AdGroupAdPrimaryStatus.LIMITED.
            - No eligible ads instances could be generated. Contributes to AdGroupAdPrimaryStatus.PENDING.
            - The ad is internally labeled with a limiting label. Contributes to AdGroupAdPrimaryStatus.LIMITED.
            - The ad is only serving in the user-specified area of interest. Contributes to AdGroupAdPrimaryStatus.LIMITED.
            - The ad is part of an ongoing appeal. This reason does not impact AdGroupAdPrimaryStatus.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - CAMPAIGN_REMOVED
            - CAMPAIGN_PAUSED
            - CAMPAIGN_PENDING
            - CAMPAIGN_ENDED
            - AD_GROUP_PAUSED
            - AD_GROUP_REMOVED
            - AD_GROUP_AD_PAUSED
            - AD_GROUP_AD_REMOVED
            - AD_GROUP_AD_DISAPPROVED
            - AD_GROUP_AD_UNDER_REVIEW
            - AD_GROUP_AD_POOR_QUALITY
            - AD_GROUP_AD_NO_ADS
            - AD_GROUP_AD_APPROVED_LABELED
            - AD_GROUP_AD_AREA_OF_INTEREST_ONLY
            - AD_GROUP_AD_UNDER_APPEAL
            type: string
          type: array
        adGroup:
          description: Immutable. The ad group to which the ad belongs.
          type: string
        labels:
          type: array
          description: Output only. The resource names of labels attached to this ad group ad.
          items:
            type: string
        startDateTime:
          type: string
          description: The date and time when ad group ad starts serving. This is added on top of the campaign's start date and time, if present, to further restrict the duration of an ad group ad. The timestamp is in the customer's time zone and in "yyyy-MM-dd HH:mm:ss" format. Only supported for some ad types.
        resourceName:
          description: 'Immutable. The resource name of the ad. Ad group ad resource names have the form: `customers/{customer_id}/adGroupAds/{ad_group_id}~{ad_id}`'
          type: string
        endDateTime:
          description: The last day and time when ad group ad serves. This is added on top of the campaign's end date and time, if present, to further restrict the duration of an ad group ad. The timestamp is in the customer's time zone and in "yyyy-MM-dd HH:mm:ss" format. Only supported for some ad types.
          type: string
        adGroupAdAssetAutomationSettings:
          type: array
          description: Settings that control the types of asset automation. See the AssetAutomationTypeEnum documentation for the default opt in/out behavior of each type.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroupAdAssetAutomationSetting'
      description: An ad group ad.
    GoogleAdsGoogleadsV25Services__MutateAdGroupCriterionCustomizerResult:
      description: The result for the ad group criterion customizer mutate.
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        adGroupCriterionCustomizer:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroupCriterionCustomizer'
          description: The mutated AdGroupCriterionCustomizer with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Resources_Campaign_AssetAutomationSetting:
      description: Asset automation setting contains pair of AssetAutomationType and the asset automation opt-in/out status
      type: object
      properties:
        assetAutomationType:
          x-enumDescriptions:
          - Not specified.
          - Used as a return value only. Represents value unknown in this version.
          - Text asset automation (text customization) includes headlines and descriptions, allowing Google to create customized text assets using your existing ads, landing page copy, and generative AI across your campaign's ads. By default, advertisers are opted-in for Performance Max and opted-out for Search. Contrast this with `FINAL_URL_EXPANSION_TEXT_ASSET_AUTOMATION`, which dynamically generates text assets to match the content of dynamically selected landing pages when final URL expansion is active.
          - Converts horizontal video assets to vertical orientation using content-aware technology. By default, advertisers are opted in for DemandGenVideoResponsiveAdInfo.
          - Shortens video assets to better capture user attention using content-aware technology. By default, advertisers are opted in for DemandGenVideoResponsiveAdInfo.
          - Generates a preview of the landing page shown in the engagement panel. By using this feature, you confirm that you own all legal rights to the images on the landing page used by this account (or you have permission to share the images with Google). You hereby instruct Google to publish these images on your behalf for advertising or other commercial purposes.
          - Generates text information from the landing page to be shown in the engagement panel. Opted in by default for DemandGenVideoResponsiveAdInfo.
          - Generates video enhancements (vertical and shorter videos) for PMax campaigns. Opted in by default.
          - Generates image enhancements (AutoCrop and AutoEnhance). Opted in by default for pmax.
          - Generates image extraction. It defaults to account level Dynamic Image Extension control value.
          - Adds design elements and embeds text assets into image assets to create images with different aspect ratios. By default, advertisers are opted in for DemandGenMultiAssetAd.
          - Controls automation for text assets related to Final URL expansion. This includes automatically creating dynamic landing pages from the final URL and generating text assets from the content of those landing pages. This setting is turned OFF by default for Search campaigns, but it is turned ON by default for Performance Max campaigns. Enabling final URL expansion also enables text asset automation. There is no way to opt out of text asset automation and still use final URL expansion. Contrast this with standard `TEXT_ASSET_AUTOMATION` (text customization), which customizes copy across all ads in the campaign even when final URL expansion does not occur.
          - Generates videos using other Assets as input, such as images and text. By default, advertisers are opted in for DemandGenMultiAssetAd.
          - Generates animated images using other Assets as input, such as images and text. By default, advertisers are opted in for DemandGenMultiAssetAd.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - TEXT_ASSET_AUTOMATION
          - GENERATE_VERTICAL_YOUTUBE_VIDEOS
          - GENERATE_SHORTER_YOUTUBE_VIDEOS
          - GENERATE_LANDING_PAGE_PREVIEW
          - GENERATE_LANDING_PAGE_TEXT
          - GENERATE_ENHANCED_YOUTUBE_VIDEOS
          - GENERATE_IMAGE_ENHANCEMENT
          - GENERATE_IMAGE_EXTRACTION
          - GENERATE_DESIGN_VERSIONS_FOR_IMAGES
          - FINAL_URL_EXPANSION_TEXT_ASSET_AUTOMATION
          - GENERATE_VIDEOS_FROM_OTHER_ASSETS
          - GENERATE_ANIMATED_IMAGES_FROM_OTHER_ASSETS
          type: string
          description: The asset automation type advertiser would like to opt-in/out.
        assetAutomationStatus:
          description: The opt-in/out status of asset automation type.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used as a return value only. Represents value unknown in this version.
          - Opted-in will enable generating and serving an asset automation type.
          - Opted-out will stop generating and serving an asset automation type.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - OPTED_IN
          - OPTED_OUT
    GoogleAdsGoogleadsV25Common__AudienceSegmentDimension:
      description: Dimension specifying users by their membership in other audience segments.
      type: object
      properties:
        segments:
          description: Included audience segments. Users are included if they belong to at least one segment.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AudienceSegment'
          type: array
    GoogleAdsGoogleadsV25Services__MutateBatchJobRequest:
      description: Request message for BatchJobService.MutateBatchJob.
      type: object
      properties:
        operation:
          description: Required. The operation to perform on an individual batch job.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__BatchJobOperation'
    GoogleAdsGoogleadsV25Services__MutateCustomConversionGoalResult:
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        customConversionGoal:
          description: The mutated CustomConversionGoal with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CustomConversionGoal'
      description: The result for the custom conversion goal mutate.
    GoogleAdsGoogleadsV25Services__MutateConversionGoalCampaignConfigResult:
      description: The result for the conversion goal campaign config mutate.
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        conversionGoalCampaignConfig:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__ConversionGoalCampaignConfig'
          description: The mutated ConversionGoalCampaignConfig with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Services__UserListOperation:
      type: object
      properties:
        remove:
          description: 'Remove operation: A resource name for the removed user list is expected, in this format: `customers/{customer_id}/userLists/{user_list_id}`'
          type: string
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__UserList'
          description: 'Update operation: The user list is expected to have a valid resource name.'
        updateMask:
          type: string
          description: FieldMask that determines which resource fields are modified in an update.
          format: google-fieldmask
        create:
          description: 'Create operation: No resource name is expected for the new user list.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__UserList'
      description: A single operation (create, update) on a user list.
    GoogleAdsGoogleadsV25Resources_Campaign_TravelCampaignSettings:
      type: object
      properties:
        travelAccountId:
          description: Immutable. The Travel account ID associated with the Travel campaign.
          type: string
          format: int64
      description: Settings for Travel campaign.
    GoogleAdsGoogleadsV25Common__DemandGenCarouselCardAsset:
      type: object
      properties:
        headline:
          type: string
          description: Required. Headline of the carousel card.
        callToActionText:
          description: Call to action text.
          type: string
        portraitMarketingImageAsset:
          type: string
          description: Asset resource name of the associated 4:5 portrait marketing image.
        marketingImageAsset:
          description: Asset resource name of the associated 1.91:1 marketing image. This and/or square marketing image asset is required.
          type: string
        squareMarketingImageAsset:
          type: string
          description: Asset resource name of the associated square marketing image. This and/or a marketing image asset is required.
      description: A Demand Gen Carousel Card asset.
    GoogleAdsGoogleadsV25Services__MutateAdGroupBidModifierResult:
      description: The result for the criterion mutate.
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        adGroupBidModifier:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroupBidModifier'
          description: The mutated ad group bid modifier with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Resources__AdGroupBidModifier:
      type: object
      properties:
        bidModifierSource:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The bid modifier is specified at the campaign level, on the campaign level criterion.
          - The bid modifier is specified (overridden) at the ad group level.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CAMPAIGN
          - AD_GROUP
          description: Output only. Bid modifier source.
          type: string
        adGroup:
          description: Immutable. The ad group to which this criterion belongs.
          type: string
        resourceName:
          description: 'Immutable. The resource name of the ad group bid modifier. Ad group bid modifier resource names have the form: `customers/{customer_id}/adGroupBidModifiers/{ad_group_id}~{criterion_id}`'
          type: string
        hotelDateSelectionType:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelDateSelectionTypeInfo'
          description: Immutable. Criterion for hotel date selection (default dates versus user selected).
        bidModifier:
          description: 'The modifier for the bid when the criterion matches. The modifier must be in the range: 0.1 - 10.0. Use 0 to opt out of a Device type.'
          type: number
          format: double
        baseAdGroup:
          description: Output only. The base ad group from which this draft/trial adgroup bid modifier was created. If ad_group is a base ad group then this field will be equal to ad_group. If the ad group was created in the draft or trial and has no corresponding base ad group, then this field will be null. This field is readonly.
          type: string
        hotelCheckInDateRange:
          description: Immutable. Criterion for a hotel check-in date range.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelCheckInDateRangeInfo'
        hotelCheckInDay:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelCheckInDayInfo'
          description: Immutable. Criterion for day of the week the booking is for.
        criterionId:
          description: Output only. The ID of the criterion to bid modify. This field is ignored for mutates.
          type: string
          format: int64
        hotelAdvanceBookingWindow:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelAdvanceBookingWindowInfo'
          description: Immutable. Criterion for number of days prior to the stay the booking is being made.
        hotelLengthOfStay:
          description: Immutable. Criterion for length of hotel stay in nights.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelLengthOfStayInfo'
        device:
          description: Immutable. A device criterion.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__DeviceInfo'
      description: Represents an ad group bid modifier.
    GoogleAdsGoogleadsV25Services__MutateAssetGroupSignalResult:
      description: The result for the asset group signal mutate.
      type: object
      properties:
        resourceName:
          type: string
          description: Returned for successful operations.
        assetGroupSignal:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AssetGroupSignal'
          description: The mutated AssetGroupSignal with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Common__LeadFormDeliveryMethod:
      type: object
      properties:
        webhook:
          description: Webhook method of delivery.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__WebhookDelivery'
      description: A configuration of how leads are delivered to the advertiser.
    GoogleAdsGoogleadsV25Services__ConversionValueRuleOperation:
      description: A single operation (create, update, remove) on a conversion value rule.
      type: object
      properties:
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__ConversionValueRule'
          description: 'Update operation: The conversion value rule is expected to have a valid resource name.'
        updateMask:
          description: FieldMask that determines which resource fields are modified in an update.
          type: string
          format: google-fieldmask
        create:
          description: 'Create operation: No resource name is expected for the new conversion value rule.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__ConversionValueRule'
        remove:
          description: 'Remove operation: A resource name for the removed conversion value rule is expected, in this format: `customers/{customer_id}/conversionValueRules/{conversion_value_rule_id}`'
          type: string
    GoogleAdsGoogleadsV25Resources_ListingGroupFilterDimension_ProductChannel:
      description: Locality of a product offer.
      type: object
      properties:
        channel:
          type: string
          description: Value of the locality.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The item is sold online.
          - The item is sold in local stores.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ONLINE
          - LOCAL
    GoogleAdsGoogleadsV25Services__MutateCustomerAssetResult:
      type: object
      properties:
        resourceName:
          type: string
          description: Returned for successful operations.
        customerAsset:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CustomerAsset'
          description: The mutated customer asset with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
      description: The result for the customer asset mutate.
    GoogleAdsGoogleadsV25Resources_ConversionAction_AttributionModelSettings:
      type: object
      properties:
        attributionModel:
          description: The attribution model type of this conversion action.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Uses external attribution.
          - Attributes all credit for a conversion to its last click.
          - Attributes all credit for a conversion to its first click using Google Search attribution.
          - Attributes credit for a conversion equally across all of its clicks using Google Search attribution.
          - Attributes exponentially more credit for a conversion to its more recent clicks using Google Search attribution (half-life is 1 week).
          - Attributes 40% of the credit for a conversion to its first and last clicks. Remaining 20% is evenly distributed across all other clicks. This uses Google Search attribution.
          - Flexible model that uses machine learning to determine the appropriate distribution of credit among clicks using Google Search attribution.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - EXTERNAL
          - GOOGLE_ADS_LAST_CLICK
          - GOOGLE_SEARCH_ATTRIBUTION_FIRST_CLICK
          - GOOGLE_SEARCH_ATTRIBUTION_LINEAR
          - GOOGLE_SEARCH_ATTRIBUTION_TIME_DECAY
          - GOOGLE_SEARCH_ATTRIBUTION_POSITION_BASED
          - GOOGLE_SEARCH_ATTRIBUTION_DATA_DRIVEN
        dataDrivenModelStatus:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - AVAILABLE
          - STALE
          - EXPIRED
          - NEVER_GENERATED
          type: string
          description: Output only. The status of the data-driven attribution model for the conversion action.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The data driven model is available.
          - The data driven model is stale. It hasn't been updated for at least 7 days. It is still being used, but will become expired if it does not get updated for 30 days.
          - The data driven model expired. It hasn't been updated for at least 30 days and cannot be used. Most commonly this is because there hasn't been the required number of events in a recent 30-day period.
          - The data driven model has never been generated. Most commonly this is because there has never been the required number of events in any 30-day period.
      description: Settings related to this conversion action's attribution model.
    GoogleAdsGoogleadsV25Resources_Campaign_AppCampaignSetting:
      description: Campaign-level settings for App Campaigns.
      type: object
      properties:
        biddingStrategyGoalType:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Aim to maximize the number of app installs. The cpa bid is the target cost per install.
          - Aim to maximize the long term number of selected in-app conversions from app installs. The cpa bid is the target cost per install.
          - Aim to maximize the long term number of selected in-app conversions from app installs. The cpa bid is the target cost per in-app conversion. Note that the actual cpa may seem higher than the target cpa at first, since the long term conversions haven't happened yet.
          - Aim to maximize all conversions' value, for example, install + selected in-app conversions while achieving or exceeding target return on advertising spend.
          - Aim to maximize the pre-registration of the app.
          - Aim to maximize installation of the app without target cost-per-install.
          - Aim to maximize the selected in-app conversion's volume while spending the full budget. No advertiser-specific target CPA.
          - Aim to maximize total conversion value, such as install and selected in-app conversions, while spending the full budget. No advertiser-specified target ROAS.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - OPTIMIZE_INSTALLS_TARGET_INSTALL_COST
          - OPTIMIZE_IN_APP_CONVERSIONS_TARGET_INSTALL_COST
          - OPTIMIZE_IN_APP_CONVERSIONS_TARGET_CONVERSION_COST
          - OPTIMIZE_RETURN_ON_ADVERTISING_SPEND
          - OPTIMIZE_PRE_REGISTRATION_CONVERSION_VOLUME
          - OPTIMIZE_INSTALLS_WITHOUT_TARGET_INSTALL_COST
          - OPTIMIZE_IN_APP_CONVERSIONS_WITHOUT_TARGET_CPA
          - OPTIMIZE_TOTAL_VALUE_WITHOUT_TARGET_ROAS
          description: Represents the goal which the bidding strategy of this app campaign should optimize towards.
          type: string
        appStore:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Apple app store.
          - Google play.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - APPLE_APP_STORE
          - GOOGLE_APP_STORE
          type: string
          description: Immutable. The application store that distributes this specific app.
        appId:
          description: Immutable. A string that uniquely identifies a mobile application.
          type: string
    GoogleAdsGoogleadsV25Common__PriceAsset:
      type: object
      properties:
        priceQualifier:
          description: The price qualifier of the price asset.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - '''From'' qualifier for the price.'
          - '''Up to'' qualifier for the price.'
          - '''Average'' qualifier for the price.'
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - FROM
          - UP_TO
          - AVERAGE
        languageCode:
          description: Required. The language of the price asset. Represented as BCP 47 language tag.
          type: string
        type:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The type for showing a list of brands.
          - The type for showing a list of events.
          - The type for showing locations relevant to your business.
          - The type for showing sub-regions or districts within a city or region.
          - The type for showing a collection of product categories.
          - The type for showing a collection of related product tiers.
          - The type for showing a collection of services offered by your business.
          - The type for showing a collection of service categories.
          - The type for showing a collection of related service tiers.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - BRANDS
          - EVENTS
          - LOCATIONS
          - NEIGHBORHOODS
          - PRODUCT_CATEGORIES
          - PRODUCT_TIERS
          - SERVICES
          - SERVICE_CATEGORIES
          - SERVICE_TIERS
          type: string
          description: Required. The type of the price asset.
        priceOfferings:
          description: The price offerings of the price asset. The size of this collection should be between 3 and 8, inclusive.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PriceOffering'
          type: array
      description: An asset representing a list of price offers.
    GoogleAdsGoogleadsV25Resources_Campaign_AudienceSetting:
      description: Settings for the audience targeting.
      type: object
      properties:
        useAudienceGrouped:
          type: boolean
          description: Immutable. If true, this campaign uses an Audience resource for audience targeting. If false, this campaign may use audience segment criteria instead.
    GoogleAdsGoogleadsV25Common__ActivityCountryInfo:
      description: The country where the travel activity is available.
      type: object
      properties:
        value:
          type: string
          description: String value of the activity country. The Geo Target Constant resource name.
    GoogleAdsGoogleadsV25Common__AudienceDimension:
      description: Positive dimension specifying user's audience.
      type: object
      properties:
        age:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AgeDimension'
          description: Dimension specifying users by their age.
        gender:
          description: Dimension specifying users by their gender.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__GenderDimension'
        parentalStatus:
          description: Dimension specifying users by their parental status.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__ParentalStatusDimension'
        householdIncome:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HouseholdIncomeDimension'
          description: Dimension specifying users by their household income.
        audienceSegments:
          description: Dimension specifying users by their membership in other audience segments.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AudienceSegmentDimension'
    GoogleAdsGoogleadsV25Common__HotelAdInfo:
      description: A hotel ad.
      type: object
      properties: {}
    GoogleAdsGoogleadsV25Common__VideoOutstreamAdInfo:
      description: Representation of video out-stream ad format (ad shown alongside a feed with automatic playback, without sound).
      type: object
      properties:
        headline:
          description: The headline of the ad.
          type: string
        description:
          type: string
          description: The description line.
    GoogleAdsGoogleadsV25Resources__AssetPolicySummary:
      description: Contains policy information for an asset.
      type: object
      properties:
        approvalStatus:
          type: string
          description: Output only. The overall approval status of this asset, calculated based on the status of its individual policy topic entries.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DISAPPROVED
          - APPROVED_LIMITED
          - APPROVED
          - AREA_OF_INTEREST_ONLY
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - Will not serve.
          - Serves with restrictions.
          - Serves without restrictions.
          - Will not serve in targeted countries, but may serve for users who are searching for information about the targeted countries.
        policyTopicEntries:
          description: Output only. The list of policy findings for this asset.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PolicyTopicEntry'
          type: array
        reviewStatus:
          description: Output only. Where in the review process this asset is.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - REVIEW_IN_PROGRESS
          - REVIEWED
          - UNDER_APPEAL
          - ELIGIBLE_MAY_SERVE
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - Currently under review.
          - Primary review complete. Other reviews may be continuing.
          - The resource has been resubmitted for approval or its policy decision has been appealed.
          - The resource is eligible and may be serving but could still undergo further review.
    GoogleAdsGoogleadsV25Common__LeadFormField:
      description: One input field instance within a form.
      type: object
      properties:
        inputType:
          type: string
          description: Describes the input type, which may be a predefined type such as "full name" or a pre-vetted question like "What kind of vehicle do you have?".
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The user will be asked to fill in their given and family name. This field cannot be set at the same time as GIVEN_NAME or FAMILY_NAME.
          - The user will be asked to fill in their email address.
          - The user will be asked to fill in their phone number.
          - The user will be asked to fill in their zip code.
          - The user will be asked to fill in their street address.
          - The user will be asked to fill in their city.
          - The user will be asked to fill in their region part of the address (for example, state for US, province for Canada).
          - The user will be asked to fill in their country.
          - The user will be asked to fill in their work email address.
          - The user will be asked to fill in their company name.
          - The user will be asked to fill in their work phone.
          - The user will be asked to fill in their job title.
          - The user will be asked to fill in their CPF for Brazil users.
          - The user will be asked to fill in their DNI for Argentina users.
          - The user will be asked to fill in their DNI for Peru users.
          - The user will be asked to fill in their RUT for Chile users.
          - The user will be asked to fill in their CC for Colombia users.
          - The user will be asked to fill in their CI for Ecuador users.
          - The user will be asked to fill in their RFC for Mexico users.
          - The user will be asked to fill in their first name. This field can not be set at the same time as FULL_NAME.
          - The user will be asked to fill in their last name. This field can not be set at the same time as FULL_NAME.
          - 'Question: "Which model are you interested in?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which type of vehicle are you interested in?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your preferred dealership?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "When do you plan on purchasing a vehicle?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Do you own a vehicle?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What vehicle ownership option are you interested in?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What type of vehicle condition are you interested in?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What size is your company?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your annual sales volume?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "How many years have you been in business?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your job department?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your job role?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 18 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 19 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 20 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 21 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 22 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 23 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 24 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 25 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 26 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 27 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 28 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 29 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 30 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 31 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 32 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 33 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 34 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 35 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 36 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 37 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 38 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 39 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 40 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 41 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 42 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 43 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 44 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 45 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 46 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 47 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 48 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 49 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 50 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 51 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 52 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 53 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 54 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 55 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 56 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 57 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 58 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 59 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 60 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 61 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 62 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 63 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 64 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 65 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which program are you interested in?" Category: "Education" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which course are you interested in?" Category: "Education" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which product are you interested in?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which service are you interested in?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which offer are you interested in?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which category are you interested in?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your preferred method of contact?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your preferred location?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is the best time to contact you?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "When are you looking to make a purchase?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "How many years of work experience do you have?" Category: "Jobs" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What industry do you work in?" Category: "Jobs" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your highest level of education?" Category: "Jobs" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What type of property are you looking for?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What do you need a realtor''s help with?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What neighborhood are you interested in?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What price range are you looking for?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "How many bedrooms are you looking for?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you looking for a fully furnished property?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you looking for properties that allow pets?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is the next product you plan to purchase?" Category: "Retail" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Would you like to sign up for an event?" Category: "Retail" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Where are you interested in shopping?" Category: "Retail" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your favorite brand?" Category: "Retail" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which type of valid commercial license do you have?" Category: "Transportation" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Interested in booking an event?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your destination country?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your destination city?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your departure country?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your departure city?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your departure date?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your return date?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "How many people are you traveling with?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your travel budget?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Where do you want to stay during your travel?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - FULL_NAME
          - EMAIL
          - PHONE_NUMBER
          - POSTAL_CODE
          - STREET_ADDRESS
          - CITY
          - REGION
          - COUNTRY
          - WORK_EMAIL
          - COMPANY_NAME
          - WORK_PHONE
          - JOB_TITLE
          - GOVERNMENT_ISSUED_ID_CPF_BR
          - GOVERNMENT_ISSUED_ID_DNI_AR
          - GOVERNMENT_ISSUED_ID_DNI_PE
          - GOVERNMENT_ISSUED_ID_RUT_CL
          - GOVERNMENT_ISSUED_ID_CC_CO
          - GOVERNMENT_ISSUED_ID_CI_EC
          - GOVERNMENT_ISSUED_ID_RFC_MX
          - FIRST_NAME
          - LAST_NAME
          - VEHICLE_MODEL
          - VEHICLE_TYPE
          - PREFERRED_DEALERSHIP
          - VEHICLE_PURCHASE_TIMELINE
          - VEHICLE_OWNERSHIP
          - VEHICLE_PAYMENT_TYPE
          - VEHICLE_CONDITION
          - COMPANY_SIZE
          - ANNUAL_SALES
          - YEARS_IN_BUSINESS
          - JOB_DEPARTMENT
          - JOB_ROLE
          - OVER_18_AGE
          - OVER_19_AGE
          - OVER_20_AGE
          - OVER_21_AGE
          - OVER_22_AGE
          - OVER_23_AGE
          - OVER_24_AGE
          - OVER_25_AGE
          - OVER_26_AGE
          - OVER_27_AGE
          - OVER_28_AGE
          - OVER_29_AGE
          - OVER_30_AGE
          - OVER_31_AGE
          - OVER_32_AGE
          - OVER_33_AGE
          - OVER_34_AGE
          - OVER_35_AGE
          - OVER_36_AGE
          - OVER_37_AGE
          - OVER_38_AGE
          - OVER_39_AGE
          - OVER_40_AGE
          - OVER_41_AGE
          - OVER_42_AGE
          - OVER_43_AGE
          - OVER_44_AGE
          - OVER_45_AGE
          - OVER_46_AGE
          - OVER_47_AGE
          - OVER_48_AGE
          - OVER_49_AGE
          - OVER_50_AGE
          - OVER_51_AGE
          - OVER_52_AGE
          - OVER_53_AGE
          - OVER_54_AGE
          - OVER_55_AGE
          - OVER_56_AGE
          - OVER_57_AGE
          - OVER_58_AGE
          - OVER_59_AGE
          - OVER_60_AGE
          - OVER_61_AGE
          - OVER_62_AGE
          - OVER_63_AGE
          - OVER_64_AGE
          - OVER_65_AGE
          - EDUCATION_PROGRAM
          - EDUCATION_COURSE
          - PRODUCT
          - SERVICE
          - OFFER
          - CATEGORY
          - PREFERRED_CONTACT_METHOD
          - PREFERRED_LOCATION
          - PREFERRED_CONTACT_TIME
          - PURCHASE_TIMELINE
          - YEARS_OF_EXPERIENCE
          - JOB_INDUSTRY
          - LEVEL_OF_EDUCATION
          - PROPERTY_TYPE
          - REALTOR_HELP_GOAL
          - PROPERTY_COMMUNITY
          - PRICE_RANGE
          - NUMBER_OF_BEDROOMS
          - FURNISHED_PROPERTY
          - PETS_ALLOWED_PROPERTY
          - NEXT_PLANNED_PURCHASE
          - EVENT_SIGNUP_INTEREST
          - PREFERRED_SHOPPING_PLACES
          - FAVORITE_BRAND
          - TRANSPORTATION_COMMERCIAL_LICENSE_TYPE
          - EVENT_BOOKING_INTEREST
          - DESTINATION_COUNTRY
          - DESTINATION_CITY
          - DEPARTURE_COUNTRY
          - DEPARTURE_CITY
          - DEPARTURE_DATE
          - RETURN_DATE
          - NUMBER_OF_TRAVELERS
          - TRAVEL_BUDGET
          - TRAVEL_ACCOMMODATION
        singleChoiceAnswers:
          description: Answer configuration for a single choice question. Can be set only for pre-vetted question fields. Minimum of 2 answers required and maximum of 12 allowed.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__LeadFormSingleChoiceAnswers'
        hasLocationAnswer:
          description: Answer configuration for location question. If true, campaign/account level location data (state, city, business name etc) will be rendered on the Lead Form. Starting V13.1, has_location_answer can only be set for "What is your preferred dealership?" question, for advertisers with Location Assets setup at campaign/account level.
          type: boolean
    GoogleAdsGoogleadsV25Common__AdVideoAssetInventoryPreferences:
      type: object
      properties:
        inStreamPreference:
          description: When true, YouTube Video Asset with this inventory preference will be preferred when choosing a video to serve In Stream.
          type: boolean
        shortsPreference:
          type: boolean
          description: When true, YouTube Video Asset with this inventory preference will be preferred when choosing a video to serve on YouTube Shorts.
        inFeedPreference:
          description: When true, YouTube Video Asset with this inventory preference will be preferred when choosing a video to serve In Feed.
          type: boolean
      description: YouTube Video Asset inventory preferences.
    GoogleAdsGoogleadsV25Services__MutateAssetGroupResult:
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
      description: The result for the asset group mutate.
    GoogleAdsGoogleadsV25Resources__CampaignAsset:
      type: object
      properties:
        campaign:
          type: string
          description: Immutable. The campaign to which the asset is linked.
        resourceName:
          type: string
          description: 'Immutable. The resource name of the campaign asset. CampaignAsset resource names have the form: `customers/{customer_id}/campaignAssets/{campaign_id}~{asset_id}~{field_type}`'
        fieldType:
          type: string
          description: Immutable. Role that the asset takes under the linked campaign. Required.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset is linked for use as a headline.
          - The asset is linked for use as a description.
          - The asset is linked for use as mandatory ad text.
          - The asset is linked for use as a marketing image.
          - The asset is linked for use as a media bundle.
          - The asset is linked for use as a YouTube video.
          - The asset is linked to indicate that a hotels campaign is "Book on Google" enabled.
          - The asset is linked for use as a Lead Form extension.
          - The asset is linked for use as a Promotion extension.
          - The asset is linked for use as a Callout extension.
          - The asset is linked for use as a Structured Snippet extension.
          - The asset is linked for use as a Sitelink.
          - The asset is linked for use as a Mobile App extension.
          - The asset is linked for use as a Hotel Callout extension.
          - The asset is linked for use as a Call extension.
          - The asset is linked for use as a Price extension.
          - The asset is linked for use as a long headline.
          - The asset is linked for use as a business name.
          - The asset is linked for use as a square marketing image.
          - The asset is linked for use as a portrait marketing image.
          - The asset is linked for use as a logo.
          - The asset is linked for use as a landscape logo.
          - The asset is linked for use as a non YouTube logo.
          - The asset is linked for use to select a call-to-action.
          - The asset is linked for use to select an ad image.
          - The asset is linked for use as a business logo.
          - The asset is linked for use as a hotel property in a Performance Max for travel goals campaign.
          - The asset is linked for use as a Demand Gen carousel card.
          - The asset is linked for use as a Business Message.
          - The asset is linked for use as a tall portrait marketing image.
          - The asset is linked for use as related YouTube videos.
          - The asset is linked for use as a landing page preview image.
          - The asset is linked for use as a long description.
          - The asset is linked for use as a call-to-action.
          - The asset is linked for use as a classic display image.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - HEADLINE
          - DESCRIPTION
          - MANDATORY_AD_TEXT
          - MARKETING_IMAGE
          - MEDIA_BUNDLE
          - YOUTUBE_VIDEO
          - BOOK_ON_GOOGLE
          - LEAD_FORM
          - PROMOTION
          - CALLOUT
          - STRUCTURED_SNIPPET
          - SITELINK
          - MOBILE_APP
          - HOTEL_CALLOUT
          - CALL
          - PRICE
          - LONG_HEADLINE
          - BUSINESS_NAME
          - SQUARE_MARKETING_IMAGE
          - PORTRAIT_MARKETING_IMAGE
          - LOGO
          - LANDSCAPE_LOGO
          - VIDEO
          - CALL_TO_ACTION_SELECTION
          - AD_IMAGE
          - BUSINESS_LOGO
          - HOTEL_PROPERTY
          - DEMAND_GEN_CAROUSEL_CARD
          - BUSINESS_MESSAGE
          - TALL_PORTRAIT_MARKETING_IMAGE
          - RELATED_YOUTUBE_VIDEOS
          - LANDING_PAGE_PREVIEW
          - LONG_DESCRIPTION
          - CALL_TO_ACTION
          - CLASSIC_DISPLAY_IMAGE
        status:
          description: Status of the campaign asset.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Asset link is enabled.
          - Asset link has been removed.
          - Asset link is paused.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - REMOVED
          - PAUSED
        asset:
          description: Immutable. The asset which is linked to the campaign.
          type: string
        source:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ADVERTISER
          - AUTOMATICALLY_CREATED
          type: string
          description: Output only. Source of the campaign asset link.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset or asset link is provided by advertiser.
          - The asset or asset link is generated by Google.
        primaryStatusReasons:
          description: Output only. Provides a list of reasons for why an asset is not serving or not serving at full capacity.
          items:
            type: string
            x-enumDescriptions:
            - Not specified.
            - Used for return value only. Represents value unknown in this version.
            - The asset is paused for its linked rollup level. Contributes to a PrimaryStatus of PAUSED.
            - The asset is removed for its linked rollup level. Contributes to a PrimaryStatus of REMOVED.
            - The asset has been marked as disapproved. Contributes to a PrimaryStatus of NOT_ELIGIBLE
            - The asset has not completed policy review. Contributes to a PrimaryStatus of PENDING.
            - The asset is approved with policies applied. Contributes to a PrimaryStatus of LIMITED.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - ASSET_LINK_PAUSED
            - ASSET_LINK_REMOVED
            - ASSET_DISAPPROVED
            - ASSET_UNDER_REVIEW
            - ASSET_APPROVED_LABELED
          type: array
        primaryStatusDetails:
          type: array
          description: Output only. Provides the details of the primary status and its associated reasons.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AssetLinkPrimaryStatusDetails'
        primaryStatus:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ELIGIBLE
          - PAUSED
          - REMOVED
          - PENDING
          - LIMITED
          - NOT_ELIGIBLE
          description: Output only. Provides the PrimaryStatus of this asset link. Primary status is meant essentially to differentiate between the plain "status" field, which has advertiser set values of enabled, paused, or removed. The primary status takes into account other signals (for assets its mainly policy and quality approvals) to come up with a more comprehensive status to indicate its serving state.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset is eligible to serve.
          - The user-specified asset link status is paused.
          - The user-specified asset link status is removed.
          - The asset may serve in the future.
          - The asset is serving in a partial capacity.
          - The asset is not eligible to serve.
      description: A link between a Campaign and an Asset.
    GoogleAdsGoogleadsV25Common__StructuredSnippetAsset:
      description: A Structured Snippet asset.
      type: object
      properties:
        header:
          type: string
          description: Required. The header of the snippet. This string should be one of the predefined values at https://developers.google.com/google-ads/api/reference/data/structured-snippet-headers
        values:
          type: array
          description: Required. The values in the snippet. The size of this collection should be between 3 and 10, inclusive. The length of each value should be between 1 and 25 characters, inclusive.
          items:
            type: string
    GoogleAdsGoogleadsV25Common__Commission:
      description: Commission is an automatic bidding strategy in which the advertiser pays a certain portion of the conversion value.
      type: object
      properties:
        commissionRateMicros:
          type: string
          description: Commission rate defines the portion of the conversion value that the advertiser will be billed. A commission rate of x should be passed into this field as (x * 1,000,000). For example, 106,000 represents a commission rate of 0.106 (10.6%).
          format: int64
    GoogleAdsGoogleadsV25Common__TargetImpressionShare:
      description: An automated bidding strategy that sets bids so that a certain percentage of search ads are shown at the top of the first page (or other targeted location).
      type: object
      properties:
        cpcBidCeilingMicros:
          format: int64
          description: The highest CPC bid the automated bidding system is permitted to specify. This is a required field entered by the advertiser that sets the ceiling and specified in local micros.
          type: string
        locationFractionMicros:
          format: int64
          description: The chosen fraction of ads to be shown in the targeted location in micros. For example, 1% equals 10,000.
          type: string
        location:
          description: The targeted location on the search results page.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Any location on the web page.
          - Top box of ads.
          - Top slot in the top box of ads.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ANYWHERE_ON_PAGE
          - TOP_OF_PAGE
          - ABSOLUTE_TOP_OF_PAGE
    GoogleAdsGoogleadsV25Resources__CustomerAgreementSetting:
      type: object
      properties:
        acceptedLeadFormTerms:
          description: Output only. Whether the customer has accepted lead form term of service.
          type: boolean
      description: Customer Agreement Setting for a customer.
    GoogleAdsGoogleadsV25Common__DateRange:
      type: object
      properties:
        startDate:
          type: string
          description: The start date, in yyyy-mm-dd format. This date is inclusive.
        endDate:
          description: The end date, in yyyy-mm-dd format. This date is inclusive.
          type: string
      description: A date range.
    GoogleAdsGoogleadsV25Resources__SharedSet:
      type: object
      properties:
        type:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - A set of keywords that can be excluded from targeting.
          - A set of placements that can be excluded from targeting.
          - An account-level set of keywords that can be excluded from targeting.
          - A set of brands can be included or excluded from targeting.
          - A set of webpages that can be excluded from targeting. This shared set type is not publicly available.
          - A set of vertical ads item group rules that can be included or excluded from targeting in Vertical Ads (e.g., for hotel ads).
          - A set representing Retail Filter, which is used for filtering offers served in a campaign.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - NEGATIVE_KEYWORDS
          - NEGATIVE_PLACEMENTS
          - ACCOUNT_LEVEL_NEGATIVE_KEYWORDS
          - BRANDS
          - WEBPAGES
          - VERTICAL_ADS_ITEM_GROUP_RULE_LIST
          - RETAIL_FILTER
          type: string
          description: 'Immutable. The type of this shared set: each shared set holds only a single kind of resource. Required. Immutable.'
        referenceCount:
          type: string
          description: Output only. The number of campaigns associated with this shared set. Read only.
          format: int64
        id:
          description: Output only. The ID of this shared set. Read only.
          type: string
          format: int64
        status:
          description: Output only. The status of this shared set. Read only.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - REMOVED
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The shared set is enabled.
          - The shared set is removed and can no longer be used.
        memberCount:
          format: int64
          type: string
          description: Output only. The number of shared criteria within this shared set. Read only.
        resourceName:
          type: string
          description: 'Immutable. The resource name of the shared set. Shared set resource names have the form: `customers/{customer_id}/sharedSets/{shared_set_id}`'
        name:
          description: The name of this shared set. Required. Shared Sets must have names that are unique among active shared sets of the same type. The length of this string should be between 1 and 255 UTF-8 bytes, inclusive.
          type: string
        verticalAdsItemVerticalType:
          description: Immutable. Shared sets of type VERTICAL_ADS_ITEM_GROUP_RULE_LIST are associated with a particular vertical (e.g. hotels, things to do, flights, etc.). This field is required for shared sets of type VERTICAL_ADS_ITEM_GROUP_RULE_LIST.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Hotels travel vertical.
          - Vacation rentals travel vertical.
          - Rental cars travel vertical.
          - Events travel vertical.
          - Things to do travel vertical.
          - Flights travel vertical.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - HOTELS
          - VACATION_RENTALS
          - RENTAL_CARS
          - EVENTS
          - THINGS_TO_DO
          - FLIGHTS
      description: SharedSets are used for sharing criterion exclusions across multiple campaigns.
    GoogleAdsGoogleadsV25Resources__ConversionValueRuleSet:
      description: A conversion value rule set is a collection of conversion value rules that lets you adjust conversion values based on the dimensions specified in the `dimensions` field.
      type: object
      properties:
        resourceName:
          type: string
          description: 'Immutable. The resource name of the conversion value rule set. Conversion value rule set resource names have the form: `customers/{customer_id}/conversionValueRuleSets/{conversion_value_rule_set_id}`'
        ownerCustomer:
          description: Output only. The resource name of the conversion value rule set's owner customer. When the value rule set is inherited from a manager customer, owner_customer will be the resource name of the manager whereas the customer in the resource_name will be of the requesting serving customer. ** Read-only **
          type: string
        conversionActionCategories:
          type: array
          description: Immutable. The conversion action categories of the conversion value rule set.
          items:
            type: string
            x-enumDescriptions:
            - Not specified.
            - Used for return value only. Represents value unknown in this version.
            - Default category.
            - User visiting a page.
            - Purchase, sales, or "order placed" event.
            - Signup user action.
            - Software download action (as for an app).
            - The addition of items to a shopping cart or bag on an advertiser site.
            - When someone enters the checkout flow on an advertiser site.
            - The start of a paid subscription for a product or service.
            - A call to indicate interest in an advertiser's offering.
            - A lead conversion imported from an external source into Google Ads.
            - A submission of a form on an advertiser site indicating business interest.
            - A booking of an appointment with an advertiser's business.
            - A quote or price estimate request.
            - A search for an advertiser's business location with intention to visit.
            - A click to an advertiser's partner's site.
            - A call, SMS, email, chat or other type of contact to an advertiser.
            - A website engagement event such as long site time or a Google Analytics (GA) Smart Goal. Intended to be used for GA, Firebase, GA Gold goal imports.
            - A visit to a physical store location.
            - A sale occurring in a physical store.
            - A lead conversion imported from an external source into Google Ads, that has been further qualified by the advertiser (marketing/sales team). In the lead-to-sale journey, advertisers get leads, then act on them by reaching out to the consumer. If the consumer is interested and may end up buying their product, the advertiser marks such leads as "qualified leads".
            - A lead conversion imported from an external source into Google Ads, that has further completed a chosen stage as defined by the lead gen advertiser.
[...]
