openapi: 3.2.0
info:
  title: Google Ads Customers.user Lists API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.userLists
paths:
  /v25/customers/{customersId}/userLists:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_userLists_mutate
      summary: Creates or updates user lists
      tags:
      - customers.userLists
      description: 'Creates or updates user lists. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CollectionSizeError]() [DatabaseError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotAllowlistedError]() [NotEmptyError]() [OperationAccessDeniedError]() [QuotaError]() [RangeError]() [RequestError]() [StringFormatError]() [StringLengthError]() [UserListError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer whose user lists are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateUserListsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateUserListsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Common__RuleBasedUserListInfo:
      description: Representation of a userlist that is generated by a rule.
      type: object
      properties:
        prepopulationStatus:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Prepopoulation is being requested.
          - Prepopulation is finished.
          - Prepopulation failed.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - REQUESTED
          - FINISHED
          - FAILED
          type: string
          description: The status of pre-population. The field is default to NONE if not set which means the previous users will not be considered. If set to REQUESTED, past site visitors or app users who match the list definition will be included in the list (works on the Display Network only). This will only add past users from within the last 30 days, depending on the list's membership duration and the date when the remarketing tag is added. The status will be updated to FINISHED once request is processed, or FAILED if the request fails.
        flexibleRuleUserList:
          description: Flexible rule representation of visitors with one or multiple actions. The flexible user list is defined by two lists of operands – inclusive_operands and exclusive_operands; each operand represents a set of users based on actions they took in a given timeframe. These lists of operands are combined with the AND_NOT operator, so that users represented by the inclusive operands are included in the user list, minus the users represented by the exclusive operands.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__FlexibleRuleUserListInfo'
    GoogleAdsGoogleadsV25Common__LookalikeUserListInfo:
      description: LookalikeUserlist, composed of users similar to those of a configurable seed (set of UserLists)
      type: object
      properties:
        expansionLevel:
          x-enumDescriptions:
          - Not specified.
          - Invalid expansion level.
          - Expansion to a small set of users that are similar to the seed lists
          - Expansion to a medium set of users that are similar to the seed lists. Includes all users of EXPANSION_LEVEL_NARROW, and more.
          - Expansion to a large set of users that are similar to the seed lists. Includes all users of EXPANSION_LEVEL_BALANCED, and more.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - NARROW
          - BALANCED
          - BROAD
          type: string
          description: Expansion level, reflecting the size of the lookalike audience
        countryCodes:
          description: Countries targeted by the Lookalike. Two-letter country code as defined by ISO-3166
          items:
            type: string
          type: array
        seedUserListIds:
          description: Seed UserList ID from which this list is derived, provided by user.
          items:
            type: string
            format: int64
          type: array
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Common__UserListDateRuleItemInfo:
      description: A rule item composed of a date operation.
      type: object
      properties:
        operator:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Equals.
          - Not Equals.
          - Before.
          - After.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - EQUALS
          - NOT_EQUALS
          - BEFORE
          - AFTER
          type: string
          description: Date comparison operator. This field is required and must be populated when creating new date rule item.
        offsetInDays:
          format: int64
          type: string
          description: The relative date value of the right hand side denoted by number of days offset from now. The value field will override this field when both are present.
        value:
          description: String representing date value to be compared with the rule variable. Supported date format is YYYY-MM-DD. Times are reported in the customer's time zone.
          type: string
    GoogleAdsGoogleadsV25Services__UserListOperation:
      type: object
      properties:
        remove:
          description: 'Remove operation: A resource name for the removed user list is expected, in this format: `customers/{customer_id}/userLists/{user_list_id}`'
          type: string
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__UserList'
          description: 'Update operation: The user list is expected to have a valid resource name.'
        updateMask:
          type: string
          description: FieldMask that determines which resource fields are modified in an update.
          format: google-fieldmask
        create:
          description: 'Create operation: No resource name is expected for the new user list.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__UserList'
      description: A single operation (create, update) on a user list.
    GoogleAdsGoogleadsV25Services__MutateUserListsRequest:
      description: Request message for UserListService.MutateUserLists.
      type: object
      properties:
        partialFailure:
          type: boolean
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
        operations:
          description: Required. The list of operations to perform on individual user lists.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__UserListOperation'
          type: array
        validateOnly:
          description: If true, the request is validated but not executed. Only errors are returned, not results.
          type: boolean
    GoogleAdsGoogleadsV25Common__FlexibleRuleUserListInfo:
      description: Flexible rule representation of visitors with one or multiple actions. The flexible user list is defined by two lists of operands – inclusive_operands and exclusive_operands; each operand represents a set of users based on actions they took in a given timeframe. These lists of operands are combined with the AND_NOT operator, so that users represented by the inclusive operands are included in the user list, minus the users represented by the exclusive operands.
      type: object
      properties:
        inclusiveOperands:
          description: Rules representing users that should be included in the user list. These are located on the left side of the AND_NOT operator, and joined together by either AND/OR as specified by the inclusive_rule_operator.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__FlexibleRuleOperandInfo'
          type: array
        inclusiveRuleOperator:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - A AND B.
          - A OR B.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - AND
          - OR
          description: Operator that defines how the inclusive operands are combined.
          type: string
        exclusiveOperands:
          description: Rules representing users that should be excluded from the user list. These are located on the right side of the AND_NOT operator, and joined together by OR.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__FlexibleRuleOperandInfo'
          type: array
    GoogleAdsGoogleadsV25Services__MutateUserListsResponse:
      type: object
      properties:
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateUserListResult'
          type: array
        partialFailureError:
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
          $ref: '#/components/schemas/GoogleRpc__Status'
      description: Response message for user list mutate.
    GoogleAdsGoogleadsV25Resources__UserList:
      description: 'A user list. This is a list of users a customer may target. The unique key of a user list consists of the following fields: `id`. Note that the `name` must also be unique for user lists owned by a given customer, except in some cases where `access_reason` is set to `SHARED`. Violating the unique name constraint produces error: `UserListError.INVALID_NAME`.'
      type: object
      properties:
        description:
          description: Description of this user list.
          type: string
        integrationCode:
          description: An ID from external system. It is used by user list sellers to correlate IDs on their systems.
          type: string
        accountUserListStatus:
          description: Indicates if this share is still enabled. When a UserList is shared with the user this field is set to ENABLED. Later the userList owner can decide to revoke the share and make it DISABLED. The default value of this field is set to ENABLED.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The access is enabled.
          - The access is disabled.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - DISABLED
        matchRatePercentage:
          format: int32
          description: Output only. Indicates match rate for Customer Match lists. The range of this field is [0-100]. This will be null for other list types or when it's not possible to calculate the match rate. This field is read-only.
          type: integer
        sizeRangeForDisplay:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - LESS_THAN_FIVE_HUNDRED
          - LESS_THAN_ONE_THOUSAND
          - ONE_THOUSAND_TO_TEN_THOUSAND
          - TEN_THOUSAND_TO_FIFTY_THOUSAND
          - FIFTY_THOUSAND_TO_ONE_HUNDRED_THOUSAND
          - ONE_HUNDRED_THOUSAND_TO_THREE_HUNDRED_THOUSAND
          - THREE_HUNDRED_THOUSAND_TO_FIVE_HUNDRED_THOUSAND
          - FIVE_HUNDRED_THOUSAND_TO_ONE_MILLION
          - ONE_MILLION_TO_TWO_MILLION
          - TWO_MILLION_TO_THREE_MILLION
          - THREE_MILLION_TO_FIVE_MILLION
          - FIVE_MILLION_TO_TEN_MILLION
          - TEN_MILLION_TO_TWENTY_MILLION
          - TWENTY_MILLION_TO_THIRTY_MILLION
          - THIRTY_MILLION_TO_FIFTY_MILLION
          - OVER_FIFTY_MILLION
          description: Output only. Size range in terms of number of users of the UserList, on the Google Display Network. This field is read-only.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - User list has less than 500 users.
          - User list has number of users in range of 500 to 1000.
          - User list has number of users in range of 1000 to 10000.
          - User list has number of users in range of 10000 to 50000.
          - User list has number of users in range of 50000 to 100000.
          - User list has number of users in range of 100000 to 300000.
          - User list has number of users in range of 300000 to 500000.
          - User list has number of users in range of 500000 to 1 million.
          - User list has number of users in range of 1 to 2 millions.
          - User list has number of users in range of 2 to 3 millions.
          - User list has number of users in range of 3 to 5 millions.
          - User list has number of users in range of 5 to 10 millions.
          - User list has number of users in range of 10 to 20 millions.
          - User list has number of users in range of 20 to 30 millions.
          - User list has number of users in range of 30 to 50 millions.
          - User list has over 50 million users.
        sizeRangeForSearch:
          description: Output only. Size range in terms of number of users of the UserList, for Search ads. This field is read-only.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - LESS_THAN_FIVE_HUNDRED
          - LESS_THAN_ONE_THOUSAND
          - ONE_THOUSAND_TO_TEN_THOUSAND
          - TEN_THOUSAND_TO_FIFTY_THOUSAND
          - FIFTY_THOUSAND_TO_ONE_HUNDRED_THOUSAND
          - ONE_HUNDRED_THOUSAND_TO_THREE_HUNDRED_THOUSAND
          - THREE_HUNDRED_THOUSAND_TO_FIVE_HUNDRED_THOUSAND
          - FIVE_HUNDRED_THOUSAND_TO_ONE_MILLION
          - ONE_MILLION_TO_TWO_MILLION
          - TWO_MILLION_TO_THREE_MILLION
          - THREE_MILLION_TO_FIVE_MILLION
          - FIVE_MILLION_TO_TEN_MILLION
          - TEN_MILLION_TO_TWENTY_MILLION
          - TWENTY_MILLION_TO_THIRTY_MILLION
          - THIRTY_MILLION_TO_FIFTY_MILLION
          - OVER_FIFTY_MILLION
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - User list has less than 500 users.
          - User list has number of users in range of 500 to 1000.
          - User list has number of users in range of 1000 to 10000.
          - User list has number of users in range of 10000 to 50000.
          - User list has number of users in range of 50000 to 100000.
          - User list has number of users in range of 100000 to 300000.
          - User list has number of users in range of 300000 to 500000.
          - User list has number of users in range of 500000 to 1 million.
          - User list has number of users in range of 1 to 2 millions.
          - User list has number of users in range of 2 to 3 millions.
          - User list has number of users in range of 3 to 5 millions.
          - User list has number of users in range of 5 to 10 millions.
          - User list has number of users in range of 10 to 20 millions.
          - User list has number of users in range of 20 to 30 millions.
          - User list has number of users in range of 30 to 50 millions.
          - User list has over 50 million users.
        sizeForDisplay:
          type: string
          description: Output only. Estimated number of users in this user list, on the Google Display Network. This value is null if the number of users has not yet been determined. This field is read-only.
          format: int64
        ruleBasedUserList:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__RuleBasedUserListInfo'
          description: User list generated by a rule.
        eligibleForDisplay:
          description: Output only. Indicates this user list is eligible for Google Display Network. This field is read-only.
          type: boolean
        type:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - REMARKETING
          - LOGICAL
          - EXTERNAL_REMARKETING
          - RULE_BASED
          - SIMILAR
          - CRM_BASED
          - LOOKALIKE
          description: Output only. Type of this list. This field is read-only.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - UserList represented as a collection of conversion types.
          - UserList represented as a combination of other user lists/interests.
          - UserList created in the Google Ad Manager platform.
          - UserList associated with a rule.
          - UserList with users similar to users of another UserList.
          - UserList of first-party CRM data provided by advertiser in the form of emails or other formats.
          - LookalikeUserlist, composed of users similar to those of a configurable seed (set of UserLists)
        membershipLifeSpan:
          format: int64
          description: Number of days a user's cookie stays on your list since its most recent addition to the list. This field must be between 0 and 540 inclusive. This field is ignored for `logical_user_list` and `rule_based_user_list` types. Membership to lists of these types depends on the rules defined by the lists.
          type: string
        lookalikeUserList:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__LookalikeUserListInfo'
          description: Immutable. Lookalike User List.
        membershipStatus:
          description: Membership status of this user list. Indicates whether a user list is open or active. Only open user lists can accumulate more users and can be targeted to.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Open status - List is accruing members and can be targeted to.
          - Closed status - No new members being added. Cannot be used for targeting.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - OPEN
          - CLOSED
        sizeForSearch:
          format: int64
          type: string
          description: Output only. Estimated number of users in this user list in the google.com domain. These are the users available for targeting in Search campaigns. This value is null if the number of users has not yet been determined. This field is read-only.
        basicUserList:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__BasicUserListInfo'
          description: User list targeting as a collection of conversion or remarketing actions.
        logicalUserList:
          description: User list that is a custom combination of user lists and user interests.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__LogicalUserListInfo'
        closingReason:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The userlist was closed because of not being used for over one year.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - UNUSED
          type: string
          description: Indicating the reason why this user list membership status is closed. It is only populated on lists that were automatically closed due to inactivity, and will be cleared once the list membership status becomes open.
        readOnly:
          description: Output only. An option that indicates if a user may edit a list. Depends on the list ownership and list type. For example, external remarketing user lists are not editable. This field is read-only.
          type: boolean
        eligibleForSearch:
          description: Indicates if this user list is eligible for Google Search Network.
          type: boolean
        name:
          type: string
          description: Name of this user list. Unique per user list, except in some cases where a user list of the same name has `access_reason` set to `SHARED`.
        crmBasedUserList:
          description: User list of CRM users provided by the advertiser.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__CrmBasedUserListInfo'
        id:
          format: int64
          type: string
          description: Output only. Id of the user list.
        accessReason:
          type: string
          description: Output only. Indicates the reason this account has been granted access to the list. The reason can be SHARED, OWNED, LICENSED or SUBSCRIBED. This field is read-only.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - OWNED
          - SHARED
          - LICENSED
          - SUBSCRIBED
          - AFFILIATED
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The resource is owned by the user.
          - The resource is shared to the user.
          - The resource is licensed to the user.
          - The user subscribed to the resource.
          - The resource is accessible to the user.
        resourceName:
          type: string
          description: 'Immutable. The resource name of the user list. User list resource names have the form: `customers/{customer_id}/userLists/{user_list_id}`'
        similarUserList:
          description: Output only. User list which are similar to users from another UserList. These lists are readonly and automatically created by google.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__SimilarUserListInfo'
    GoogleAdsGoogleadsV25Common__CrmBasedUserListInfo:
      type: object
      properties:
        uploadKeyType:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Members are matched from customer info such as email address, phone number or physical address.
          - Members are matched from a user id generated and assigned by the advertiser.
          - Members are matched from mobile advertising ids.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CONTACT_INFO
          - CRM_ID
          - MOBILE_ADVERTISING_ID
          description: Matching key type of the list. Mixed data types are not allowed on the same list. This field is required for an ADD operation.
          type: string
        dataSourceType:
          type: string
          description: Data source of the list. Default value is FIRST_PARTY. Only customers on the allow-list can create third-party sourced CRM lists.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The uploaded data is first-party data.
          - The uploaded data is from a third-party credit bureau.
          - The uploaded data is from a third-party voter file.
          - The uploaded data is third party partner data.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - FIRST_PARTY
          - THIRD_PARTY_CREDIT_BUREAU
          - THIRD_PARTY_VOTER_FILE
          - THIRD_PARTY_PARTNER_DATA
        appId:
          description: A string that uniquely identifies a mobile application from which the data was collected. For iOS, the ID string is the 9 digit string that appears at the end of an App Store URL (for example, "476943146" for "Flood-It! 2" whose App Store link is http://itunes.apple.com/us/app/flood-it!-2/id476943146). For Android, the ID string is the application's package name (for example, "com.labpixies.colordrips" for "Color Drips" given Google Play link https://play.google.com/store/apps/details?id=com.labpixies.colordrips). Required when creating CrmBasedUserList for uploading mobile advertising IDs.
          type: string
      description: UserList of CRM users provided by the advertiser.
    GoogleAdsGoogleadsV25Common__FlexibleRuleOperandInfo:
      type: object
      properties:
        rule:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__UserListRuleInfo'
          description: List of rule item groups that defines this rule. Rule item groups are grouped together.
        lookbackWindowDays:
          type: string
          description: Lookback window for this rule in days. From now until X days ago.
          format: int64
      description: Flexible rule that wraps the common rule and a lookback window.
    GoogleAdsGoogleadsV25Common__BasicUserListInfo:
      type: object
      properties:
        actions:
          description: Actions associated with this user list.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__UserListActionInfo'
          type: array
      description: User list targeting as a collection of conversions or remarketing actions.
    GoogleAdsGoogleadsV25Common__UserListStringRuleItemInfo:
      description: A rule item composed of a string operation.
      type: object
      properties:
        operator:
          type: string
          description: String comparison operator. This field is required and must be populated when creating a new string rule item.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Contains.
          - Equals.
          - Starts with.
          - Ends with.
          - Not equals.
          - Not contains.
          - Not starts with.
          - Not ends with.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CONTAINS
          - EQUALS
          - STARTS_WITH
          - ENDS_WITH
          - NOT_EQUALS
          - NOT_CONTAINS
          - NOT_STARTS_WITH
          - NOT_ENDS_WITH
        value:
          description: The right hand side of the string rule item. For URLs or referrer URLs, the value can not contain illegal URL chars such as newlines, quotes, tabs, or parentheses. This field is required and must be populated when creating a new string rule item.
          type: string
    GoogleAdsGoogleadsV25Common__UserListNumberRuleItemInfo:
      type: object
      properties:
        operator:
          description: Number comparison operator. This field is required and must be populated when creating a new number rule item.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Greater than.
          - Greater than or equal.
          - Equals.
          - Not equals.
          - Less than.
          - Less than or equal.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - GREATER_THAN
          - GREATER_THAN_OR_EQUAL
          - EQUALS
          - NOT_EQUALS
          - LESS_THAN
          - LESS_THAN_OR_EQUAL
        value:
          description: Number value to be compared with the variable. This field is required and must be populated when creating a new number rule item.
          type: number
          format: double
      description: A rule item composed of a number operation.
    GoogleAdsGoogleadsV25Common__UserListRuleItemGroupInfo:
      description: A group of rule items.
      type: object
      properties:
        ruleItems:
          type: array
          description: Rule items that will be grouped together based on rule_type.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__UserListRuleItemInfo'
    GoogleAdsGoogleadsV25Common__UserListRuleItemInfo:
      type: object
      properties:
        stringRuleItem:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__UserListStringRuleItemInfo'
          description: An atomic rule item composed of a string operation.
        name:
          description: Rule variable name. It should match the corresponding key name fired by the pixel. A name must begin with US-ascii letters or underscore or UTF8 code that is greater than 127 and consist of US-ascii letters or digits or underscore or UTF8 code that is greater than 127. For websites, there are two built-in variable URL (name = 'url__') and referrer URL (name = 'ref_url__'). This field must be populated when creating a new rule item.
          type: string
        numberRuleItem:
          description: An atomic rule item composed of a number operation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__UserListNumberRuleItemInfo'
        dateRuleItem:
          description: An atomic rule item composed of a date operation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__UserListDateRuleItemInfo'
      description: An atomic rule item.
    GoogleAdsGoogleadsV25Services__MutateUserListResult:
      description: The result for the user list mutate.
      type: object
      properties:
        resourceName:
          type: string
          description: Returned for successful operations.
    GoogleAdsGoogleadsV25Common__LogicalUserListOperandInfo:
      type: object
      properties:
        userList:
          type: string
          description: Resource name of a user list as an operand.
      description: Operand of logical user list that consists of a user list.
    GoogleAdsGoogleadsV25Common__UserListRuleInfo:
      description: A client defined rule based on custom parameters sent by web sites or uploaded by the advertiser.
      type: object
      properties:
        ruleType:
          type: string
          description: Rule type is used to determine how to group rule items. The default is OR of ANDs (disjunctive normal form). That is, rule items will be ANDed together within rule item groups and the groups themselves will be ORed together. OR of ANDs is the only supported type for FlexibleRuleUserList.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Conjunctive normal form.
          - Disjunctive normal form.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - AND_OF_ORS
          - OR_OF_ANDS
        ruleItemGroups:
          description: List of rule item groups that defines this rule. Rule item groups are grouped together based on rule_type.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__UserListRuleItemGroupInfo'
          type: array
    GoogleAdsGoogleadsV25Common__SimilarUserListInfo:
      type: object
      properties:
        seedUserList:
          type: string
          description: Seed UserList from which this list is derived.
      description: SimilarUserList is a list of users which are similar to users from another UserList. These lists are read-only and automatically created by Google.
    GoogleAdsGoogleadsV25Common__UserListActionInfo:
      description: Represents an action type used for building remarketing user lists.
      type: object
      properties:
        remarketingAction:
          type: string
          description: A remarketing action.
        conversionAction:
          type: string
          description: A conversion action that's not generated from remarketing.
    GoogleAdsGoogleadsV25Common__UserListLogicalRuleInfo:
      type: object
      properties:
        operator:
          type: string
          description: The logical operator of the rule.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - And - all of the operands.
          - Or - at least one of the operands.
          - Not - none of the operands.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ALL
          - ANY
          - NONE
        ruleOperands:
          type: array
          description: The list of operands of the rule.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__LogicalUserListOperandInfo'
      description: A user list logical rule. A rule has a logical operator (and/or/not) and a list of user lists as operands.
    GoogleAdsGoogleadsV25Common__LogicalUserListInfo:
      description: Represents a user list that is a custom combination of user lists.
      type: object
      properties:
        rules:
          description: Logical list rules that define this user list. The rules are defined as a logical operator (ALL/ANY/NONE) and a list of user lists. All the rules are ANDed when they are evaluated. Required for creating a logical user list.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__UserListLogicalRuleInfo'
          type: array
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
