openapi: 3.2.0
info:
  title: Google Ads Customers.asset Group Signals API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.assetGroupSignals
paths:
  /v25/customers/{customersId}/assetGroupSignals:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_assetGroupSignals_mutate
      summary: Creates or removes asset group signals
      tags:
      - customers.assetGroupSignals
      description: Creates or removes asset group signals. Operation statuses are returned.
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer whose asset group signals are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateAssetGroupSignalsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateAssetGroupSignalsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Resources__AssetGroupSignal:
      description: AssetGroupSignal represents a signal in an asset group. The existence of a signal tells the performance max campaign who's most likely to convert. Performance Max uses the signal to look for new people with similar or stronger intent to find conversions across Search, Display, Video, and more.
      type: object
      properties:
        audience:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AudienceInfo'
          description: Immutable. The audience signal to be used by the performance max campaign.
        searchTheme:
          description: Immutable. The search_theme signal to be used by the performance max campaign. Mutate errors of search_theme criterion includes AssetGroupSignalError.UNSPECIFIED AssetGroupSignalError.UNKNOWN AssetGroupSignalError.TOO_MANY_WORDS AssetGroupSignalError.SEARCH_THEME_POLICY_VIOLATION FieldError.REQUIRED StringFormatError.ILLEGAL_CHARS StringLengthError.TOO_LONG ResourceCountLimitExceededError.RESOURCE_LIMIT
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__SearchThemeInfo'
        assetGroup:
          description: Immutable. The asset group which this asset group signal belongs to.
          type: string
        approvalStatus:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - APPROVED
          - LIMITED
          - DISAPPROVED
          - UNDER_REVIEW
          description: Output only. Approval status is the output value for search theme signal after Google ads policy review. When using Audience signal, this field is not used and will be absent.
          type: string
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - Search Theme is eligible to show ads.
          - Low search volume; Below first page bid estimate.
          - Search Theme is inactive and isn't showing ads. A disapproved Search Theme usually means there's an issue with one or more of our advertising policies.
          - Search Theme is under review. It won’t be able to trigger ads until it's been reviewed.
        verticalAdsItemGroupRuleList:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__VerticalAdsItemGroupRuleListInfo'
          description: Immutable. The list of vertical ads item group rules used to select items from the attached vertical feed. This field links to a SharedSet of type VERTICAL_ADS_ITEM_GROUP_RULE_LIST. The rules within the linked SharedSet define which items from the TRAVEL_FEED AssetSet are eligible to be served. Items that do not match the rules will be excluded. This behavior is different from other signal types, which provide guidance to the optimization engine rather than determining item eligibility.
        disapprovalReasons:
          description: Output only. Computed for SearchTheme signals. When using Audience signal, this field is not used and will be absent.
          items:
            type: string
          type: array
        resourceName:
          type: string
          description: 'Immutable. The resource name of the asset group signal. Asset group signal resource name have the form: `customers/{customer_id}/assetGroupSignals/{asset_group_id}~{signal_id}`'
        localServicesId:
          description: Immutable. The local services signal to be used by the performance max campaign.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__LocalServiceIdInfo'
    GoogleAdsGoogleadsV25Services__AssetGroupSignalOperation:
      type: object
      properties:
        create:
          description: 'Create operation: No resource name is expected for the new asset group signal.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AssetGroupSignal'
        remove:
          type: string
          description: 'Remove operation: A resource name for the removed asset group signal is expected, in this format: `customers/{customer_id}/assetGroupSignals/{asset_group_id}~{criterion_id}`'
        exemptPolicyViolationKeys:
          description: Optional. The list of policy violation keys that should not cause a PolicyViolationError to be reported. Not all policy violations are exemptable, refer to the is_exemptible field in the returned PolicyViolationError. Resources violating these polices will be saved, but will not be eligible to serve. They may begin serving at a later time due to a change in policies, re-review of the resource, or a change in advertiser certificates.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PolicyViolationKey'
          type: array
      description: A single operation (create, remove) on an asset group signal.
    GoogleAdsGoogleadsV25Common__PolicyViolationKey:
      type: object
      properties:
        violatingText:
          description: The text that violates the policy if specified. Otherwise, refers to the policy in general (for example, when requesting to be exempt from the whole policy). If not specified for criterion exemptions, the whole policy is implied. Must be specified for ad exemptions.
          type: string
        policyName:
          description: Unique ID of the violated policy.
          type: string
      description: Key of the violation. The key is used for referring to a violation when filing an exemption request.
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__MutateAssetGroupSignalsRequest:
      description: Request message for AssetGroupSignalService.MutateAssetGroupSignals.
      type: object
      properties:
        partialFailure:
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
          type: boolean
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
        responseContentType:
          description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.
          type: string
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
        operations:
          description: Required. The list of operations to perform on individual asset group signals.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__AssetGroupSignalOperation'
          type: array
    GoogleAdsGoogleadsV25Common__LocalServiceIdInfo:
      description: A Local Services Ads service ID. Represents a service type (such as install_faucet) that a Local Services Campaign can target.
      type: object
      properties:
        serviceId:
          type: string
          description: The criterion resource name.
    GoogleAdsGoogleadsV25Common__VerticalAdsItemGroupRuleListInfo:
      type: object
      properties:
        sharedSet:
          description: The shared set resource name of the vertical ads item group rule list.
          type: string
      description: A criterion for targeting a shared set of rules for item groups in Vertical Ads (e.g., for hotel ads).
    GoogleAdsGoogleadsV25Common__AudienceInfo:
      description: An audience criterion.
      type: object
      properties:
        audience:
          type: string
          description: The Audience resource name.
    GoogleAdsGoogleadsV25Services__MutateAssetGroupSignalResult:
      description: The result for the asset group signal mutate.
      type: object
      properties:
        resourceName:
          type: string
          description: Returned for successful operations.
        assetGroupSignal:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AssetGroupSignal'
          description: The mutated AssetGroupSignal with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Services__MutateAssetGroupSignalsResponse:
      description: Response message for an asset group signal mutate.
      type: object
      properties:
        partialFailureError:
          $ref: '#/components/schemas/GoogleRpc__Status'
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
        results:
          type: array
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateAssetGroupSignalResult'
    GoogleAdsGoogleadsV25Common__SearchThemeInfo:
      description: A Search Theme criterion only on Performance Max campaign. Represents a keyword-like advertiser input.
      type: object
      properties:
        text:
          type: string
          description: Each Search Theme has a value of a simple string, like keywords. There are limits on overall length, allowed characters, and number of words.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
