openapi: 3.2.0
info:
  title: Google Ads Customers.bidding Seasonality Adjustments API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.biddingSeasonalityAdjustments
paths:
  /v25/customers/{customersId}/biddingSeasonalityAdjustments:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_biddingSeasonalityAdjustments_mutate
      summary: Creates, updates, or removes seasonality adjustments
      tags:
      - customers.biddingSeasonalityAdjustments
      description: Creates, updates, or removes seasonality adjustments. Operation statuses are returned.
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. ID of the customer whose seasonality adjustments are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateBiddingSeasonalityAdjustmentsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateBiddingSeasonalityAdjustmentsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__BiddingSeasonalityAdjustmentOperation:
      type: object
      properties:
        update:
          description: 'Update operation: The seasonality adjustment is expected to have a valid resource name.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__BiddingSeasonalityAdjustment'
        updateMask:
          format: google-fieldmask
          description: FieldMask that determines which resource fields are modified in an update.
          type: string
        create:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__BiddingSeasonalityAdjustment'
          description: 'Create operation: No resource name is expected for the new seasonality adjustment.'
        remove:
          type: string
          description: 'Remove operation: A resource name for the removed seasonality adjustment is expected, in this format: `customers/{customer_id}/biddingSeasonalityAdjustments/{seasonality_adjustment_id}`'
      description: A single operation (create, remove, update) on a seasonality adjustment.
    GoogleAdsGoogleadsV25Services__MutateBiddingSeasonalityAdjustmentsResult:
      description: The result for the seasonality adjustment mutate.
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        biddingSeasonalityAdjustment:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__BiddingSeasonalityAdjustment'
          description: The mutated bidding seasonality adjustment with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Services__MutateBiddingSeasonalityAdjustmentsRequest:
      description: Request message for BiddingSeasonalityAdjustmentService.MutateBiddingSeasonalityAdjustments.
      type: object
      properties:
        partialFailure:
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
          type: boolean
        operations:
          type: array
          description: Required. The list of operations to perform on individual seasonality adjustments.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__BiddingSeasonalityAdjustmentOperation'
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
        responseContentType:
          type: string
          description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
    GoogleAdsGoogleadsV25Resources__BiddingSeasonalityAdjustment:
      type: object
      properties:
        seasonalityAdjustmentId:
          format: int64
          description: Output only. The ID of the seasonality adjustment.
          type: string
        endDateTime:
          description: Required. The exclusive end time of the seasonality adjustment in yyyy-MM-dd HH:mm:ss format. The length of [start_date_time, end_date_time) interval must be within (0, 14 days].
          type: string
        name:
          description: The name of the seasonality adjustment. The name can be at most 255 characters.
          type: string
        advertisingChannelTypes:
          type: array
          description: 'The seasonality adjustment will apply to all the campaigns under the listed channels retroactively as well as going forward when the scope of this adjustment is CHANNEL. The supported advertising channel types are DISPLAY, SEARCH and SHOPPING. Note: a seasonality adjustment with both advertising_channel_types and campaign_ids is not supported.'
          items:
            type: string
            x-enumDescriptions:
            - Not specified.
            - Used for return value only. Represents value unknown in this version.
            - Search Network. Includes display bundled, and Search+ campaigns.
            - Google Display Network only.
            - Shopping campaigns serve on the shopping property and on google.com search results.
            - Hotel Ads campaigns.
            - Video campaigns.
            - App Campaigns, and App Campaigns for Engagement, that run across multiple channels.
            - Local ads campaigns.
            - Smart campaigns.
            - Performance Max campaigns.
            - Local services campaigns.
            - Travel campaigns.
            - Demand Gen campaigns.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - SEARCH
            - DISPLAY
            - SHOPPING
            - HOTEL
            - VIDEO
            - MULTI_CHANNEL
            - LOCAL
            - SMART
            - PERFORMANCE_MAX
            - LOCAL_SERVICES
            - TRAVEL
            - DEMAND_GEN
        description:
          type: string
          description: The description of the seasonality adjustment. The description can be at most 2048 characters.
        conversionRateModifier:
          format: double
          description: Conversion rate modifier estimated based on expected conversion rate changes. When this field is unset or set to 1.0 no adjustment will be applied to traffic. The allowed range is 0.1 to 10.0.
          type: number
        resourceName:
          type: string
          description: 'Immutable. The resource name of the seasonality adjustment. Seasonality adjustment resource names have the form: `customers/{customer_id}/biddingSeasonalityAdjustments/{seasonality_adjustment_id}`'
        devices:
          type: array
          description: If not specified, all devices will be included in this adjustment. Otherwise, only the specified targeted devices will be included in this adjustment.
          items:
            x-enumDescriptions:
            - Not specified.
            - The value is unknown in this version.
            - Mobile devices with full browsers.
            - Tablets with full browsers.
            - Computers.
            - Smart TVs and game consoles.
            - Other device types.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - MOBILE
            - TABLET
            - DESKTOP
            - CONNECTED_TV
            - OTHER
            type: string
        startDateTime:
          type: string
          description: Required. The inclusive start time of the seasonality adjustment in yyyy-MM-dd HH:mm:ss format. A seasonality adjustment is forward looking and should be used for events that start and end in the future.
        scope:
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - The seasonality event is applied to all the customer's traffic for supported advertising channel types and device types. The CUSTOMER scope cannot be used in mutates.
          - The seasonality event is applied to all specified campaigns.
          - The seasonality event is applied to all campaigns that belong to specified channel types.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CUSTOMER
          - CAMPAIGN
          - CHANNEL
          description: The scope of the seasonality adjustment.
          type: string
        status:
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - The seasonality event is enabled.
          - The seasonality event is removed.
          type: string
          description: Output only. The status of the seasonality adjustment.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - REMOVED
        campaigns:
          type: array
          description: 'The seasonality adjustment will apply to the campaigns listed when the scope of this adjustment is CAMPAIGN. The maximum number of campaigns per event is 2000. Note: a seasonality adjustment with both advertising_channel_types and campaign_ids is not supported.'
          items:
            type: string
      description: Represents a bidding seasonality adjustment. Cannot be used in manager accounts. See "About seasonality adjustments" at https://support.google.com/google-ads/answer/10369906.
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__MutateBiddingSeasonalityAdjustmentsResponse:
      description: Response message for seasonality adjustments mutate.
      type: object
      properties:
        partialFailureError:
          $ref: '#/components/schemas/GoogleRpc__Status'
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateBiddingSeasonalityAdjustmentsResult'
          type: array
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
