openapi: 3.2.0
info:
  title: Google Ads Customers.experiments API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.experiments
paths:
  /v25/customers/{customersId}/experiments/{experimentsId}:scheduleExperiment:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_experiments_scheduleExperiment
      summary: Schedule an experiment
      tags:
      - customers.experiments
      description: 'Schedule an experiment. The in design campaign will be converted into a real campaign (called the experiment campaign) that will begin serving ads if successfully created. The experiment is scheduled immediately with status INITIALIZING. This method returns a long running operation that tracks the forking of the in design campaign. If the forking fails, a list of errors can be retrieved using the ListExperimentAsyncErrors method. The operation''s metadata will be a string containing the resource name of the created experiment. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [DatabaseError]() [DateError]() [DateRangeError]() [FieldError]() [HeaderError]() [InternalError]() [QuotaError]() [RangeError]() [RequestError]()'
      parameters:
      - name: resourceName
        in: path
        required: true
        schema:
          type: string
          pattern: ^customers/[^/]+/experiments/[^/]+$
        description: Required. The scheduled experiment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ScheduleExperimentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunning__Operation'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/experiments/{experimentsId}:graduateExperiment:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_experiments_graduateExperiment
      summary: Graduates an experiment to a full campaign
      tags:
      - customers.experiments
      description: 'Graduates an experiment to a full campaign. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: experiment
        in: path
        required: true
        schema:
          pattern: ^customers/[^/]+/experiments/[^/]+$
          type: string
        description: Required. The experiment to be graduated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__GraduateExperimentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobuf__Empty'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/experiments/{experimentsId}:promoteExperiment:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_experiments_promoteExperiment
      summary: Promotes the trial campaign thus applying changes in the trial campaign to the base campaign
      tags:
      - customers.experiments
      description: 'Promotes the trial campaign thus applying changes in the trial campaign to the base campaign. This method returns a long running operation that tracks the promotion of the experiment campaign. If it fails, a list of errors can be retrieved using the ListExperimentAsyncErrors method. The operation''s metadata will be a string containing the resource name of the created experiment. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: resourceName
        in: path
        required: true
        schema:
          pattern: ^customers/[^/]+/experiments/[^/]+$
          type: string
        description: Required. The resource name of the experiment to promote.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__PromoteExperimentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunning__Operation'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/experiments:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_experiments_mutate
      summary: Creates, updates, or removes experiments
      tags:
      - customers.experiments
      description: 'Creates, updates, or removes experiments. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer whose experiments are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateExperimentsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateExperimentsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/experiments/{experimentsId}:endExperiment:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_experiments_endExperiment
      summary: Immediately ends an experiment, changing the experiment's scheduled end date and without waiting for end of day
      tags:
      - customers.experiments
      description: 'Immediately ends an experiment, changing the experiment''s scheduled end date and without waiting for end of day. End date is updated to be the time of the request. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ExperimentError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: experiment
        in: path
        required: true
        schema:
          type: string
          pattern: ^customers/[^/]+/experiments/[^/]+$
        description: Required. The resource name of the campaign experiment to end.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__EndExperimentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobuf__Empty'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/experiments/{experimentsId}:listExperimentAsyncErrors:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    get:
      operationId: googleads_customers_experiments_listExperimentAsyncErrors
      summary: Returns all errors that occurred during the last Experiment update (either scheduling or promotion)
      tags:
      - customers.experiments
      description: 'Returns all errors that occurred during the last Experiment update (either scheduling or promotion). Supports standard list paging. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Token of the page to retrieve. If not specified, the first page of results will be returned. Use the value obtained from `next_page_token` in the previous response in order to request the next page of results.
      - name: resourceName
        in: path
        required: true
        schema:
          type: string
          pattern: ^customers/[^/]+/experiments/[^/]+$
        description: Required. The name of the experiment from which to retrieve the async errors.
      - name: pageSize
        in: query
        required: false
        schema:
          format: int32
          type: integer
        description: Number of elements to retrieve in a single page. When a page request is too large, the server may decide to further limit the number of returned resources. The maximum page size is 1000.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ListExperimentAsyncErrorsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleLongrunning__Operation:
      type: object
      properties:
        done:
          description: If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.
          type: boolean
        name:
          description: The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.
          type: string
        response:
          type: object
          description: The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
        error:
          $ref: '#/components/schemas/GoogleRpc__Status'
          description: The error result of the operation in case of failure or cancellation.
        metadata:
          type: object
          description: Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
      description: This resource represents a long-running operation that is the result of a network API call.
    GoogleAdsGoogleadsV25Services__MutateExperimentsRequest:
      type: object
      properties:
        partialFailure:
          type: boolean
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
        operations:
          description: Required. The list of operations to perform on individual experiments.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ExperimentOperation'
          type: array
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
      description: Request message for ExperimentService.MutateExperiments.
    GoogleAdsGoogleadsV25Services__GraduateExperimentRequest:
      type: object
      properties:
        campaignBudgetMappings:
          description: Required. List of campaign budget mappings for graduation. Each campaign that appears here will graduate, and will be assigned a new budget that is paired with it in the mapping. The maximum size is one.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__CampaignBudgetMapping'
          type: array
        validateOnly:
          description: If true, the request is validated but not executed. Only errors are returned, not results.
          type: boolean
      description: Request message for ExperimentService.GraduateExperiment.
    GoogleAdsGoogleadsV25Services__ListExperimentAsyncErrorsResponse:
      type: object
      properties:
        errors:
          type: array
          description: details of the errors when performing the asynchronous operation.
          items:
            $ref: '#/components/schemas/GoogleRpc__Status'
        nextPageToken:
          description: Pagination token used to retrieve the next page of results. Pass the content of this string as the `page_token` attribute of the next request. `next_page_token` is not returned for the last page.
          type: string
      description: Response message for ExperimentService.ListExperimentAsyncErrors.
    GoogleAdsGoogleadsV25Services__MutateExperimentsResponse:
      type: object
      properties:
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateExperimentResult'
          type: array
        partialFailureError:
          $ref: '#/components/schemas/GoogleRpc__Status'
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
      description: Response message for experiment mutate.
    GoogleAdsGoogleadsV25Services__MutateExperimentResult:
      description: The result for the campaign experiment mutate.
      type: object
      properties:
        resourceName:
          type: string
          description: Returned for successful operations.
    GoogleAdsGoogleadsV25Services__CampaignBudgetMapping:
      type: object
      properties:
        experimentCampaign:
          description: Required. The experiment campaign to graduate.
          type: string
        campaignBudget:
          description: Required. The budget that should be attached to the graduating experiment campaign.
          type: string
      description: The mapping of experiment campaign and budget to be graduated.
    GoogleAdsGoogleadsV25Services__PromoteExperimentRequest:
      description: Request message for ExperimentService.PromoteExperiment.
      type: object
      properties:
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
    GoogleAdsGoogleadsV25Common__VideoExperimentInfo:
      type: object
      properties:
        videoExperimentSubtype:
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - The experiment is testing a Demand Gen asset experiment. User can add or delete assets from the control campaigns.
          - The experiment is testing ads with different video assets in the experimental campaign versus the control campaign. It applies to Video Campaigns where users can add or delete assets from control campaigns.
          - The experiment is testing video asset uplift (the performance impact of different video assets in a campaign). It applies to Video Campaigns where users can only add assets to control campaigns.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DEMAND_GEN_ASSET
          - ASSET
          - ASSET_UPLIFT
          description: The subtype of the Video experiment.
          type: string
      description: Configuration for a Video experiment.
    GoogleAdsGoogleadsV25Common__OptimizeAssetsExperimentInfo:
      description: Configuration for an Optimize Assets experiment.
      type: object
      properties:
        optimizeAssetsExperimentSubtype:
          description: The subtype of the Optimize Assets experiment.
          type: string
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - The experiment is testing adding assets to assetless retail PMax experiment.
          - The experiment is testing adding video assets to videoless PMax experiment.
          - The experiment is testing comparing two different sets of assets in a PMax experiment.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ADD_ASSETS_TO_ASSETLESS_RETAIL
          - ADD_VIDEO_ASSETS_TO_VIDEOLESS
          - COMPARE_ASSETS
    GoogleAdsGoogleadsV25Services__ScheduleExperimentRequest:
      type: object
      properties:
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
      description: Request message for ExperimentService.ScheduleExperiment.
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__ExperimentOperation:
      type: object
      properties:
        remove:
          description: 'Remove operation: The experiment is expected to have a valid resource name, in this format: `customers/{customer_id}/experiments/{campaign_experiment_id}`'
          type: string
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__Experiment'
          description: 'Update operation: The experiment is expected to have a valid resource name.'
        updateMask:
          format: google-fieldmask
          type: string
          description: FieldMask that determines which resource fields are modified in an update.
        create:
          description: Create operation
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__Experiment'
      description: A single operation on an experiment.
    GoogleAdsGoogleadsV25Services__EndExperimentRequest:
      type: object
      properties:
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
      description: Request message for ExperimentService.EndExperiment.
    GoogleAdsGoogleadsV25Common__MetricGoal:
      type: object
      properties:
        metric:
          type: string
          description: The metric of the goal. For example, clicks, impressions, cost, conversions, etc.
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - The goal of the experiment is clicks.
          - The goal of the experiment is impressions.
          - The goal of the experiment is cost.
          - The goal of the experiment is conversion rate.
          - The goal of the experiment is cost per conversion.
          - The goal of the experiment is conversion value per cost.
          - The goal of the experiment is avg cpc.
          - The goal of the experiment is ctr.
          - The goal of the experiment is incremental conversions.
          - The goal of the experiment is completed video views.
          - The goal of the experiment is custom algorithms.
          - The goal of the experiment is conversions.
          - The goal of the experiment is conversion value.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CLICKS
          - IMPRESSIONS
          - COST
          - CONVERSIONS_PER_INTERACTION_RATE
          - COST_PER_CONVERSION
          - CONVERSIONS_VALUE_PER_COST
          - AVERAGE_CPC
          - CTR
          - INCREMENTAL_CONVERSIONS
          - COMPLETED_VIDEO_VIEWS
          - CUSTOM_ALGORITHMS
          - CONVERSIONS
          - CONVERSION_VALUE
        direction:
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - The goal of the experiment is to not change the metric.
          - The goal of the experiment is to increate the metric.
          - The goal of the experiment is to decrease the metric.
          - The goal of the experiment is to either not change or increase the metric.
          - The goal of the experiment is to either not change or decrease the metric.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - NO_CHANGE
          - INCREASE
          - DECREASE
          - NO_CHANGE_OR_INCREASE
          - NO_CHANGE_OR_DECREASE
          type: string
          description: The metric direction of the goal. For example, increase, decrease, no change.
      description: A metric goal for an experiment.
    GoogleAdsGoogleadsV25Resources__Experiment:
      type: object
      properties:
        status:
          type: string
          description: The Advertiser-chosen status of this experiment.
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - The experiment is enabled.
          - The experiment has been removed.
          - The experiment has been halted. This status can be set from ENABLED status through API.
          - The experiment will be promoted out of experimental status.
          - Initial status of the experiment.
          - The experiment's campaigns are pending materialization. This status can be set from SETUP status through API.
          - The experiment has been graduated.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - REMOVED
          - HALTED
          - PROMOTED
          - SETUP
          - INITIATED
          - GRADUATED
        endDate:
          type: string
          description: 'Date when the experiment ends. By default, the experiment ends on the campaign''s end date. If this field is set, then the experiment ends at the end of the specified date in the customer''s time zone. Format: YYYY-MM-DD Example: 2019-04-18'
        promoteStatus:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - NOT_STARTED
          - IN_PROGRESS
          - COMPLETED
          - FAILED
          - COMPLETED_WITH_WARNING
          type: string
          description: Output only. The status of the experiment promotion process.
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - Action has not started.
          - Action is in progress.
          - Action has completed successfully.
          - Action has failed.
          - Action has completed successfully with warnings.
        optimizeAssetsExperiment:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__OptimizeAssetsExperimentInfo'
          description: 'Immutable. Details of the optimize assets experiment. Applies for experiment types: OPTIMIZE_ASSETS.'
        experimentId:
          format: int64
          description: Output only. The ID of the experiment. Read only.
          type: string
        syncEnabled:
          description: Immutable. Set to true if changes to base campaigns should be synced to the trial campaigns. Any changes made directly to trial campaigns will be preserved. This field can only be set when the experiment is being created.
          type: boolean
        description:
          description: The description of the experiment. It must have a minimum length of 1 and maximum length of 2048.
          type: string
        startDate:
          type: string
          description: 'Date when the experiment starts. By default, the experiment starts now or on the campaign''s start date, whichever is later. If this field is set, then the experiment starts at the beginning of the specified date in the customer''s time zone. Format: YYYY-MM-DD Example: 2019-03-14'
        videoExperiment:
          description: 'Immutable. Details of the video experiment. Applies for experiment types: YOUTUBE_CUSTOM.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__VideoExperimentInfo'
        resourceName:
          description: 'Immutable. The resource name of the experiment. Experiment resource names have the form: `customers/{customer_id}/experiments/{experiment_id}`'
          type: string
        suffix:
          type: string
          description: For system managed experiments, the advertiser must provide a suffix during construction, in the setup stage before moving to initiated. The suffix will be appended to the in-design and experiment campaign names so that the name is base campaign name + suffix.
        type:
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - This is a DISPLAY_AND_VIDEO_360 experiment.
          - This is an ad variation experiment.
          - A custom experiment consisting of Video campaigns.
          - A custom experiment consisting of display campaigns.
          - A custom experiment consisting of search campaigns.
          - An experiment that compares bidding strategies for display campaigns.
          - An experiment that compares bidding strategies for search campaigns."
          - An experiment that compares bidding strategies for shopping campaigns.
          - DEPRECATED. A smart matching experiment with search campaigns.
          - A custom experiment consisting of hotel campaigns.
          - A custom experiment for optimizing assets.
          - An experiment that tests how AI Max can help you engage more customers with Google AI and broad match keywords.
          - An experiment that tests how broad match keywords can impact the number of searches your ads appear in.
          - An experiment that tests how your Shopping campaigns perform compared to Performance Max.
          - An experiment that compares multiple variables across one or more campaigns, tests a mix of campaign types, and more.
          - An experiment that tests automatically created assets and lets Google AI send traffic to relevant landing pages and generate text assets to better match search queries.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DISPLAY_AND_VIDEO_360
          - AD_VARIATION
          - YOUTUBE_CUSTOM
          - DISPLAY_CUSTOM
          - SEARCH_CUSTOM
          - DISPLAY_AUTOMATED_BIDDING_STRATEGY
          - SEARCH_AUTOMATED_BIDDING_STRATEGY
          - SHOPPING_AUTOMATED_BIDDING_STRATEGY
          - SMART_MATCHING
          - HOTEL_CUSTOM
          - OPTIMIZE_ASSETS
          - ADOPT_AI_MAX
          - ADOPT_BROAD_MATCH_KEYWORDS
          - PMAX_REPLACEMENT_SHOPPING
          - COMPARE_CAMPAIGNS
          - PMAX_TEXT_CUSTOMIZATION_FINAL_URL_EXPANSION
          type: string
          description: Required. The product/feature that uses this experiment.
        name:
          description: Required. The name of the experiment. It must have a minimum length of 1 and maximum length of 1024. It must be unique under a customer.
          type: string
        longRunningOperation:
          description: Output only. The resource name of the long-running operation that can be used to poll for completion of experiment schedule or promote. The most recent long running operation is returned.
          type: string
        goals:
          description: The goals of this experiment.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__MetricGoal'
          type: array
      description: A Google ads experiment for users to experiment changes on multiple campaigns, compare the performance, and apply the effective changes.
    GoogleProtobuf__Empty:
      description: 'A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }'
      type: object
      properties: {}
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
