openapi: 3.2.0
info:
  title: Google Ads V25:generate Conversion Rates API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: V25:generateConversionRates
paths:
  /v25:generateConversionRates:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_generateConversionRates
      summary: Returns a collection of conversion rate suggestions for supported plannable…
      tags:
      - V25:generateConversionRates
      description: 'Returns a collection of conversion rate suggestions for supported plannable products. List of thrown errors: AuthenticationError AuthorizationError HeaderError InternalError QuotaError RequestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__GenerateConversionRatesRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__GenerateConversionRatesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__SurfaceTargeting:
      type: object
      properties:
        surfaces:
          type: array
          description: List of surfaces available to target.
          items:
            type: string
            x-enumDescriptions:
            - Not specified.
            - The value is unknown in this version.
            - Discover feed ad surface.
            - Gmail ad surface.
            - In-Feed ad surface.
            - In-Stream bumper ad surface.
            - In-Stream non-skippable ad surface.
            - In-Stream skippable ad surface.
            - Shorts ad surface.
            - Google Display Network ad surface.
            - In-Stream non-skippable (30 seconds) ad surface.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - DISCOVER_FEED
            - GMAIL
            - IN_FEED
            - IN_STREAM_BUMPER
            - IN_STREAM_NON_SKIPPABLE
            - IN_STREAM_SKIPPABLE
            - SHORTS
            - GOOGLE_DISPLAY_NETWORK
            - IN_STREAM_NON_SKIPPABLE_THIRTY_SECONDS
      description: Container for surfaces for a product. Surfaces refer to the available types of ad inventories such as In-Feed, In-Stream, and Shorts.
    GoogleAdsGoogleadsV25Services__GenerateConversionRatesResponse:
      description: Response message for ReachPlanService.GenerateConversionRates, containing conversion rate suggestions for supported plannable products.
      type: object
      properties:
        conversionRateSuggestions:
          description: A list containing conversion rate suggestions. Each repeated element will have an associated product code. Multiple suggestions may share the same product code.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ConversionRateSuggestion'
          type: array
    GoogleAdsGoogleadsV25Common__AdditionalApplicationInfo:
      description: Additional information about the application/tool issuing the request. This field is only used by ContentCreatorInsightsService, AudienceInsightsService, and ReachPlanService APIs.
      type: object
      properties:
        applicationId:
          description: The unique identifier of the agency proprietary application. This identifier is generated by Google. Reach out to your Google representative to request an application_id for each new application being integrated.
          type: string
        applicationInstance:
          description: The instance type of the application sending the request.
          type: string
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - The instance is for development and testing purposes.
          - The instance is for production purposes.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DEVELOPMENT_AND_TESTING
          - PRODUCTION
    GoogleAdsGoogleadsV25Services__ConversionRateSuggestion:
      type: object
      properties:
        conversionRateModel:
          description: Model type used to calculate the suggested conversion rate.
          type: string
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - Suggested conversion rate for the authenticated customer based on the previous 70 days.
          - Suggested conversion rate based on an aggressive rate for the entire inventory.
          - Suggested conversion rate based on a conservative rate for the entire inventory.
          - Suggested conversion rate based on the median rate for the entire inventory.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CUSTOMER_HISTORY
          - INVENTORY_AGGRESSIVE
          - INVENTORY_CONSERVATIVE
          - INVENTORY_MEDIAN
        surfaceTargeting:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SurfaceTargeting'
          description: The surfaces associated with the plannable product. If not present, the conversion rate is considered surface agnostic for this product.
        conversionRate:
          description: The suggested conversion rate. The value is between 0 and 1 (exclusive).
          type: number
          format: double
        plannableProductCode:
          type: string
          description: 'The code associated with the plannable product (for example: DEMAND_GEN). To list all plannable product codes, use ReachPlanService.ListPlannableProducts.'
      description: A conversion rate suggestion.
    GoogleAdsGoogleadsV25Services__GenerateConversionRatesRequest:
      description: Request message for ReachPlanService.GenerateConversionRates.
      type: object
      properties:
        customerReachGroup:
          description: The name of the customer being planned for. This is a user-defined value.
          type: string
        customerId:
          description: Required. The ID of the customer. A conversion rate based on the historical data of this customer may be suggested.
          type: string
        reachApplicationInfo:
          description: Optional. Additional information on the application issuing the request.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdditionalApplicationInfo'
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
