openapi: 3.2.0
info:
  title: Google Ads Keyword Theme Constants API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: keywordThemeConstants
paths:
  /v25/keywordThemeConstants:suggest:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_keywordThemeConstants_suggest
      summary: Returns KeywordThemeConstant suggestions by keyword themes
      tags:
      - keywordThemeConstants
      description: 'Returns KeywordThemeConstant suggestions by keyword themes. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SuggestKeywordThemeConstantsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SuggestKeywordThemeConstantsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__SuggestKeywordThemeConstantsResponse:
      type: object
      properties:
        keywordThemeConstants:
          type: array
          description: Smart Campaign keyword theme suggestions.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__KeywordThemeConstant'
      description: Response message for KeywordThemeConstantService.SuggestKeywordThemeConstants.
    GoogleAdsGoogleadsV25Services__SuggestKeywordThemeConstantsRequest:
      description: Request message for KeywordThemeConstantService.SuggestKeywordThemeConstants.
      type: object
      properties:
        queryText:
          type: string
          description: The query text of a keyword theme that will be used to map to similar keyword themes. For example, "plumber" or "roofer".
        countryCode:
          description: Upper-case, two-letter country code as defined by ISO-3166. This for refining the scope of the query, default to 'US' if not set.
          type: string
        languageCode:
          type: string
          description: The two letter language code for get corresponding keyword theme for refining the scope of the query, default to 'en' if not set.
    GoogleAdsGoogleadsV25Resources__KeywordThemeConstant:
      description: A Smart Campaign keyword theme constant.
      type: object
      properties:
        displayName:
          description: Output only. The display name of the keyword theme or sub keyword theme.
          type: string
        resourceName:
          description: 'Output only. The resource name of the keyword theme constant. Keyword theme constant resource names have the form: `keywordThemeConstants/{keyword_theme_id}~{sub_keyword_theme_id}`'
          type: string
        countryCode:
          description: Output only. The ISO-3166 Alpha-2 country code of the constant, eg. "US". To display and query matching purpose, the keyword theme needs to be localized.
          type: string
        languageCode:
          description: Output only. The ISO-639-1 language code with 2 letters of the constant, eg. "en". To display and query matching purpose, the keyword theme needs to be localized.
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
