openapi: 3.2.0
info:
  title: Google Ads Customers.multi Party Auth Review API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.multiPartyAuthReview
paths:
  /v25/customers/{customersId}/multiPartyAuthReview:resolve:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_multiPartyAuthReview_resolve
      summary: Resolves the status of a Multi-Party Authorization review
      tags:
      - customers.multiPartyAuthReview
      description: 'Resolves the status of a Multi-Party Authorization review. List of thrown errors: [AccessInvitationError]() [AuthenticationError]() [AuthorizationError]() [CustomerUserAccessError]() [FieldError]() [HeaderError]() [InternalError]() [MultiPartyAuthReviewError]() [MutateError]() [QuotaError]() [RangeError]() [RequestError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ResolveMultiPartyAuthReviewRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ResolveMultiPartyAuthReviewResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__ResolveMultiPartyAuthReviewResponse:
      description: Response message for MultiPartyAuthReviewService.ResolveMultiPartyAuthReview.
      type: object
      properties:
        resultOrError:
          type: array
          description: The results of the operations.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ResolveMultiPartyAuthReviewResultOrError'
    GoogleAdsGoogleadsV25Services__ResolveMultiPartyAuthReviewOperation:
      description: Operation to resolve a Multi-Party Authorization review.
      type: object
      properties:
        multiPartyAuthReview:
          type: string
          description: Required. The resource name of the Multi-Party Authorization review.
        newStatus:
          description: 'Required. The status to which the Multi-Party Authorization review should be resolved. Valid values for requests are limited to: APPROVED, REJECTED, REVOKED.'
          type: string
          x-enumDescriptions:
          - Not specified.
          - Value unknown in this version.
          - The Multi-Party Authorization request has been approved by another admin.
          - The Multi-Party Authorization request has been sent but not yet approved by another admin.
          - The Multi-Party Authorization request has been revoked by the requester.
          - The Multi-Party Authorization request has been rejected by another admin.
          - The Multi-Party Authorization request has expired.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - APPROVED
          - PENDING
          - REVOKED
          - REJECTED
          - EXPIRED
    GoogleAdsGoogleadsV25Services__ResolveMultiPartyAuthReviewResultOrError:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ResolveMultiPartyAuthReviewResult'
          description: The result of the operation in case of success.
        partialFailureError:
          description: Failure status when the request could not be processed.
          $ref: '#/components/schemas/GoogleRpc__Status'
      description: Result of the ResolveMultiPartyAuthReview action.
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__ResolveMultiPartyAuthReviewResult:
      type: object
      properties:
        customerUserAccess:
          description: Output only. The resource name of the CustomerUserAccess resource.
          type: string
        customerUserAccessInvitation:
          type: string
          description: Output only. The resource name of the CustomerUserAccessInvitation resource.
        multiPartyAuthReview:
          description: Output only. The resource name of the Multi-Party Auth review itself.
          type: string
      description: Result of the ResolveMultiPartyAuthReview action.
    GoogleAdsGoogleadsV25Services__ResolveMultiPartyAuthReviewRequest:
      description: Request message for MultiPartyAuthReviewService.ResolveMultiPartyAuthReview.
      type: object
      properties:
        operations:
          type: array
          description: Required. The operations to perform. Currently only one operation is supported.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ResolveMultiPartyAuthReviewOperation'
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
