openapi: 3.2.0
info:
  title: Google Ads Customers.smart Campaign Settings API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.smartCampaignSettings
paths:
  /v25/customers/{customersId}/smartCampaignSettings/{smartCampaignSettingsId}:getSmartCampaignStatus:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    get:
      operationId: googleads_customers_smartCampaignSettings_getSmartCampaignStatus
      summary: Returns the status of the requested Smart campaign.
      tags:
      - customers.smartCampaignSettings
      description: Returns the status of the requested Smart campaign.
      parameters:
      - name: resourceName
        in: path
        required: true
        schema:
          pattern: ^customers/[^/]+/smartCampaignSettings/[^/]+$
          type: string
        description: Required. The resource name of the Smart campaign setting belonging to the Smart campaign to fetch the status of.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__GetSmartCampaignStatusResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/smartCampaignSettings:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_smartCampaignSettings_mutate
      summary: Updates Smart campaign settings for campaigns.
      tags:
      - customers.smartCampaignSettings
      description: Updates Smart campaign settings for campaigns.
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer whose Smart campaign settings are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateSmartCampaignSettingsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateSmartCampaignSettingsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__SmartCampaignEligibleDetails:
      description: Details related to Smart campaigns that are eligible to serve.
      type: object
      properties:
        lastImpressionDateTime:
          description: The timestamp of the last impression observed in the last 48 hours for this campaign. The timestamp is in the customer’s timezone and in “yyyy-MM-dd HH:mm:ss” format.
          type: string
        endDateTime:
          description: The timestamp of when the campaign will end, if applicable. The timestamp is in the customer’s timezone and in “yyyy-MM-dd HH:mm:ss” format.
          type: string
    GoogleAdsGoogleadsV25Services__SmartCampaignRemovedDetails:
      type: object
      properties:
        removedDateTime:
          description: The timestamp of when the campaign was removed. The timestamp is in the customer’s timezone and in “yyyy-MM-dd HH:mm:ss” format.
          type: string
      description: Details related to removed Smart campaigns.
    GoogleAdsGoogleadsV25Resources__SmartCampaignSetting:
      description: Settings for configuring Smart campaigns.
      type: object
      properties:
        advertisingLanguageCode:
          description: The language code to advertise in from the set of [supported language codes] (https://developers.google.com/google-ads/api/reference/data/codes-formats#languages).
          type: string
        businessName:
          type: string
          description: The name of the business.
        phoneNumber:
          description: Phone number and country code.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_SmartCampaignSetting_PhoneNumber'
        finalUrl:
          type: string
          description: The user-provided landing page URL for this Campaign.
        campaign:
          type: string
          description: Output only. The campaign to which these settings apply.
        businessProfileLocation:
          type: string
          description: 'The resource name of a Business Profile location. Business Profile location resource names can be fetched through the Business Profile API and adhere to the following format: `locations/{locationId}`. See the [Business Profile API] (https://developers.google.com/my-business/reference/businessinformation/rest/v1/accounts.locations) for additional details.'
        resourceName:
          description: 'Immutable. The resource name of the Smart campaign setting. Smart campaign setting resource names have the form: `customers/{customer_id}/smartCampaignSettings/{campaign_id}`'
          type: string
        adOptimizedBusinessProfileSetting:
          description: Settings for configuring a business profile optimized for ads as this campaign's landing page. This campaign must be linked to a business profile to use this option. For more information on this feature, consult https://support.google.com/google-ads/answer/9827068.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_SmartCampaignSetting_AdOptimizedBusinessProfileSetting'
    GoogleAdsGoogleadsV25Services__SmartCampaignPausedDetails:
      type: object
      properties:
        pausedDateTime:
          description: The timestamp of when the campaign was last paused. The timestamp is in the customer’s timezone and in “yyyy-MM-dd HH:mm:ss” format.
          type: string
      description: Details related to paused Smart campaigns.
    GoogleAdsGoogleadsV25Services__MutateSmartCampaignSettingsResponse:
      type: object
      properties:
        partialFailureError:
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
          $ref: '#/components/schemas/GoogleRpc__Status'
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateSmartCampaignSettingResult'
          type: array
      description: Response message for campaign mutate.
    GoogleAdsGoogleadsV25Services__MutateSmartCampaignSettingsRequest:
      description: Request message for SmartCampaignSettingService.MutateSmartCampaignSettings.
      type: object
      properties:
        operations:
          description: Required. The list of operations to perform on individual Smart campaign settings.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SmartCampaignSettingOperation'
          type: array
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
        responseContentType:
          type: string
          description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
        partialFailure:
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
          type: boolean
    GoogleAdsGoogleadsV25Resources_SmartCampaignSetting_PhoneNumber:
      description: Phone number and country code in smart campaign settings.
      type: object
      properties:
        phoneNumber:
          type: string
          description: Phone number of the smart campaign.
        countryCode:
          description: Upper-case, two-letter country code as defined by ISO-3166.
          type: string
    GoogleAdsGoogleadsV25Services__GetSmartCampaignStatusResponse:
      description: Response message for SmartCampaignSettingService.GetSmartCampaignStatus.
      type: object
      properties:
        smartCampaignStatus:
          x-enumDescriptions:
          - The status has not been specified.
          - The received value is not known in this version. This is a response-only value.
          - The campaign was paused.
          - The campaign is not eligible to serve and has issues that may require intervention.
          - The campaign is pending the approval of at least one ad.
          - The campaign is eligible to serve.
          - The campaign has been removed.
          - The campaign has ended.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - PAUSED
          - NOT_ELIGIBLE
          - PENDING
          - ELIGIBLE
          - REMOVED
          - ENDED
          description: The status of this Smart campaign.
          type: string
        notEligibleDetails:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SmartCampaignNotEligibleDetails'
          description: Details related to Smart campaigns that are ineligible to serve.
        pausedDetails:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SmartCampaignPausedDetails'
          description: Details related to paused Smart campaigns.
        removedDetails:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SmartCampaignRemovedDetails'
          description: Details related to removed Smart campaigns.
        endedDetails:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SmartCampaignEndedDetails'
          description: Details related to Smart campaigns that have ended.
        eligibleDetails:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SmartCampaignEligibleDetails'
          description: Details related to Smart campaigns that are eligible to serve.
    GoogleAdsGoogleadsV25Services__SmartCampaignEndedDetails:
      type: object
      properties:
        endDateTime:
          type: string
          description: The timestamp of when the campaign ended. The timestamp is in the customer’s timezone and in “yyyy-MM-dd HH:mm:ss” format.
      description: Details related to Smart campaigns that have ended.
    GoogleAdsGoogleadsV25Services__SmartCampaignSettingOperation:
      description: A single operation to update Smart campaign settings for a campaign.
      type: object
      properties:
        updateMask:
          type: string
          description: FieldMask that determines which resource fields are modified in an update.
          format: google-fieldmask
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__SmartCampaignSetting'
          description: 'Update operation: The Smart campaign setting must specify a valid resource name.'
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__SmartCampaignNotEligibleDetails:
      type: object
      properties:
        notEligibleReason:
          type: string
          description: The reason why the Smart campaign is not eligible to serve.
          x-enumDescriptions:
          - The status has not been specified.
          - The received value is not known in this version. This is a response-only value.
          - The campaign is not eligible to serve because of an issue with the account.
          - The campaign is not eligible to serve because of a payment issue.
          - The business profile location associated with the campaign has been removed.
          - All system-generated ads have been disapproved. Consult the policy_summary field in the AdGroupAd resource for more details.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ACCOUNT_ISSUE
          - BILLING_ISSUE
          - BUSINESS_PROFILE_LOCATION_REMOVED
          - ALL_ADS_DISAPPROVED
      description: Details related to Smart campaigns that are not eligible to serve.
    GoogleAdsGoogleadsV25Resources_SmartCampaignSetting_AdOptimizedBusinessProfileSetting:
      description: Settings for configuring a business profile optimized for ads as this campaign's landing page.
      type: object
      properties:
        includeLeadForm:
          type: boolean
          description: Enabling a lead form on your business profile enables prospective customers to contact your business by filling out a simple form, and you'll receive their information through email.
    GoogleAdsGoogleadsV25Services__MutateSmartCampaignSettingResult:
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        smartCampaignSetting:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__SmartCampaignSetting'
          description: The mutated Smart campaign setting with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
      description: The result for the Smart campaign setting mutate.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
