openapi: 3.2.0
info:
  title: Customers.google Ads API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.googleAds
paths:
  /v25/customers/{customersId}/googleAds:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_googleAds_mutate
      summary: Executes mutate and actions operations
      tags:
      - customers.googleAds
      description: 'Executes mutate and actions operations. Mutate operations create, update, or remove resources. Actions perform custom operations. This method supports atomic transactions with multiple types of resources and actions. For example, you can atomically create a campaign and a campaign budget, or perform up to thousands of mutates atomically. This method is essentially a wrapper around a series of mutate methods. The only features it offers over calling those methods directly are: - Atomic transactions - Temp resource names (described below) - Somewhat reduced latency over making a series of mutate calls Note: Only resources that support atomic transactions are included, so this method can''t replace all calls to individual services. ## Atomic Transaction Benefits Atomicity makes error handling much easier. If you''re making a series of changes and one fails, it can leave your account in an inconsistent state. With atomicity, you either reach the chosen state directly, or the request fails and you can retry. ## Temp Resource Names Temp resource names are a special type of resource name used to create a resource and reference that resource in the same request. For example, if a campaign budget is created with `resource_name` equal to `customers/123/campaignBudgets/-1`, that resource name can be reused in the `Campaign.budget` field in the same request. That way, the two resources are created and linked atomically. To create a temp resource name, put a negative number in the part of the name that the server would normally allocate. Note: - Resources must be created with a temp name before the name can be reused. For example, the previous CampaignBudget+Campaign example would fail if the mutate order was reversed. - Temp names are not remembered across requests. - There''s no limit to the number of temp names in a request. - Each temp name must use a unique negative number, even if the resource types differ. ## Latency It''s important to group mutates by resource type or the request may time out and fail. Latency is roughly equal to a series of calls to individual mutate methods, where each change in resource type is a new call. For example, mutating 10 campaigns then 10 ad groups is like 2 calls, while mutating 1 campaign, 1 ad group, 1 campaign, 1 ad group is like 4 calls. List of thrown errors: [AdCustomizerError]() [AdError]() [AdGroupAdError]() [AdGroupCriterionError]() [AdGroupError]() [AssetError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [CampaignBudgetError]() [CampaignCriterionError]() [CampaignError]() [CampaignExperimentError]() [CampaignSharedSetError]() [CollectionSizeError]() [ContextError]() [ConversionActionError]() [CriterionError]() [CustomerFeedError]() [DatabaseError]() [DateError]() [DateRangeError]() [DistinctError]() [ExtensionFeedItemError]() [ExtensionSettingError]() [FeedAttributeReferenceError]() [FeedError]() [FeedItemError]() [FeedItemSetError]() [FieldError]() [FieldMaskError]() [FunctionParsingError]() [HeaderError]() [ImageError]() [InternalError]() [KeywordPlanAdGroupKeywordError]() [KeywordPlanCampaignError]() [KeywordPlanError]() [LabelError]() [ListOperationError]() [MediaUploadError]() [MutateError]() [NewResourceCreationError]() [NullError]() [OperationAccessDeniedError]() [PolicyFindingError]() [PolicyViolationError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SettingError]() [SharedSetError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]() [UserListError]() [YoutubeVideoRegistrationError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer whose resources are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateGoogleAdsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateGoogleAdsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/googleAds:search:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_googleAds_search
      summary: Returns all rows that match the search query
      tags:
      - customers.googleAds
      description: 'Returns all rows that match the search query. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ChangeEventError]() [ChangeStatusError]() [ClickViewError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer being queried.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SearchGoogleAdsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SearchGoogleAdsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/googleAds:searchStream:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_googleAds_searchStream
      summary: Returns all rows that match the search stream query
      tags:
      - customers.googleAds
      description: 'Returns all rows that match the search stream query. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ChangeEventError]() [ChangeStatusError]() [ClickViewError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer being queried.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SearchGoogleAdsStreamRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SearchGoogleAdsStreamResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Resources_Recommendation_RecommendationImpact:
      description: The impact of making the change as described in the recommendation. Some types of recommendations may not have impact information.
      type: object
      properties:
        baseMetrics:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_RecommendationMetrics'
          description: Output only. Base metrics at the time the recommendation was generated.
        potentialMetrics:
          description: Output only. Estimated metrics if the recommendation is applied.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_RecommendationMetrics'
    GoogleAdsGoogleadsV25Resources_Campaign_VanityPharma:
      type: object
      properties:
        vanityPharmaText:
          description: The text that will be displayed in display URL of the text ad when website description is the selected display mode for vanity pharma URLs.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Prescription treatment website with website content in English.
          - Prescription treatment website with website content in Spanish (Sitio de tratamientos con receta).
          - Prescription device website with website content in English.
          - Prescription device website with website content in Spanish (Sitio de dispositivos con receta).
          - Medical device website with website content in English.
          - Medical device website with website content in Spanish (Sitio de dispositivos médicos).
          - Preventative treatment website with website content in English.
          - Preventative treatment website with website content in Spanish (Sitio de tratamientos preventivos).
          - Prescription contraception website with website content in English.
          - Prescription contraception website with website content in Spanish (Sitio de anticonceptivos con receta).
          - Prescription vaccine website with website content in English.
          - Prescription vaccine website with website content in Spanish (Sitio de vacunas con receta).
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - PRESCRIPTION_TREATMENT_WEBSITE_EN
          - PRESCRIPTION_TREATMENT_WEBSITE_ES
          - PRESCRIPTION_DEVICE_WEBSITE_EN
          - PRESCRIPTION_DEVICE_WEBSITE_ES
          - MEDICAL_DEVICE_WEBSITE_EN
          - MEDICAL_DEVICE_WEBSITE_ES
          - PREVENTATIVE_TREATMENT_WEBSITE_EN
          - PREVENTATIVE_TREATMENT_WEBSITE_ES
          - PRESCRIPTION_CONTRACEPTION_WEBSITE_EN
          - PRESCRIPTION_CONTRACEPTION_WEBSITE_ES
          - PRESCRIPTION_VACCINE_WEBSITE_EN
          - PRESCRIPTION_VACCINE_WEBSITE_ES
        vanityPharmaDisplayUrlMode:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Replace vanity pharma URL with manufacturer website url.
          - Replace vanity pharma URL with description of the website.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - MANUFACTURER_WEBSITE_URL
          - WEBSITE_DESCRIPTION
          type: string
          description: The display mode for vanity pharma URLs.
      description: Describes how unbranded pharma ads will be displayed.
    GoogleAdsGoogleadsV25Resources__AdGroupAd:
      type: object
      properties:
        status:
          type: string
          description: The status of the ad.
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - The ad group ad is enabled.
          - The ad group ad is paused.
          - The ad group ad is removed.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - PAUSED
          - REMOVED
        primaryStatus:
          x-enumDescriptions:
          - No value has been specified.
          - Used for return value only. Represents value unknown in this version.
          - The ad group ad is eligible to serve.
          - The ad group ad is paused.
          - The ad group ad is removed.
          - The ad cannot serve now, but may serve later without advertiser action.
          - The ad group ad is serving in a limited capacity.
          - The ad group ad is not eligible to serve.
          description: Output only. Provides aggregated view into why an ad group ad is not serving or not serving optimally.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ELIGIBLE
          - PAUSED
          - REMOVED
          - PENDING
          - LIMITED
          - NOT_ELIGIBLE
        adStrength:
          description: Output only. Overall ad strength for this ad group ad.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - PENDING
          - NO_ADS
          - POOR
          - AVERAGE
          - GOOD
          - EXCELLENT
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The ad strength is currently pending.
          - No ads could be generated.
          - Poor strength.
          - Average strength.
          - Good strength.
          - Excellent strength.
        actionItems:
          description: Output only. A list of recommendations to improve the ad strength. For example, a recommendation could be "Try adding a few more unique headlines or unpinning some assets.".
          items:
            type: string
          type: array
        policySummary:
          description: Output only. Policy information for the ad.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroupAdPolicySummary'
        ad:
          description: Immutable. The ad.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__Ad'
        primaryStatusReasons:
          description: Output only. Provides reasons for why an ad group ad is not serving or not serving optimally.
          items:
            x-enumDescriptions:
            - No value has been specified.
            - Used for return value only. Represents value unknown in this version.
            - The user-specified campaign status is removed. Contributes to AdGroupAdPrimaryStatus.REMOVED.
            - The user-specified campaign status is paused. Contributes to AdGroupAdPrimaryStatus.PAUSED.
            - The user-specified time for this campaign to start is in the future. Contributes to AdGroupAdPrimaryStatus.PENDING.
            - The user-specified time for this campaign to end has passed. Contributes to AdGroupAdPrimaryStatus.ENDED.
            - The user-specified ad group status is paused. Contributes to AdGroupAdPrimaryStatus.PAUSED.
            - The user-specified ad group status is removed. Contributes to AdGroupAdPrimaryStatus.REMOVED.
            - The user-specified ad status is paused. Contributes to AdGroupAdPrimaryStatus.PAUSED.
            - The user-specified ad status is removed. Contributes to AdGroupAdPrimaryStatus.REMOVED.
            - The ad is disapproved. Contributes to AdGroupAdPrimaryStatus.NOT_ELIGIBLE.
            - The ad is under review. Contributes to AdGroupAdPrimaryStatus.PENDING.
            - The ad is poor quality. This is determined by the serving stack that served the Ad. Contributes to AdGroupAdPrimaryStatus.LIMITED.
            - No eligible ads instances could be generated. Contributes to AdGroupAdPrimaryStatus.PENDING.
            - The ad is internally labeled with a limiting label. Contributes to AdGroupAdPrimaryStatus.LIMITED.
            - The ad is only serving in the user-specified area of interest. Contributes to AdGroupAdPrimaryStatus.LIMITED.
            - The ad is part of an ongoing appeal. This reason does not impact AdGroupAdPrimaryStatus.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - CAMPAIGN_REMOVED
            - CAMPAIGN_PAUSED
            - CAMPAIGN_PENDING
            - CAMPAIGN_ENDED
            - AD_GROUP_PAUSED
            - AD_GROUP_REMOVED
            - AD_GROUP_AD_PAUSED
            - AD_GROUP_AD_REMOVED
            - AD_GROUP_AD_DISAPPROVED
            - AD_GROUP_AD_UNDER_REVIEW
            - AD_GROUP_AD_POOR_QUALITY
            - AD_GROUP_AD_NO_ADS
            - AD_GROUP_AD_APPROVED_LABELED
            - AD_GROUP_AD_AREA_OF_INTEREST_ONLY
            - AD_GROUP_AD_UNDER_APPEAL
            type: string
          type: array
        adGroup:
          description: Immutable. The ad group to which the ad belongs.
          type: string
        labels:
          type: array
          description: Output only. The resource names of labels attached to this ad group ad.
          items:
            type: string
        startDateTime:
          type: string
          description: The date and time when ad group ad starts serving. This is added on top of the campaign's start date and time, if present, to further restrict the duration of an ad group ad. The timestamp is in the customer's time zone and in "yyyy-MM-dd HH:mm:ss" format. Only supported for some ad types.
        resourceName:
          description: 'Immutable. The resource name of the ad. Ad group ad resource names have the form: `customers/{customer_id}/adGroupAds/{ad_group_id}~{ad_id}`'
          type: string
        endDateTime:
          description: The last day and time when ad group ad serves. This is added on top of the campaign's end date and time, if present, to further restrict the duration of an ad group ad. The timestamp is in the customer's time zone and in "yyyy-MM-dd HH:mm:ss" format. Only supported for some ad types.
          type: string
        adGroupAdAssetAutomationSettings:
          type: array
          description: Settings that control the types of asset automation. See the AssetAutomationTypeEnum documentation for the default opt in/out behavior of each type.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroupAdAssetAutomationSetting'
      description: An ad group ad.
    GoogleAdsGoogleadsV25Common__HotelIdInfo:
      description: Advertiser-specific hotel ID.
      type: object
      properties:
        value:
          description: String value of the hotel ID.
          type: string
    GoogleAdsGoogleadsV25Resources_ListingGroupFilterDimension_ProductType:
      type: object
      properties:
        value:
          description: Value of the type.
          type: string
        level:
          type: string
          description: Level of the type.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Level 1.
          - Level 2.
          - Level 3.
          - Level 4.
          - Level 5.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - LEVEL1
          - LEVEL2
          - LEVEL3
          - LEVEL4
          - LEVEL5
      description: Type of a product offer.
    GoogleAdsGoogleadsV25Services__MutateAdGroupCriterionCustomizerResult:
      description: The result for the ad group criterion customizer mutate.
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        adGroupCriterionCustomizer:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroupCriterionCustomizer'
          description: The mutated AdGroupCriterionCustomizer with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Common__LocalServicesDocumentReadOnly:
      description: A Local Services Document with read only accessible data.
      type: object
      properties:
        documentUrl:
          type: string
          description: URL to access an already uploaded Local Services document.
    GoogleAdsGoogleadsV25Resources_Campaign_AssetAutomationSetting:
      description: Asset automation setting contains pair of AssetAutomationType and the asset automation opt-in/out status
      type: object
      properties:
        assetAutomationType:
          x-enumDescriptions:
          - Not specified.
          - Used as a return value only. Represents value unknown in this version.
          - Text asset automation (text customization) includes headlines and descriptions, allowing Google to create customized text assets using your existing ads, landing page copy, and generative AI across your campaign's ads. By default, advertisers are opted-in for Performance Max and opted-out for Search. Contrast this with `FINAL_URL_EXPANSION_TEXT_ASSET_AUTOMATION`, which dynamically generates text assets to match the content of dynamically selected landing pages when final URL expansion is active.
          - Converts horizontal video assets to vertical orientation using content-aware technology. By default, advertisers are opted in for DemandGenVideoResponsiveAdInfo.
          - Shortens video assets to better capture user attention using content-aware technology. By default, advertisers are opted in for DemandGenVideoResponsiveAdInfo.
          - Generates a preview of the landing page shown in the engagement panel. By using this feature, you confirm that you own all legal rights to the images on the landing page used by this account (or you have permission to share the images with Google). You hereby instruct Google to publish these images on your behalf for advertising or other commercial purposes.
          - Generates text information from the landing page to be shown in the engagement panel. Opted in by default for DemandGenVideoResponsiveAdInfo.
          - Generates video enhancements (vertical and shorter videos) for PMax campaigns. Opted in by default.
          - Generates image enhancements (AutoCrop and AutoEnhance). Opted in by default for pmax.
          - Generates image extraction. It defaults to account level Dynamic Image Extension control value.
          - Adds design elements and embeds text assets into image assets to create images with different aspect ratios. By default, advertisers are opted in for DemandGenMultiAssetAd.
          - Controls automation for text assets related to Final URL expansion. This includes automatically creating dynamic landing pages from the final URL and generating text assets from the content of those landing pages. This setting is turned OFF by default for Search campaigns, but it is turned ON by default for Performance Max campaigns. Enabling final URL expansion also enables text asset automation. There is no way to opt out of text asset automation and still use final URL expansion. Contrast this with standard `TEXT_ASSET_AUTOMATION` (text customization), which customizes copy across all ads in the campaign even when final URL expansion does not occur.
          - Generates videos using other Assets as input, such as images and text. By default, advertisers are opted in for DemandGenMultiAssetAd.
          - Generates animated images using other Assets as input, such as images and text. By default, advertisers are opted in for DemandGenMultiAssetAd.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - TEXT_ASSET_AUTOMATION
          - GENERATE_VERTICAL_YOUTUBE_VIDEOS
          - GENERATE_SHORTER_YOUTUBE_VIDEOS
          - GENERATE_LANDING_PAGE_PREVIEW
          - GENERATE_LANDING_PAGE_TEXT
          - GENERATE_ENHANCED_YOUTUBE_VIDEOS
          - GENERATE_IMAGE_ENHANCEMENT
          - GENERATE_IMAGE_EXTRACTION
          - GENERATE_DESIGN_VERSIONS_FOR_IMAGES
          - FINAL_URL_EXPANSION_TEXT_ASSET_AUTOMATION
          - GENERATE_VIDEOS_FROM_OTHER_ASSETS
          - GENERATE_ANIMATED_IMAGES_FROM_OTHER_ASSETS
          type: string
          description: The asset automation type advertiser would like to opt-in/out.
        assetAutomationStatus:
          description: The opt-in/out status of asset automation type.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used as a return value only. Represents value unknown in this version.
          - Opted-in will enable generating and serving an asset automation type.
          - Opted-out will stop generating and serving an asset automation type.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - OPTED_IN
          - OPTED_OUT
    GoogleAdsGoogleadsV25Common__AudienceSegmentDimension:
      description: Dimension specifying users by their membership in other audience segments.
      type: object
      properties:
        segments:
          description: Included audience segments. Users are included if they belong to at least one segment.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AudienceSegment'
          type: array
    GoogleAdsGoogleadsV25Services__MutateCustomConversionGoalResult:
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        customConversionGoal:
          description: The mutated CustomConversionGoal with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CustomConversionGoal'
      description: The result for the custom conversion goal mutate.
    GoogleAdsGoogleadsV25Services__MutateConversionGoalCampaignConfigResult:
      description: The result for the conversion goal campaign config mutate.
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        conversionGoalCampaignConfig:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__ConversionGoalCampaignConfig'
          description: The mutated ConversionGoalCampaignConfig with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Services__UserListOperation:
      type: object
      properties:
        remove:
          description: 'Remove operation: A resource name for the removed user list is expected, in this format: `customers/{customer_id}/userLists/{user_list_id}`'
          type: string
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__UserList'
          description: 'Update operation: The user list is expected to have a valid resource name.'
        updateMask:
          type: string
          description: FieldMask that determines which resource fields are modified in an update.
          format: google-fieldmask
        create:
          description: 'Create operation: No resource name is expected for the new user list.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__UserList'
      description: A single operation (create, update) on a user list.
    GoogleAdsGoogleadsV25Resources_Campaign_TravelCampaignSettings:
      type: object
      properties:
        travelAccountId:
          description: Immutable. The Travel account ID associated with the Travel campaign.
          type: string
          format: int64
      description: Settings for Travel campaign.
    GoogleAdsGoogleadsV25Common__DemandGenCarouselCardAsset:
      type: object
      properties:
        headline:
          type: string
          description: Required. Headline of the carousel card.
        callToActionText:
          description: Call to action text.
          type: string
        portraitMarketingImageAsset:
          type: string
          description: Asset resource name of the associated 4:5 portrait marketing image.
        marketingImageAsset:
          description: Asset resource name of the associated 1.91:1 marketing image. This and/or square marketing image asset is required.
          type: string
        squareMarketingImageAsset:
          type: string
          description: Asset resource name of the associated square marketing image. This and/or a marketing image asset is required.
      description: A Demand Gen Carousel Card asset.
    GoogleAdsGoogleadsV25Services__MutateAdGroupBidModifierResult:
      description: The result for the criterion mutate.
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        adGroupBidModifier:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroupBidModifier'
          description: The mutated ad group bid modifier with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Resources__AdGroupBidModifier:
      type: object
      properties:
        bidModifierSource:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The bid modifier is specified at the campaign level, on the campaign level criterion.
          - The bid modifier is specified (overridden) at the ad group level.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CAMPAIGN
          - AD_GROUP
          description: Output only. Bid modifier source.
          type: string
        adGroup:
          description: Immutable. The ad group to which this criterion belongs.
          type: string
        resourceName:
          description: 'Immutable. The resource name of the ad group bid modifier. Ad group bid modifier resource names have the form: `customers/{customer_id}/adGroupBidModifiers/{ad_group_id}~{criterion_id}`'
          type: string
        hotelDateSelectionType:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelDateSelectionTypeInfo'
          description: Immutable. Criterion for hotel date selection (default dates versus user selected).
        bidModifier:
          description: 'The modifier for the bid when the criterion matches. The modifier must be in the range: 0.1 - 10.0. Use 0 to opt out of a Device type.'
          type: number
          format: double
        baseAdGroup:
          description: Output only. The base ad group from which this draft/trial adgroup bid modifier was created. If ad_group is a base ad group then this field will be equal to ad_group. If the ad group was created in the draft or trial and has no corresponding base ad group, then this field will be null. This field is readonly.
          type: string
        hotelCheckInDateRange:
          description: Immutable. Criterion for a hotel check-in date range.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelCheckInDateRangeInfo'
        hotelCheckInDay:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelCheckInDayInfo'
          description: Immutable. Criterion for day of the week the booking is for.
        criterionId:
          description: Output only. The ID of the criterion to bid modify. This field is ignored for mutates.
          type: string
          format: int64
        hotelAdvanceBookingWindow:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelAdvanceBookingWindowInfo'
          description: Immutable. Criterion for number of days prior to the stay the booking is being made.
        hotelLengthOfStay:
          description: Immutable. Criterion for length of hotel stay in nights.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelLengthOfStayInfo'
        device:
          description: Immutable. A device criterion.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__DeviceInfo'
      description: Represents an ad group bid modifier.
    GoogleAdsGoogleadsV25Services__MutateAssetGroupSignalResult:
      description: The result for the asset group signal mutate.
      type: object
      properties:
        resourceName:
          type: string
          description: Returned for successful operations.
        assetGroupSignal:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AssetGroupSignal'
          description: The mutated AssetGroupSignal with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Common__LeadFormDeliveryMethod:
      type: object
      properties:
        webhook:
          description: Webhook method of delivery.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__WebhookDelivery'
      description: A configuration of how leads are delivered to the advertiser.
    GoogleAdsGoogleadsV25Resources__OfflineConversionUploadClientSummary:
      description: Offline conversion upload summary at customer level.
      type: object
      properties:
        lastUploadDateTime:
          description: Output only. Date for the latest upload batch. The format is "yyyy-mm-dd hh:mm:ss", and it's in the time zone of the Google Ads account.
          type: string
        jobSummaries:
          type: array
          description: Output only. Summary of history stats by last N jobs.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__OfflineConversionSummary'
        pendingRate:
          type: number
          description: Output only. The ratio of total pending events to total events.
          format: double
        resourceName:
          type: string
          description: 'Output only. The resource name of the offline conversion upload summary at customer level. Offline conversion upload client summary resource names have the form: `customers/{customer_id}/offlineConversionUploadClientSummaries/{client}`'
        client:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Google Ads API.
          - Google Ads web client, which could include multiple sources like Ads UI, SFTP, etc.
          - Connection platform.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - GOOGLE_ADS_API
          - GOOGLE_ADS_WEB_CLIENT
          - ADS_DATA_CONNECTOR
          description: Output only. Client type of the upload event.
          type: string
        totalEventCount:
          description: Output only. Total count of uploaded events.
          type: string
          format: int64
        successRate:
          description: Output only. Successful rate.
          type: number
          format: double
        successfulEventCount:
          type: string
          description: Output only. Total count of successful uploaded events.
          format: int64
        dailySummaries:
          type: array
          description: Output only. Summary of history stats by last N days.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__OfflineConversionSummary'
        alerts:
          description: Output only. Details for each error code. Alerts are generated from most recent calendar day with upload stats.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__OfflineConversionAlert'
          type: array
        pendingEventCount:
          description: Output only. Total count of pending uploaded events.
          type: string
          format: int64
        status:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - EXCELLENT
          - GOOD
          - NEEDS_ATTENTION
          - NO_RECENT_UPLOAD
          type: string
          description: Output only. Overall status for offline conversion client summary. Status is generated from most recent calendar day with upload stats.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Your offline data ingestion setup is active and optimal for downstream processing.
          - Your offline ingestion setup is active, but there are further improvements you could make. See alerts.
          - Your offline ingestion setup is active, but there are errors that require your attention. See alerts.
          - Your offline ingestion setup has not received data in the last 28 days, there may be something wrong.
    GoogleAdsGoogleadsV25Common__BudgetSimulationPoint:
      description: Projected metrics for a specific budget amount.
      type: object
      properties:
        topSlotImpressions:
          format: int64
          type: string
          description: Projected number of top slot impressions. Only search advertising channel type supports this field.
        requiredCpcBidCeilingMicros:
          description: Projected required daily cpc bid ceiling that the advertiser must set to realize this simulation, in micros of the advertiser currency. Only campaigns with the Target Spend bidding strategy support this field.
          type: string
          format: int64
        clicks:
          format: int64
          description: Projected number of clicks.
          type: string
        budgetAmountMicros:
          type: string
          description: The simulated budget upon which projected metrics are based.
          format: int64
        impressions:
          type: string
          description: Projected number of impressions.
          format: int64
        costMicros:
          format: int64
          type: string
          description: Projected cost in micros.
        biddableConversionsValue:
          format: double
          type: number
          description: Projected total value of biddable conversions.
        interactions:
          description: Projected number of interactions. Only discovery advertising channel type supports this field.
          type: string
          format: int64
        biddableConversions:
          description: Projected number of biddable conversions.
          type: number
          format: double
    GoogleAdsGoogleadsV25Services__ConversionValueRuleOperation:
      description: A single operation (create, update, remove) on a conversion value rule.
      type: object
      properties:
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__ConversionValueRule'
          description: 'Update operation: The conversion value rule is expected to have a valid resource name.'
        updateMask:
          description: FieldMask that determines which resource fields are modified in an update.
          type: string
          format: google-fieldmask
        create:
          description: 'Create operation: No resource name is expected for the new conversion value rule.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__ConversionValueRule'
        remove:
          description: 'Remove operation: A resource name for the removed conversion value rule is expected, in this format: `customers/{customer_id}/conversionValueRules/{conversion_value_rule_id}`'
          type: string
    GoogleAdsGoogleadsV25Resources__ParentalStatusView:
      description: A parental status view.
      type: object
      properties:
        resourceName:
          description: 'Output only. The resource name of the parental status view. Parental Status view resource names have the form: `customers/{customer_id}/parentalStatusViews/{ad_group_id}~{criterion_id}`'
          type: string
    GoogleAdsGoogleadsV25Resources_ListingGroupFilterDimension_ProductChannel:
      description: Locality of a product offer.
      type: object
      properties:
        channel:
          type: string
          description: Value of the locality.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The item is sold online.
          - The item is sold in local stores.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ONLINE
          - LOCAL
    GoogleAdsGoogleadsV25Services__MutateCustomerAssetResult:
      type: object
      properties:
        resourceName:
          type: string
          description: Returned for successful operations.
        customerAsset:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CustomerAsset'
          description: The mutated customer asset with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
      description: The result for the customer asset mutate.
    GoogleAdsGoogleadsV25Resources_Recommendation_LeadFormAssetRecommendation:
      description: The lead form asset recommendation.
      type: object
      properties: {}
    GoogleAdsGoogleadsV25Resources_ConversionAction_AttributionModelSettings:
      type: object
      properties:
        attributionModel:
          description: The attribution model type of this conversion action.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Uses external attribution.
          - Attributes all credit for a conversion to its last click.
          - Attributes all credit for a conversion to its first click using Google Search attribution.
          - Attributes credit for a conversion equally across all of its clicks using Google Search attribution.
          - Attributes exponentially more credit for a conversion to its more recent clicks using Google Search attribution (half-life is 1 week).
          - Attributes 40% of the credit for a conversion to its first and last clicks. Remaining 20% is evenly distributed across all other clicks. This uses Google Search attribution.
          - Flexible model that uses machine learning to determine the appropriate distribution of credit among clicks using Google Search attribution.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - EXTERNAL
          - GOOGLE_ADS_LAST_CLICK
          - GOOGLE_SEARCH_ATTRIBUTION_FIRST_CLICK
          - GOOGLE_SEARCH_ATTRIBUTION_LINEAR
          - GOOGLE_SEARCH_ATTRIBUTION_TIME_DECAY
          - GOOGLE_SEARCH_ATTRIBUTION_POSITION_BASED
          - GOOGLE_SEARCH_ATTRIBUTION_DATA_DRIVEN
        dataDrivenModelStatus:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - AVAILABLE
          - STALE
          - EXPIRED
          - NEVER_GENERATED
          type: string
          description: Output only. The status of the data-driven attribution model for the conversion action.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The data driven model is available.
          - The data driven model is stale. It hasn't been updated for at least 7 days. It is still being used, but will become expired if it does not get updated for 30 days.
          - The data driven model expired. It hasn't been updated for at least 30 days and cannot be used. Most commonly this is because there hasn't been the required number of events in a recent 30-day period.
          - The data driven model has never been generated. Most commonly this is because there has never been the required number of events in any 30-day period.
      description: Settings related to this conversion action's attribution model.
    GoogleAdsGoogleadsV25Resources_Campaign_AppCampaignSetting:
      description: Campaign-level settings for App Campaigns.
      type: object
      properties:
        biddingStrategyGoalType:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Aim to maximize the number of app installs. The cpa bid is the target cost per install.
          - Aim to maximize the long term number of selected in-app conversions from app installs. The cpa bid is the target cost per install.
          - Aim to maximize the long term number of selected in-app conversions from app installs. The cpa bid is the target cost per in-app conversion. Note that the actual cpa may seem higher than the target cpa at first, since the long term conversions haven't happened yet.
          - Aim to maximize all conversions' value, for example, install + selected in-app conversions while achieving or exceeding target return on advertising spend.
          - Aim to maximize the pre-registration of the app.
          - Aim to maximize installation of the app without target cost-per-install.
          - Aim to maximize the selected in-app conversion's volume while spending the full budget. No advertiser-specific target CPA.
          - Aim to maximize total conversion value, such as install and selected in-app conversions, while spending the full budget. No advertiser-specified target ROAS.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - OPTIMIZE_INSTALLS_TARGET_INSTALL_COST
          - OPTIMIZE_IN_APP_CONVERSIONS_TARGET_INSTALL_COST
          - OPTIMIZE_IN_APP_CONVERSIONS_TARGET_CONVERSION_COST
          - OPTIMIZE_RETURN_ON_ADVERTISING_SPEND
          - OPTIMIZE_PRE_REGISTRATION_CONVERSION_VOLUME
          - OPTIMIZE_INSTALLS_WITHOUT_TARGET_INSTALL_COST
          - OPTIMIZE_IN_APP_CONVERSIONS_WITHOUT_TARGET_CPA
          - OPTIMIZE_TOTAL_VALUE_WITHOUT_TARGET_ROAS
          description: Represents the goal which the bidding strategy of this app campaign should optimize towards.
          type: string
        appStore:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Apple app store.
          - Google play.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - APPLE_APP_STORE
          - GOOGLE_APP_STORE
          type: string
          description: Immutable. The application store that distributes this specific app.
        appId:
          description: Immutable. A string that uniquely identifies a mobile application.
          type: string
    GoogleAdsGoogleadsV25Resources__DomainCategory:
      type: object
      properties:
        category:
          description: Output only. Recommended category for the website domain, for example, if you have a website about electronics, the categories could be "cameras", "televisions", etc.
          type: string
        languageCode:
          type: string
          description: Output only. The language code specifying the language of the website, for example, "en" for English. The language can be specified in the DynamicSearchAdsSetting required for dynamic search ads. This is the language of the pages from your website that you want Google Ads to find, create ads for, and match searches with.
        hasChildren:
          description: Output only. Indicates whether this category has sub-categories.
          type: boolean
        recommendedCpcBidMicros:
          format: int64
          type: string
          description: Output only. The recommended cost per click for the category.
        domain:
          description: Output only. The domain for the website. The domain can be specified in the DynamicSearchAdsSetting required for dynamic search ads.
          type: string
        categoryRank:
          description: Output only. The position of this category in the set of categories. Lower numbers indicate a better match for the domain. null indicates not recommended.
          type: string
          format: int64
        resourceName:
          description: 'Output only. The resource name of the domain category. Domain category resource names have the form: `customers/{customer_id}/domainCategories/{campaign_id}~{category_base64}~{language_code}`'
          type: string
        coverageFraction:
          type: number
          description: Output only. Fraction of pages on your site that this category matches.
          format: double
        campaign:
          type: string
          description: Output only. The campaign this category is recommended for.
      description: 'A category generated automatically by crawling a domain. If a campaign uses the DynamicSearchAdsSetting, then domain categories will be generated for the domain. The categories can be targeted using WebpageConditionInfo. See: https://support.google.com/google-ads/answer/2471185'
    GoogleAdsGoogleadsV25Common__PriceAsset:
      type: object
      properties:
        priceQualifier:
          description: The price qualifier of the price asset.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - '''From'' qualifier for the price.'
          - '''Up to'' qualifier for the price.'
          - '''Average'' qualifier for the price.'
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - FROM
          - UP_TO
          - AVERAGE
        languageCode:
          description: Required. The language of the price asset. Represented as BCP 47 language tag.
          type: string
        type:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The type for showing a list of brands.
          - The type for showing a list of events.
          - The type for showing locations relevant to your business.
          - The type for showing sub-regions or districts within a city or region.
          - The type for showing a collection of product categories.
          - The type for showing a collection of related product tiers.
          - The type for showing a collection of services offered by your business.
          - The type for showing a collection of service categories.
          - The type for showing a collection of related service tiers.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - BRANDS
          - EVENTS
          - LOCATIONS
          - NEIGHBORHOODS
          - PRODUCT_CATEGORIES
          - PRODUCT_TIERS
          - SERVICES
          - SERVICE_CATEGORIES
          - SERVICE_TIERS
          type: string
          description: Required. The type of the price asset.
        priceOfferings:
          description: The price offerings of the price asset. The size of this collection should be between 3 and 8, inclusive.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PriceOffering'
          type: array
      description: An asset representing a list of price offers.
    GoogleAdsGoogleadsV25Resources_Campaign_AudienceSetting:
      description: Settings for the audience targeting.
      type: object
      properties:
        useAudienceGrouped:
          type: boolean
          description: Immutable. If true, this campaign uses an Audience resource for audience targeting. If false, this campaign may use audience segment criteria instead.
    GoogleAdsGoogleadsV25Resources__ContactDetails:
      description: Fields containing consumer contact details.
      type: object
      properties:
        consumerName:
          description: Output only. Consumer name if consumer provided name from Message or Booking form on google.com
          type: string
        phoneNumber:
          description: 'Output only. Phone number of the consumer for the lead. This can be a real phone number or a tracking number. The phone number is returned in E164 format. See https://support.google.com/google-ads/answer/16355235?hl=en to learn more. Example: +16504519489.'
          type: string
        phoneNumberExtension:
          description: 'Output only. The extension number to be used with the phone number. This field is populated only when the ''phone_number'' is a tracking number. It is typically 3 or 4 digits. Example: 013, 0129. When populated, this extension number is required to reach out to the right consumer.'
          type: string
    GoogleAdsGoogleadsV25Resources__OfflineConversionAlert:
      description: Alert for offline conversion client summary.
      type: object
      properties:
        errorPercentage:
          format: double
          type: number
          description: Output only. Percentage of the error, the range of this field should be [0, 1.0].
        error:
          description: Output only. Error for offline conversion client alert.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__OfflineConversionError'
    GoogleAdsGoogleadsV25Common__ActivityCountryInfo:
      description: The country where the travel activity is available.
      type: object
      properties:
        value:
          type: string
          description: String value of the activity country. The Geo Target Constant resource name.
    GoogleAdsGoogleadsV25Services_MetricAttributes_Attribute:
      type: object
      properties:
        key:
          description: The key of the attribute.
          type: string
        value:
          description: The value of the attribute.
          type: string
      description: The attribute of the metric in key value pair format.
    GoogleAdsGoogleadsV25Resources__HotelReconciliation:
      type: object
      properties:
        campaign:
          description: Output only. The resource name for the Campaign associated with the conversion.
          type: string
        reconciledValueMicros:
          format: int64
          description: Required. Output only. Reconciled value is the final value of a booking as paid by the guest. If original booking value changes for any reason, such as itinerary changes or room upsells, the reconciled value should be the full final amount collected. If a booking is canceled, the reconciled value should include the value of any cancellation fees or non-refundable nights charged. Value is in millionths of the base unit currency. For example, $12.35 would be represented as 12350000. Currency unit is in the default customer currency.
          type: string
        resourceName:
          description: 'Immutable. The resource name of the hotel reconciliation. Hotel reconciliation resource names have the form: `customers/{customer_id}/hotelReconciliations/{commission_id}`'
          type: string
        billed:
          type: boolean
          description: Output only. Whether a given booking has been billed. Once billed, a booking can't be modified.
        status:
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - Bookings are for a future date, or a stay is underway but the check-out date hasn't passed. An active reservation can't be reconciled.
          - Check-out has already taken place, or the booked dates have passed without cancellation. Bookings that are not reconciled within 45 days of the check-out date are billed based on the original booking price.
          - These bookings have been reconciled. Reconciled bookings are billed 45 days after the check-out date.
          - This booking was marked as canceled. Canceled stays with a value greater than zero (due to minimum stay rules or cancellation fees) are billed 45 days after the check-out date.
          type: string
          description: Required. Output only. Current status of a booking with regards to reconciliation and billing. Bookings should be reconciled within 45 days after the check-out date. Any booking not reconciled within 45 days will be billed at its original value.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - RESERVATION_ENABLED
          - RECONCILIATION_NEEDED
          - RECONCILED
          - CANCELED
        commissionId:
          type: string
          description: Required. Output only. The commission ID is Google's ID for this booking. Every booking event is assigned a Commission ID to help you match it to a guest stay.
        checkInDate:
          description: Output only. Check-in date recorded when the booking is made. If the check-in date is modified at reconciliation, the revised date will then take the place of the original date in this column. Format is YYYY-MM-DD.
          type: string
        hotelId:
          description: Output only. Unique identifier for the booked property, as provided in the Hotel Center feed. The hotel ID comes from the 'ID' parameter of the conversion tracking tag.
          type: string
        checkOutDate:
          description: Output only. Check-out date recorded when the booking is made. If the check-in date is modified at reconciliation, the revised date will then take the place of the original date in this column. Format is YYYY-MM-DD.
          type: string
        orderId:
          type: string
          description: Output only. The order ID is the identifier for this booking as provided in the 'transaction_id' parameter of the conversion tracking tag.
        hotelCenterId:
          type: string
          description: Output only. Identifier for the Hotel Center account which provides the rates for the Hotel campaign.
          format: int64
      description: A hotel reconciliation. It contains conversion information from Hotel bookings to reconcile with advertiser records. These rows may be updated or canceled before billing through Bulk Uploads.
    GoogleAdsGoogleadsV25Common__AudienceDimension:
      description: Positive dimension specifying user's audience.
      type: object
      properties:
        age:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AgeDimension'
          description: Dimension specifying users by their age.
        gender:
          description: Dimension specifying users by their gender.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__GenderDimension'
        parentalStatus:
          description: Dimension specifying users by their parental status.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__ParentalStatusDimension'
        householdIncome:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HouseholdIncomeDimension'
          description: Dimension specifying users by their household income.
        audienceSegments:
          description: Dimension specifying users by their membership in other audience segments.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AudienceSegmentDimension'
    GoogleAdsGoogleadsV25Common__HotelAdInfo:
      description: A hotel ad.
      type: object
      properties: {}
    GoogleAdsGoogleadsV25Resources__MediaFile:
      description: A media file.
      type: object
      properties:
        resourceName:
          type: string
          description: 'Immutable. The resource name of the media file. Media file resource names have the form: `customers/{customer_id}/mediaFiles/{media_file_id}`'
        type:
          description: Immutable. Type of the media file.
          type: string
          x-enumDescriptions:
          - The media type has not been specified.
          - The received value is not known in this version. This is a response-only value.
          - Static image, used for image ad.
          - Small image, used for map ad.
          - ZIP file, used in fields of template ads.
          - Audio file.
          - Video file.
          - Animated image, such as animated GIF.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - IMAGE
          - ICON
          - MEDIA_BUNDLE
          - AUDIO
          - VIDEO
          - DYNAMIC_IMAGE
        id:
          type: string
          description: Output only. The ID of the media file.
          format: int64
        mediaBundle:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__MediaBundle'
          description: Immutable. A ZIP archive media the content of which contains HTML5 assets.
        fileSize:
          format: int64
          type: string
          description: Output only. The size of the media file in bytes.
        video:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__MediaVideo'
          description: Immutable. Encapsulates a Video.
        name:
          type: string
          description: Immutable. The name of the media file. The name can be used by clients to help identify previously uploaded media.
        sourceUrl:
          description: Immutable. The URL of where the original media file was downloaded from (or a file name). Only used for media of type AUDIO and IMAGE.
          type: string
        mimeType:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - IMAGE_JPEG
          - IMAGE_GIF
          - IMAGE_PNG
          - FLASH
          - TEXT_HTML
          - PDF
          - MSWORD
          - MSEXCEL
          - RTF
          - AUDIO_WAV
          - AUDIO_MP3
          - HTML5_AD_ZIP
          type: string
          description: Output only. The mime type of the media file.
          x-enumDescriptions:
          - The mime type has not been specified.
          - The received value is not known in this version. This is a response-only value.
          - MIME type of image/jpeg.
          - MIME type of image/gif.
          - MIME type of image/png.
          - MIME type of application/x-shockwave-flash.
          - MIME type of text/html.
          - MIME type of application/pdf.
          - MIME type of application/msword.
          - MIME type of application/vnd.ms-excel.
          - MIME type of application/rtf.
          - MIME type of audio/wav.
          - MIME type of audio/mp3.
          - MIME type of application/x-html5-ad-zip.
        image:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__MediaImage'
          description: Immutable. Encapsulates an Image.
        audio:
          description: Output only. Encapsulates an Audio.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__MediaAudio'
    GoogleAdsGoogleadsV25Common__VideoOutstreamAdInfo:
      description: Representation of video out-stream ad format (ad shown alongside a feed with automatic playback, without sound).
      type: object
      properties:
        headline:
          description: The headline of the ad.
          type: string
        description:
          type: string
          description: The description line.
    GoogleAdsGoogleadsV25Resources__AssetPolicySummary:
      description: Contains policy information for an asset.
      type: object
      properties:
        approvalStatus:
          type: string
          description: Output only. The overall approval status of this asset, calculated based on the status of its individual policy topic entries.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DISAPPROVED
          - APPROVED_LIMITED
          - APPROVED
          - AREA_OF_INTEREST_ONLY
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - Will not serve.
          - Serves with restrictions.
          - Serves without restrictions.
          - Will not serve in targeted countries, but may serve for users who are searching for information about the targeted countries.
        policyTopicEntries:
          description: Output only. The list of policy findings for this asset.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PolicyTopicEntry'
          type: array
        reviewStatus:
          description: Output only. Where in the review process this asset is.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - REVIEW_IN_PROGRESS
          - REVIEWED
          - UNDER_APPEAL
          - ELIGIBLE_MAY_SERVE
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - Currently under review.
          - Primary review complete. Other reviews may be continuing.
          - The resource has been resubmitted for approval or its policy decision has been appealed.
          - The resource is eligible and may be serving but could still undergo further review.
    GoogleAdsGoogleadsV25Common__LeadFormField:
      description: One input field instance within a form.
      type: object
      properties:
        inputType:
          type: string
          description: Describes the input type, which may be a predefined type such as "full name" or a pre-vetted question like "What kind of vehicle do you have?".
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The user will be asked to fill in their given and family name. This field cannot be set at the same time as GIVEN_NAME or FAMILY_NAME.
          - The user will be asked to fill in their email address.
          - The user will be asked to fill in their phone number.
          - The user will be asked to fill in their zip code.
          - The user will be asked to fill in their street address.
          - The user will be asked to fill in their city.
          - The user will be asked to fill in their region part of the address (for example, state for US, province for Canada).
          - The user will be asked to fill in their country.
          - The user will be asked to fill in their work email address.
          - The user will be asked to fill in their company name.
          - The user will be asked to fill in their work phone.
          - The user will be asked to fill in their job title.
          - The user will be asked to fill in their CPF for Brazil users.
          - The user will be asked to fill in their DNI for Argentina users.
          - The user will be asked to fill in their DNI for Peru users.
          - The user will be asked to fill in their RUT for Chile users.
          - The user will be asked to fill in their CC for Colombia users.
          - The user will be asked to fill in their CI for Ecuador users.
          - The user will be asked to fill in their RFC for Mexico users.
          - The user will be asked to fill in their first name. This field can not be set at the same time as FULL_NAME.
          - The user will be asked to fill in their last name. This field can not be set at the same time as FULL_NAME.
          - 'Question: "Which model are you interested in?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which type of vehicle are you interested in?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your preferred dealership?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "When do you plan on purchasing a vehicle?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Do you own a vehicle?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What vehicle ownership option are you interested in?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What type of vehicle condition are you interested in?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What size is your company?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your annual sales volume?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "How many years have you been in business?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your job department?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your job role?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 18 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 19 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 20 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 21 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 22 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 23 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 24 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 25 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 26 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 27 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 28 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 29 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 30 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 31 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 32 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 33 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 34 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 35 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 36 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 37 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 38 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 39 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 40 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 41 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 42 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 43 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 44 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 45 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 46 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 47 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 48 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 49 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 50 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 51 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 52 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 53 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 54 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 55 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 56 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 57 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 58 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 59 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 60 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 61 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 62 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 63 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 64 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 65 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which program are you interested in?" Category: "Education" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which course are you interested in?" Category: "Education" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which product are you interested in?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which service are you interested in?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which offer are you interested in?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which category are you interested in?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your preferred method of contact?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your preferred location?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is the best time to contact you?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "When are you looking to make a purchase?" Category: "General" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "How many years of work experience do you have?" Category: "Jobs" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What industry do you work in?" Category: "Jobs" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your highest level of education?" Category: "Jobs" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What type of property are you looking for?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What do you need a realtor''s help with?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What neighborhood are you interested in?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What price range are you looking for?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "How many bedrooms are you looking for?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you looking for a fully furnished property?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you looking for properties that allow pets?" Category: "Real Estate" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is the next product you plan to purchase?" Category: "Retail" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Would you like to sign up for an event?" Category: "Retail" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Where are you interested in shopping?" Category: "Retail" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your favorite brand?" Category: "Retail" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which type of valid commercial license do you have?" Category: "Transportation" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Interested in booking an event?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your destination country?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your destination city?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your departure country?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your departure city?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your departure date?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your return date?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "How many people are you traveling with?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your travel budget?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Where do you want to stay during your travel?" Category: "Travel" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - FULL_NAME
          - EMAIL
          - PHONE_NUMBER
          - POSTAL_CODE
          - STREET_ADDRESS
          - CITY
          - REGION
          - COUNTRY
          - WORK_EMAIL
          - COMPANY_NAME
          - WORK_PHONE
          - JOB_TITLE
          - GOVERNMENT_ISSUED_ID_CPF_BR
          - GOVERNMENT_ISSUED_ID_DNI_AR
          - GOVERNMENT_ISSUED_ID_DNI_PE
          - GOVERNMENT_ISSUED_ID_RUT_CL
          - GOVERNMENT_ISSUED_ID_CC_CO
          - GOVERNMENT_ISSUED_ID_CI_EC
          - GOVERNMENT_ISSUED_ID_RFC_MX
          - FIRST_NAME
          - LAST_NAME
          - VEHICLE_MODEL
          - VEHICLE_TYPE
          - PREFERRED_DEALERSHIP
          - VEHICLE_PURCHASE_TIMELINE
          - VEHICLE_OWNERSHIP
          - VEHICLE_PAYMENT_TYPE
          - VEHICLE_CONDITION
          - COMPANY_SIZE
          - ANNUAL_SALES
          - YEARS_IN_BUSINESS
          - JOB_DEPARTMENT
          - JOB_ROLE
          - OVER_18_AGE
          - OVER_19_AGE
          - OVER_20_AGE
          - OVER_21_AGE
          - OVER_22_AGE
          - OVER_23_AGE
          - OVER_24_AGE
          - OVER_25_AGE
          - OVER_26_AGE
          - OVER_27_AGE
          - OVER_28_AGE
          - OVER_29_AGE
          - OVER_30_AGE
          - OVER_31_AGE
          - OVER_32_AGE
          - OVER_33_AGE
          - OVER_34_AGE
          - OVER_35_AGE
          - OVER_36_AGE
          - OVER_37_AGE
          - OVER_38_AGE
          - OVER_39_AGE
          - OVER_40_AGE
          - OVER_41_AGE
          - OVER_42_AGE
          - OVER_43_AGE
          - OVER_44_AGE
          - OVER_45_AGE
          - OVER_46_AGE
          - OVER_47_AGE
          - OVER_48_AGE
          - OVER_49_AGE
          - OVER_50_AGE
          - OVER_51_AGE
          - OVER_52_AGE
          - OVER_53_AGE
          - OVER_54_AGE
          - OVER_55_AGE
          - OVER_56_AGE
          - OVER_57_AGE
          - OVER_58_AGE
          - OVER_59_AGE
          - OVER_60_AGE
          - OVER_61_AGE
          - OVER_62_AGE
          - OVER_63_AGE
          - OVER_64_AGE
          - OVER_65_AGE
          - EDUCATION_PROGRAM
          - EDUCATION_COURSE
          - PRODUCT
          - SERVICE
          - OFFER
          - CATEGORY
          - PREFERRED_CONTACT_METHOD
          - PREFERRED_LOCATION
          - PREFERRED_CONTACT_TIME
          - PURCHASE_TIMELINE
          - YEARS_OF_EXPERIENCE
          - JOB_INDUSTRY
          - LEVEL_OF_EDUCATION
          - PROPERTY_TYPE
          - REALTOR_HELP_GOAL
          - PROPERTY_COMMUNITY
          - PRICE_RANGE
          - NUMBER_OF_BEDROOMS
          - FURNISHED_PROPERTY
          - PETS_ALLOWED_PROPERTY
          - NEXT_PLANNED_PURCHASE
          - EVENT_SIGNUP_INTEREST
          - PREFERRED_SHOPPING_PLACES
          - FAVORITE_BRAND
          - TRANSPORTATION_COMMERCIAL_LICENSE_TYPE
          - EVENT_BOOKING_INTEREST
          - DESTINATION_COUNTRY
          - DESTINATION_CITY
          - DEPARTURE_COUNTRY
          - DEPARTURE_CITY
          - DEPARTURE_DATE
          - RETURN_DATE
          - NUMBER_OF_TRAVELERS
          - TRAVEL_BUDGET
          - TRAVEL_ACCOMMODATION
        singleChoiceAnswers:
          description: Answer configuration for a single choice question. Can be set only for pre-vetted question fields. Minimum of 2 answers required and maximum of 12 allowed.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__LeadFormSingleChoiceAnswers'
        hasLocationAnswer:
          description: Answer configuration for location question. If true, campaign/account level location data (state, city, business name etc) will be rendered on the Lead Form. Starting V13.1, has_location_answer can only be set for "What is your preferred dealership?" question, for advertisers with Location Assets setup at campaign/account level.
          type: boolean
    GoogleAdsGoogleadsV25Common__AdVideoAssetInventoryPreferences:
      type: object
      properties:
        inStreamPreference:
          description: When true, YouTube Video Asset with this inventory preference will be preferred when choosing a video to serve In Stream.
          type: boolean
        shortsPreference:
          type: boolean
          description: When true, YouTube Video Asset with this inventory preference will be preferred when choosing a video to serve on YouTube Shorts.
        inFeedPreference:
          description: When true, YouTube Video Asset with this inventory preference will be preferred when choosing a video to serve In Feed.
          type: boolean
      description: YouTube Video Asset inventory preferences.
    GoogleAdsGoogleadsV25Services__MutateAssetGroupResult:
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
      description: The result for the asset group mutate.
    GoogleAdsGoogleadsV25Resources__CampaignAsset:
      type: object
      properties:
        campaign:
          type: string
          description: Immutable. The campaign to which the asset is linked.
        resourceName:
          type: string
          description: 'Immutable. The resource name of the campaign asset. CampaignAsset resource names have the form: `customers/{customer_id}/campaignAssets/{campaign_id}~{asset_id}~{field_type}`'
        fieldType:
          type: string
          description: Immutable. Role that the asset takes under the linked campaign. Required.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset is linked for use as a headline.
          - The asset is linked for use as a description.
          - The asset is linked for use as mandatory ad text.
          - The asset is linked for use as a marketing image.
[...]
