openapi: 3.2.0
info:
  title: Google Ads Customers.shared Sets API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.sharedSets
paths:
  /v25/customers/{customersId}/sharedSets:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_sharedSets_mutate
      summary: Creates, updates, or removes shared sets
      tags:
      - customers.sharedSets
      description: 'Creates, updates, or removes shared sets. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SharedSetError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer whose shared sets are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateSharedSetsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateSharedSetsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__SharedSetOperation:
      type: object
      properties:
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__SharedSet'
          description: 'Update operation: The shared set is expected to have a valid resource name.'
        updateMask:
          description: FieldMask that determines which resource fields are modified in an update.
          type: string
          format: google-fieldmask
        create:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__SharedSet'
          description: 'Create operation: No resource name is expected for the new shared set.'
        remove:
          description: 'Remove operation: A resource name for the removed shared set is expected, in this format: `customers/{customer_id}/sharedSets/{shared_set_id}`'
          type: string
      description: A single operation (create, update, remove) on an shared set.
    GoogleAdsGoogleadsV25Resources__SharedSet:
      type: object
      properties:
        type:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - A set of keywords that can be excluded from targeting.
          - A set of placements that can be excluded from targeting.
          - An account-level set of keywords that can be excluded from targeting.
          - A set of brands can be included or excluded from targeting.
          - A set of webpages that can be excluded from targeting. This shared set type is not publicly available.
          - A set of vertical ads item group rules that can be included or excluded from targeting in Vertical Ads (e.g., for hotel ads).
          - A set representing Retail Filter, which is used for filtering offers served in a campaign.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - NEGATIVE_KEYWORDS
          - NEGATIVE_PLACEMENTS
          - ACCOUNT_LEVEL_NEGATIVE_KEYWORDS
          - BRANDS
          - WEBPAGES
          - VERTICAL_ADS_ITEM_GROUP_RULE_LIST
          - RETAIL_FILTER
          type: string
          description: 'Immutable. The type of this shared set: each shared set holds only a single kind of resource. Required. Immutable.'
        referenceCount:
          type: string
          description: Output only. The number of campaigns associated with this shared set. Read only.
          format: int64
        id:
          description: Output only. The ID of this shared set. Read only.
          type: string
          format: int64
        status:
          description: Output only. The status of this shared set. Read only.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - REMOVED
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The shared set is enabled.
          - The shared set is removed and can no longer be used.
        memberCount:
          format: int64
          type: string
          description: Output only. The number of shared criteria within this shared set. Read only.
        resourceName:
          type: string
          description: 'Immutable. The resource name of the shared set. Shared set resource names have the form: `customers/{customer_id}/sharedSets/{shared_set_id}`'
        name:
          description: The name of this shared set. Required. Shared Sets must have names that are unique among active shared sets of the same type. The length of this string should be between 1 and 255 UTF-8 bytes, inclusive.
          type: string
        verticalAdsItemVerticalType:
          description: Immutable. Shared sets of type VERTICAL_ADS_ITEM_GROUP_RULE_LIST are associated with a particular vertical (e.g. hotels, things to do, flights, etc.). This field is required for shared sets of type VERTICAL_ADS_ITEM_GROUP_RULE_LIST.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Hotels travel vertical.
          - Vacation rentals travel vertical.
          - Rental cars travel vertical.
          - Events travel vertical.
          - Things to do travel vertical.
          - Flights travel vertical.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - HOTELS
          - VACATION_RENTALS
          - RENTAL_CARS
          - EVENTS
          - THINGS_TO_DO
          - FLIGHTS
      description: SharedSets are used for sharing criterion exclusions across multiple campaigns.
    GoogleAdsGoogleadsV25Services__MutateSharedSetsResponse:
      description: Response message for a shared set mutate.
      type: object
      properties:
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateSharedSetResult'
          type: array
        partialFailureError:
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
          $ref: '#/components/schemas/GoogleRpc__Status'
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__MutateSharedSetsRequest:
      description: Request message for SharedSetService.MutateSharedSets.
      type: object
      properties:
        partialFailure:
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
          type: boolean
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
        responseContentType:
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
          type: string
          description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.
        operations:
          description: Required. The list of operations to perform on individual shared sets.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__SharedSetOperation'
          type: array
    GoogleAdsGoogleadsV25Services__MutateSharedSetResult:
      description: The result for the shared set mutate.
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        sharedSet:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__SharedSet'
          description: The mutated shared set with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
