openapi: 3.2.0
info:
  title: Google Ads Customers.keyword Plan Campaigns API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.keywordPlanCampaigns
paths:
  /v25/customers/{customersId}/keywordPlanCampaigns:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_keywordPlanCampaigns_mutate
      summary: Creates, updates, or removes Keyword Plan campaigns
      tags:
      - customers.keywordPlanCampaigns
      description: 'Creates, updates, or removes Keyword Plan campaigns. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [KeywordPlanCampaignError]() [KeywordPlanError]() [ListOperationError]() [MutateError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer whose Keyword Plan campaigns are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateKeywordPlanCampaignsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateKeywordPlanCampaignsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__MutateKeywordPlanCampaignsRequest:
      description: Request message for KeywordPlanCampaignService.MutateKeywordPlanCampaigns.
      type: object
      properties:
        partialFailure:
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
          type: boolean
        validateOnly:
          description: If true, the request is validated but not executed. Only errors are returned, not results.
          type: boolean
        operations:
          description: Required. The list of operations to perform on individual Keyword Plan campaigns.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__KeywordPlanCampaignOperation'
          type: array
    GoogleAdsGoogleadsV25Resources__KeywordPlanCampaign:
      description: 'A Keyword Plan campaign. Max number of keyword plan campaigns per plan allowed: 1.'
      type: object
      properties:
        languageConstants:
          type: array
          description: 'The languages targeted for the Keyword Plan campaign. Max allowed: 1.'
          items:
            type: string
        keywordPlanNetwork:
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - Google Search.
          - Google Search + Search partners.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - GOOGLE_SEARCH
          - GOOGLE_SEARCH_AND_PARTNERS
          type: string
          description: Targeting network. This field is required and should not be empty when creating Keyword Plan campaigns.
        resourceName:
          type: string
          description: 'Immutable. The resource name of the Keyword Plan campaign. KeywordPlanCampaign resource names have the form: `customers/{customer_id}/keywordPlanCampaigns/{kp_campaign_id}`'
        name:
          description: The name of the Keyword Plan campaign. This field is required and should not be empty when creating Keyword Plan campaigns.
          type: string
        cpcBidMicros:
          type: string
          description: A default max cpc bid in micros, and in the account currency, for all ad groups under the campaign. This field is required and should not be empty when creating Keyword Plan campaigns.
          format: int64
        keywordPlan:
          description: The keyword plan this campaign belongs to.
          type: string
        id:
          format: int64
          description: Output only. The ID of the Keyword Plan campaign.
          type: string
        geoTargets:
          description: 'The geo targets. Max number allowed: 20.'
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__KeywordPlanGeoTarget'
          type: array
    GoogleAdsGoogleadsV25Resources__KeywordPlanGeoTarget:
      type: object
      properties:
        geoTargetConstant:
          description: Required. The resource name of the geo target.
          type: string
      description: A geo target.
    GoogleAdsGoogleadsV25Services__MutateKeywordPlanCampaignResult:
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
      description: The result for the Keyword Plan campaign mutate.
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__MutateKeywordPlanCampaignsResponse:
      type: object
      properties:
        partialFailureError:
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
          $ref: '#/components/schemas/GoogleRpc__Status'
        results:
          type: array
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateKeywordPlanCampaignResult'
      description: Response message for a Keyword Plan campaign mutate.
    GoogleAdsGoogleadsV25Services__KeywordPlanCampaignOperation:
      description: A single operation (create, update, remove) on a Keyword Plan campaign.
      type: object
      properties:
        remove:
          type: string
          description: 'Remove operation: A resource name for the removed Keyword Plan campaign is expected, in this format: `customers/{customer_id}/keywordPlanCampaigns/{keywordPlan_campaign_id}`'
        update:
          description: 'Update operation: The Keyword Plan campaign is expected to have a valid resource name.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__KeywordPlanCampaign'
        updateMask:
          format: google-fieldmask
          type: string
          description: The FieldMask that determines which resource fields are modified in an update.
        create:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__KeywordPlanCampaign'
          description: 'Create operation: No resource name is expected for the new Keyword Plan campaign.'
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
