openapi: 3.2.0
info:
  title: Google Ads Customers.payments Accounts API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.paymentsAccounts
paths:
  /v25/customers/{customersId}/paymentsAccounts:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    get:
      operationId: googleads_customers_paymentsAccounts_list
      summary: Returns all payments accounts associated with all managers between the login customer ID and specified serving customer in the hierarchy, inclusive
      tags:
      - customers.paymentsAccounts
      description: 'Returns all payments accounts associated with all managers between the login customer ID and specified serving customer in the hierarchy, inclusive. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [PaymentsAccountError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer to apply the PaymentsAccount list operation to.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ListPaymentsAccountsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Resources__PaymentsAccount:
      type: object
      properties:
        resourceName:
          description: 'Output only. The resource name of the payments account. PaymentsAccount resource names have the form: `customers/{customer_id}/paymentsAccounts/{payments_account_id}`'
          type: string
        paymentsAccountId:
          type: string
          description: Output only. A 16 digit ID used to identify a payments account.
        secondaryPaymentsProfileId:
          type: string
          description: Output only. A secondary payments profile ID present in uncommon situations, for example, when a sequential liability agreement has been arranged.
        name:
          description: Output only. The name of the payments account.
          type: string
        currencyCode:
          type: string
          description: Output only. The currency code of the payments account. A subset of the currency codes derived from the ISO 4217 standard is supported.
        paymentsProfileId:
          description: Output only. A 12 digit ID used to identify the payments profile associated with the payments account.
          type: string
        payingManagerCustomer:
          description: Output only. Paying manager of this payment account.
          type: string
      description: A payments account, which can be used to set up billing for an Ads customer.
    GoogleAdsGoogleadsV25Services__ListPaymentsAccountsResponse:
      description: Response message for PaymentsAccountService.ListPaymentsAccounts.
      type: object
      properties:
        paymentsAccounts:
          description: The list of accessible payments accounts.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__PaymentsAccount'
          type: array
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
