openapi: 3.2.0
info:
  title: Google Ads Customers.recommendations API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.recommendations
paths:
  /v25/customers/{customersId}/recommendations:apply:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_recommendations_apply
      summary: Applies given recommendations with corresponding apply parameters
      tags:
      - customers.recommendations
      description: 'Applies given recommendations with corresponding apply parameters. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RecommendationError]() [RequestError]() [UrlFieldError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer with the recommendation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ApplyRecommendationRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ApplyRecommendationResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/recommendations:generate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_recommendations_generate
      summary: Generates Recommendations based off the requested recommendation_types
      tags:
      - customers.recommendations
      description: 'Generates Recommendations based off the requested recommendation_types. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RecommendationError]() [RequestError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer generating recommendations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__GenerateRecommendationsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__GenerateRecommendationsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
  /v25/customers/{customersId}/recommendations:dismiss:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_recommendations_dismiss
      summary: Dismisses given recommendations
      tags:
      - customers.recommendations
      description: 'Dismisses given recommendations. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RecommendationError]() [RequestError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer with the recommendation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__DismissRecommendationRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__DismissRecommendationResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Resources_Recommendation_MerchantInfo:
      description: The Merchant Center account details.
      type: object
      properties:
        id:
          type: string
          description: Output only. The Merchant Center account ID.
          format: int64
        name:
          description: Output only. The name of the Merchant Center account.
          type: string
        multiClient:
          type: boolean
          description: Output only. Whether the Merchant Center account is a Multi-Client account (MCA).
    GoogleAdsGoogleadsV25Resources_Recommendation_RecommendationImpact:
      description: The impact of making the change as described in the recommendation. Some types of recommendations may not have impact information.
      type: object
      properties:
        baseMetrics:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_RecommendationMetrics'
          description: Output only. Base metrics at the time the recommendation was generated.
        potentialMetrics:
          description: Output only. Estimated metrics if the recommendation is applied.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_RecommendationMetrics'
    GoogleAdsGoogleadsV25Services_ApplyRecommendationOperation_CalloutAssetParameters:
      type: object
      properties:
        adAssetApplyParameters:
          description: Required. Callout assets to be added. This is a required field.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services_ApplyRecommendationOperation_AdAssetApplyParameters'
      description: Parameters to use when applying callout asset recommendations.
    GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_TextList:
      type: object
      properties:
        texts:
          description: The fragments of text from the resource that caused the policy finding.
          items:
            type: string
          type: array
      description: A list of fragments of text that violated a policy.
    GoogleAdsGoogleadsV25Common__UrlCollection:
      description: Collection of urls that is tagged with a unique identifier.
      type: object
      properties:
        urlCollectionId:
          type: string
          description: Unique identifier for this UrlCollection instance.
        trackingUrlTemplate:
          type: string
          description: URL template for constructing a tracking URL.
        finalUrls:
          type: array
          description: A list of possible final URLs.
          items:
            type: string
        finalMobileUrls:
          description: A list of possible final mobile URLs.
          items:
            type: string
          type: array
    GoogleAdsGoogleadsV25Resources_Recommendation_EnhancedCpcOptInRecommendation:
      description: The Enhanced Cost-Per-Click Opt-In recommendation.
      type: object
      properties: {}
    GoogleAdsGoogleadsV25Common__YouTubeAudioAdInfo:
      type: object
      properties: {}
      description: Representation of YouTube Audio ad format.
    GoogleAdsGoogleadsV25Common__PriceOffering:
      description: A single price offering within a PriceAsset.
      type: object
      properties:
        finalUrl:
          description: Required. The final URL after all cross domain redirects.
          type: string
        description:
          description: Required. The description of the price offering. The length of this string should be between 1 and 25, inclusive.
          type: string
        unit:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Per hour.
          - Per day.
          - Per week.
          - Per month.
          - Per year.
          - Per night.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - PER_HOUR
          - PER_DAY
          - PER_WEEK
          - PER_MONTH
          - PER_YEAR
          - PER_NIGHT
          type: string
          description: The price unit of the price offering.
        header:
          description: Required. The header of the price offering. The length of this string should be between 1 and 25, inclusive.
          type: string
        price:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__Money'
          description: Required. The price value of the price offering.
        finalMobileUrl:
          type: string
          description: The final mobile URL after all cross domain redirects.
    GoogleAdsGoogleadsV25Common__PolicyTopicEvidence:
      description: Additional information that explains a policy finding.
      type: object
      properties:
        websiteList:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_WebsiteList'
          description: List of websites linked with this resource.
        languageCode:
          description: The language the resource was detected to be written in. This is an IETF language tag such as "en-US".
          type: string
        destinationTextList:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_DestinationTextList'
          description: The text in the destination of the resource that is causing a policy finding.
        destinationMismatch:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_DestinationMismatch'
          description: Mismatch between the destinations of a resource's URLs.
        destinationNotWorking:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_DestinationNotWorking'
          description: Details when the destination is returning an HTTP error code or isn't functional in all locations for commonly used devices.
        textList:
          description: List of evidence found in the text of a resource.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common_PolicyTopicEvidence_TextList'
    GoogleAdsGoogleadsV25Common__ExpandedTextAdInfo:
      type: object
      properties:
        headlinePart2:
          description: The second part of the ad's headline.
          type: string
        description2:
          type: string
          description: The second description of the ad.
        headlinePart3:
          description: The third part of the ad's headline.
          type: string
        description:
          description: The description of the ad.
          type: string
        path1:
          type: string
          description: The text that can appear alongside the ad's displayed URL.
        headlinePart1:
          type: string
          description: The first part of the ad's headline.
        path2:
          description: Additional text that can appear alongside the ad's displayed URL.
          type: string
      description: An expanded text ad. Expanded text ads are deprecated.
    GoogleAdsGoogleadsV25Resources__AssetFieldTypePolicySummary:
      type: object
      properties:
        assetFieldType:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - HEADLINE
          - DESCRIPTION
          - MANDATORY_AD_TEXT
          - MARKETING_IMAGE
          - MEDIA_BUNDLE
          - YOUTUBE_VIDEO
          - BOOK_ON_GOOGLE
          - LEAD_FORM
          - PROMOTION
          - CALLOUT
          - STRUCTURED_SNIPPET
          - SITELINK
          - MOBILE_APP
          - HOTEL_CALLOUT
          - CALL
          - PRICE
          - LONG_HEADLINE
          - BUSINESS_NAME
          - SQUARE_MARKETING_IMAGE
          - PORTRAIT_MARKETING_IMAGE
          - LOGO
          - LANDSCAPE_LOGO
          - VIDEO
          - CALL_TO_ACTION_SELECTION
          - AD_IMAGE
          - BUSINESS_LOGO
          - HOTEL_PROPERTY
          - DEMAND_GEN_CAROUSEL_CARD
          - BUSINESS_MESSAGE
          - TALL_PORTRAIT_MARKETING_IMAGE
          - RELATED_YOUTUBE_VIDEOS
          - LANDING_PAGE_PREVIEW
          - LONG_DESCRIPTION
          - CALL_TO_ACTION
          - CLASSIC_DISPLAY_IMAGE
          type: string
          description: Output only. FieldType of this asset.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset is linked for use as a headline.
          - The asset is linked for use as a description.
          - The asset is linked for use as mandatory ad text.
          - The asset is linked for use as a marketing image.
          - The asset is linked for use as a media bundle.
          - The asset is linked for use as a YouTube video.
          - The asset is linked to indicate that a hotels campaign is "Book on Google" enabled.
          - The asset is linked for use as a Lead Form extension.
          - The asset is linked for use as a Promotion extension.
          - The asset is linked for use as a Callout extension.
          - The asset is linked for use as a Structured Snippet extension.
          - The asset is linked for use as a Sitelink.
          - The asset is linked for use as a Mobile App extension.
          - The asset is linked for use as a Hotel Callout extension.
          - The asset is linked for use as a Call extension.
          - The asset is linked for use as a Price extension.
          - The asset is linked for use as a long headline.
          - The asset is linked for use as a business name.
          - The asset is linked for use as a square marketing image.
          - The asset is linked for use as a portrait marketing image.
          - The asset is linked for use as a logo.
          - The asset is linked for use as a landscape logo.
          - The asset is linked for use as a non YouTube logo.
          - The asset is linked for use to select a call-to-action.
          - The asset is linked for use to select an ad image.
          - The asset is linked for use as a business logo.
          - The asset is linked for use as a hotel property in a Performance Max for travel goals campaign.
          - The asset is linked for use as a Demand Gen carousel card.
          - The asset is linked for use as a Business Message.
          - The asset is linked for use as a tall portrait marketing image.
          - The asset is linked for use as related YouTube videos.
          - The asset is linked for use as a landing page preview image.
          - The asset is linked for use as a long description.
          - The asset is linked for use as a call-to-action.
          - The asset is linked for use as a classic display image.
        assetSource:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ADVERTISER
          - AUTOMATICALLY_CREATED
          description: Output only. Source of this asset.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset or asset link is provided by advertiser.
          - The asset or asset link is generated by Google.
        policySummaryInfo:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AssetPolicySummary'
          description: Output only. Policy summary.
      description: Contains policy information for an asset under AssetFieldType context.
    GoogleAdsGoogleadsV25Services_ApplyRecommendationOperation_ForecastingSetTargetCpaParameters:
      description: Parameters to use when applying a set target CPA recommendation.
      type: object
      properties:
        targetCpaMicros:
          type: string
          description: Average CPA to use for Target CPA bidding strategy.
          format: int64
        campaignBudgetAmountMicros:
          type: string
          description: New campaign budget amount to set for a campaign resource.
          format: int64
    GoogleAdsGoogleadsV25Common__DemandGenCarouselAdInfo:
      type: object
      properties:
        carouselCards:
          description: Required. Carousel cards that will display with the ad. Min 2 max 10.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdDemandGenCarouselCardAsset'
          type: array
        callToActionText:
          description: Call to action text.
          type: string
        headline:
          description: Required. Headline of the ad.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdTextAsset'
        businessName:
          type: string
          description: Required. The Advertiser/brand name.
        logoImage:
          description: Required. Logo image to be used in the ad. The minimum size is 128x128 and the aspect ratio must be 1:1 (+-1%).
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdImageAsset'
        description:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdTextAsset'
          description: Required. The descriptive text of the ad.
      description: A Demand Gen carousel ad.
    GoogleAdsGoogleadsV25Common__DemandGenCarouselCardAsset:
      type: object
      properties:
        headline:
          type: string
          description: Required. Headline of the carousel card.
        callToActionText:
          description: Call to action text.
          type: string
        portraitMarketingImageAsset:
          type: string
          description: Asset resource name of the associated 4:5 portrait marketing image.
        marketingImageAsset:
          description: Asset resource name of the associated 1.91:1 marketing image. This and/or square marketing image asset is required.
          type: string
        squareMarketingImageAsset:
          type: string
          description: Asset resource name of the associated square marketing image. This and/or a marketing image asset is required.
      description: A Demand Gen Carousel Card asset.
    GoogleAdsGoogleadsV25Resources_RecommendationKeywordRecommendation_SearchTerm:
      type: object
      properties:
        text:
          type: string
          description: Output only. The text of the search term.
        estimatedWeeklySearchCount:
          format: int64
          type: string
          description: Output only. Estimated number of historical weekly searches for this search term.
      description: Information about a search term as related to a keyword recommendation.
    GoogleAdsGoogleadsV25Resources_Recommendation_MoveUnusedBudgetRecommendation:
      description: The move unused budget recommendation.
      type: object
      properties:
        excessCampaignBudget:
          type: string
          description: Output only. The excess budget's resource_name.
        budgetRecommendation:
          description: Output only. The recommendation for the constrained budget to increase.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_CampaignBudgetRecommendation'
    GoogleAdsGoogleadsV25Common__WhatsappBusinessMessageInfo:
      type: object
      properties:
        countryCode:
          description: 'Required. Two-letter country code of the phone number. Examples: ''US'', ''us''.'
          type: string
        phoneNumber:
          description: 'Required. Whatsapp phone number of the business. Examples: ''1234567890'', ''(123)456-7890''.'
          type: string
      description: Whatsapp information to use for messaging.
    GoogleAdsGoogleadsV25Services__DismissRecommendationRequest:
      description: Request message for RecommendationService.DismissRecommendation.
      type: object
      properties:
        operations:
          type: array
          description: Required. The list of operations to dismiss recommendations. If partial_failure=false all recommendations should be of the same type There is a limit of 100 operations per request.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services_DismissRecommendationRequest_DismissRecommendationOperation'
        partialFailure:
          type: boolean
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, operations will be carried in a single transaction if and only if they are all valid. Default is false.
    GoogleAdsGoogleadsV25Resources_Recommendation_RaiseTargetCpaBidTooLowRecommendation:
      description: The raise target CPA bid too low recommendation.
      type: object
      properties:
        averageTargetCpaMicros:
          format: int64
          description: Output only. The current average target CPA of the campaign, in micros of customer local currency.
          type: string
        recommendedTargetMultiplier:
          description: Output only. A number greater than 1.0 indicating the factor by which we recommend the target CPA should be increased.
          type: number
          format: double
    GoogleAdsGoogleadsV25Common__LeadFormDeliveryMethod:
      type: object
      properties:
        webhook:
          description: Webhook method of delivery.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__WebhookDelivery'
      description: A configuration of how leads are delivered to the advertiser.
    GoogleAdsGoogleadsV25Common__DynamicTravelAsset:
      description: A dynamic travel asset.
      type: object
      properties:
        androidAppLink:
          description: Android deep link, for example, android-app://com.example.android/http/example.com/gizmos?1234.
          type: string
        iosAppLink:
          description: iOS deep link, for example, exampleApp://content/page.
          type: string
        iosAppStoreId:
          format: int64
          type: string
          description: iOS app store ID. This is used to check if the user has the app installed on their device before deep linking. If this field is set, then the ios_app_link field must also be present.
        formattedPrice:
          type: string
          description: Formatted price which can be any characters. If set, this attribute will be used instead of 'price', for example, Starting at $100.00.
        category:
          type: string
          description: Category, for example, Express.
        salePrice:
          type: string
          description: Sale price which can be a number followed by the alphabetic currency code, ISO 4217 standard. Use '.' as the decimal mark, for example, 80.00 USD. Must be less than the 'price' field.
        imageUrl:
          type: string
          description: Image URL, for example, http://www.example.com/image.png. The image will not be uploaded as image asset.
        destinationId:
          description: Required. Destination ID which can be any sequence of letters and digits, and must be unique and match the values of remarketing tag. Required.
          type: string
        contextualKeywords:
          type: array
          description: Contextual keywords, for example, Paris trains.
          items:
            type: string
        similarDestinationIds:
          description: Similar destination IDs, for example, NYC.
          items:
            type: string
          type: array
        title:
          description: Required. Title, for example, Book your train ticket. Required.
          type: string
        originId:
          type: string
          description: Origin ID which can be any sequence of letters and digits. The ID sequence (destination ID + origin ID) must be unique.
        originName:
          type: string
          description: Origin name, for example, London.
        price:
          description: Price which can be a number followed by the alphabetic currency code, ISO 4217 standard. Use '.' as the decimal mark, for example, 100.00 USD.
          type: string
        destinationName:
          description: Destination name, for example, Paris.
          type: string
        destinationAddress:
          description: Destination address which can be specified in one of the following formats. (1) City, state, code, country, for example, Mountain View, CA, USA. (2) Full address, for example, 123 Boulevard St, Mountain View, CA 94043. (3) Latitude-longitude in the DDD format, for example, 41.40338, 2.17403.
          type: string
        formattedSalePrice:
          type: string
          description: Formatted sale price which can be any characters. If set, this attribute will be used instead of 'sale price', for example, On sale for $80.00.
    GoogleAdsGoogleadsV25Common__Money:
      type: object
      properties:
        currencyCode:
          description: Three-character ISO 4217 currency code.
          type: string
        amountMicros:
          description: Amount in micros. One million is equivalent to one unit.
          type: string
          format: int64
      description: Represents a price in a particular currency.
    GoogleAdsGoogleadsV25Resources_Recommendation_LeadFormAssetRecommendation:
      description: The lead form asset recommendation.
      type: object
      properties: {}
    GoogleAdsGoogleadsV25Common__YoutubeVideoAsset:
      description: A YouTube asset.
      type: object
      properties:
        youtubeVideoId:
          description: YouTube video id. This is the 11 character string value used in the YouTube video URL.
          type: string
        youtubeVideoTitle:
          description: YouTube video title.
          type: string
    GoogleAdsGoogleadsV25Common__PriceAsset:
      type: object
      properties:
        priceQualifier:
          description: The price qualifier of the price asset.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - '''From'' qualifier for the price.'
          - '''Up to'' qualifier for the price.'
          - '''Average'' qualifier for the price.'
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - FROM
          - UP_TO
          - AVERAGE
        languageCode:
          description: Required. The language of the price asset. Represented as BCP 47 language tag.
          type: string
        type:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The type for showing a list of brands.
          - The type for showing a list of events.
          - The type for showing locations relevant to your business.
          - The type for showing sub-regions or districts within a city or region.
          - The type for showing a collection of product categories.
          - The type for showing a collection of related product tiers.
          - The type for showing a collection of services offered by your business.
          - The type for showing a collection of service categories.
          - The type for showing a collection of related service tiers.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - BRANDS
          - EVENTS
          - LOCATIONS
          - NEIGHBORHOODS
          - PRODUCT_CATEGORIES
          - PRODUCT_TIERS
          - SERVICES
          - SERVICE_CATEGORIES
          - SERVICE_TIERS
          type: string
          description: Required. The type of the price asset.
        priceOfferings:
          description: The price offerings of the price asset. The size of this collection should be between 3 and 8, inclusive.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PriceOffering'
          type: array
      description: An asset representing a list of price offers.
    GoogleAdsGoogleadsV25Common__LegacyAppInstallAdInfo:
      description: A legacy app install ad that only can be used by a few select customers.
      type: object
      properties:
        appStore:
          description: The app store the mobile app is available in.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Apple iTunes.
          - Google Play.
          - Windows Store.
          - Windows Phone Store.
          - The app is hosted in a Chinese app store.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - APPLE_APP_STORE
          - GOOGLE_PLAY
          - WINDOWS_STORE
          - WINDOWS_PHONE_STORE
          - CN_APP_STORE
        description1:
          type: string
          description: The first description line of the ad.
        description2:
          type: string
          description: The second description line of the ad.
        headline:
          type: string
          description: The headline of the ad.
        appId:
          description: The ID of the mobile app.
          type: string
    GoogleAdsGoogleadsV25Services__GenerateRecommendationsRequest:
      type: object
      properties:
        adGroupInfo:
          type: array
          description: 'Optional. Current AdGroup Information. Supports information from a single AdGroup. This field is optional for the following recommendation_types: KEYWORD This field is required for the following recommendation_types: CAMPAIGN_BUDGET if AdvertisingChannelType is SEARCH'
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services_GenerateRecommendationsRequest_AdGroupInfo'
        targetPartnerSearchNetwork:
          description: 'Optional. If true, the campaign is opted into serving ads on the Google Partner Network. This field is optional for the following recommendation_types: CAMPAIGN_BUDGET'
          type: boolean
        conversionTrackingStatus:
          type: string
          description: 'Optional. Current conversion tracking status. This field is necessary for the following recommendation_types: MAXIMIZE_CLICKS_OPT_IN, MAXIMIZE_CONVERSIONS_OPT_IN, MAXIMIZE_CONVERSION_VALUE_OPT_IN, SET_TARGET_CPA, SET_TARGET_ROAS, TARGET_CPA_OPT_IN, TARGET_ROAS_OPT_IN'
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Customer does not use any conversion tracking.
          - The conversion actions are created and managed by this customer.
          - The conversion actions are created and managed by the manager specified in the request's `login-customer-id`.
          - The conversion actions are created and managed by a manager different from the customer or manager specified in the request's `login-customer-id`.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - NOT_CONVERSION_TRACKED
          - CONVERSION_TRACKING_MANAGED_BY_SELF
          - CONVERSION_TRACKING_MANAGED_BY_THIS_MANAGER
          - CONVERSION_TRACKING_MANAGED_BY_ANOTHER_MANAGER
        biddingInfo:
          description: 'Optional. Current bidding information of the campaign. This field is necessary for the following recommendation_types: CAMPAIGN_BUDGET, MAXIMIZE_CLICKS_OPT_IN, MAXIMIZE_CONVERSIONS_OPT_IN, MAXIMIZE_CONVERSION_VALUE_OPT_IN, SET_TARGET_CPA, SET_TARGET_ROAS, TARGET_CPA_OPT_IN, TARGET_ROAS_OPT_IN'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services_GenerateRecommendationsRequest_BiddingInfo'
        campaignImageAssetCount:
          description: 'Optional. Current campaign image asset count. This field is optional for the following recommendation_types: CAMPAIGN_BUDGET'
          type: integer
          format: int32
        isNewCustomer:
          description: 'Optional. Whether or not this customer should be treated as a "new" customer (that is, a customer who has not yet created a campaign). Setting this to `true` will cause the backend to generate recommendations using a dedicated recommendation model for onboarding new customers, as opposed to the default model for existing customers. This is only recommended for customers with 0 campaigns. This field is optional for the following recommendation_types: CAMPAIGN_BUDGET'
          type: boolean
        budgetInfo:
          description: 'Optional. Current budget information. This field is optional for the following recommendation_types: CAMPAIGN_BUDGET'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services_GenerateRecommendationsRequest_BudgetInfo'
        recommendationTypes:
          type: array
          description: 'Required. List of eligible recommendation_types to generate. If the uploaded criteria isn''t sufficient to make a recommendation, or the campaign is already in the recommended state, no recommendation will be returned for that type. Generally, a recommendation is returned if all required fields for that recommendation_type are uploaded, but there are cases where this is still not sufficient. The following recommendation_types are supported for recommendation generation: CAMPAIGN_BUDGET, KEYWORD, MAXIMIZE_CLICKS_OPT_IN, MAXIMIZE_CONVERSIONS_OPT_IN, MAXIMIZE_CONVERSION_VALUE_OPT_IN, SET_TARGET_CPA, SET_TARGET_ROAS, SITELINK_ASSET, TARGET_CPA_OPT_IN, TARGET_ROAS_OPT_IN'
          items:
            type: string
            x-enumDescriptions:
            - Not specified.
            - Used for return value only. Represents value unknown in this version.
            - Provides optimized budget recommendations for campaigns.
            - Keyword recommendation.
            - Recommendation to add a new text ad.
            - Recommendation to update a campaign to use a Target CPA bidding strategy.
            - Recommendation to update a campaign to use the Maximize Conversions bidding strategy.
            - Recommendation to enable Enhanced Cost Per Click for a campaign.
            - Recommendation to start showing your campaign's ads on Google Search Partners Websites.
            - Recommendation to update a campaign to use a Maximize Clicks bidding strategy.
            - Recommendation to start using the "Optimize" ad rotation setting for the given ad group.
            - Recommendation to change an existing keyword from one match type to a broader match type.
            - Recommendation to move unused budget from one budget to a constrained budget.
            - Budget recommendation for campaigns that are expected to become budget-constrained in the future (as opposed to the CAMPAIGN_BUDGET recommendation, which applies to campaigns that are currently budget-constrained).
            - Recommendation to update a campaign to use a Target ROAS bidding strategy.
            - Recommendation to add a new responsive search ad.
            - Budget recommendation for campaigns whose ROI is predicted to increase with a budget adjustment.
            - Recommendation to add broad match versions of keywords for fully automated conversion-based bidding campaigns.
            - Recommendation to add new responsive search ad assets.
            - Recommendation to upgrade a Smart Shopping campaign to a Performance Max campaign.
            - Recommendation to improve strength of responsive search ad.
            - Recommendation to update a campaign to use Display Expansion.
            - Recommendation to upgrade a Local campaign to a Performance Max campaign.
            - Recommendation to raise target CPA when it is too low and there are very few or no conversions. It is applied asynchronously and can take minutes depending on the number of ad groups there are in the related campaign.
            - Recommendation to raise the budget in advance of a seasonal event that is forecasted to increase traffic, and change bidding strategy from maximize conversion value to target ROAS.
            - Recommendation to add callout assets to campaign or customer level.
            - Recommendation to add sitelink assets to campaign or customer level.
            - Recommendation to add call assets to campaign or customer level.
            - Recommendation to add the age group attribute to offers that are demoted because of a missing age group.
            - Recommendation to add a color to offers that are demoted because of a missing color.
            - Recommendation to add a gender to offers that are demoted because of a missing gender.
            - Recommendation to add a GTIN (Global Trade Item Number) to offers that are demoted because of a missing GTIN.
            - Recommendation to add more identifiers to offers that are demoted because of missing identifiers.
            - Recommendation to add the size to offers that are demoted because of a missing size.
            - Recommendation informing a customer about a campaign that cannot serve because no products are being targeted.
            - The shopping recommendation informing a customer about campaign with a high percentage of disapproved products.
            - Recommendation to create a catch-all campaign that targets all offers.
            - Recommendation to fix Merchant Center account suspension issues.
            - Recommendation to fix Merchant Center account suspension warning issues.
            - Recommendation to migrate offers targeted by Regular Shopping Campaigns to existing Performance Max campaigns.
            - Recommendation to enable dynamic image extensions on the account, allowing Google to find the best images from ad landing pages and complement text ads.
            - Recommendation to raise Target CPA based on Google predictions modeled from past conversions. It is applied asynchronously and can take minutes depending on the number of ad groups there are in the related campaign.
            - Recommendation to lower Target ROAS.
            - Recommendation to opt into Performance Max campaigns.
            - Recommendation to improve the asset group strength of a Performance Max campaign to an "Excellent" rating.
            - Recommendation to migrate Dynamic Search Ads to Performance Max campaigns.
            - Recommendation to set a target CPA for campaigns that do not have one specified, in advance of a seasonal event that is forecasted to increase traffic.
            - Recommendation to set a target CPA for campaigns that do not have one specified.
            - Recommendation to set a target ROAS for campaigns that do not have one specified.
            - Recommendation to update a campaign to use the Maximize Conversion Value bidding strategy.
            - Recommendation to deploy Google Tag on more pages.
            - Recommendation to turn on Final URL expansion for your Performance Max campaigns.
            - Recommendation to update a customer list that hasn't been updated in the last 90 days.
            - Recommendation to create a custom audience.
            - Recommendation to add lead form assets to campaign or customer level.
            - Recommendation to improve the strength of ads in Demand Gen campaigns.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - CAMPAIGN_BUDGET
            - KEYWORD
            - TEXT_AD
            - TARGET_CPA_OPT_IN
            - MAXIMIZE_CONVERSIONS_OPT_IN
            - ENHANCED_CPC_OPT_IN
            - SEARCH_PARTNERS_OPT_IN
            - MAXIMIZE_CLICKS_OPT_IN
            - OPTIMIZE_AD_ROTATION
            - KEYWORD_MATCH_TYPE
            - MOVE_UNUSED_BUDGET
            - FORECASTING_CAMPAIGN_BUDGET
            - TARGET_ROAS_OPT_IN
            - RESPONSIVE_SEARCH_AD
            - MARGINAL_ROI_CAMPAIGN_BUDGET
            - USE_BROAD_MATCH_KEYWORD
            - RESPONSIVE_SEARCH_AD_ASSET
            - UPGRADE_SMART_SHOPPING_CAMPAIGN_TO_PERFORMANCE_MAX
            - RESPONSIVE_SEARCH_AD_IMPROVE_AD_STRENGTH
            - DISPLAY_EXPANSION_OPT_IN
            - UPGRADE_LOCAL_CAMPAIGN_TO_PERFORMANCE_MAX
            - RAISE_TARGET_CPA_BID_TOO_LOW
            - FORECASTING_SET_TARGET_ROAS
            - CALLOUT_ASSET
            - SITELINK_ASSET
            - CALL_ASSET
            - SHOPPING_ADD_AGE_GROUP
            - SHOPPING_ADD_COLOR
            - SHOPPING_ADD_GENDER
            - SHOPPING_ADD_GTIN
            - SHOPPING_ADD_MORE_IDENTIFIERS
            - SHOPPING_ADD_SIZE
            - SHOPPING_ADD_PRODUCTS_TO_CAMPAIGN
            - SHOPPING_FIX_DISAPPROVED_PRODUCTS
            - SHOPPING_TARGET_ALL_OFFERS
            - SHOPPING_FIX_SUSPENDED_MERCHANT_CENTER_ACCOUNT
            - SHOPPING_FIX_MERCHANT_CENTER_ACCOUNT_SUSPENSION_WARNING
            - SHOPPING_MIGRATE_REGULAR_SHOPPING_CAMPAIGN_OFFERS_TO_PERFORMANCE_MAX
            - DYNAMIC_IMAGE_EXTENSION_OPT_IN
            - RAISE_TARGET_CPA
            - LOWER_TARGET_ROAS
            - PERFORMANCE_MAX_OPT_IN
            - IMPROVE_PERFORMANCE_MAX_AD_STRENGTH
            - MIGRATE_DYNAMIC_SEARCH_ADS_CAMPAIGN_TO_PERFORMANCE_MAX
            - FORECASTING_SET_TARGET_CPA
            - SET_TARGET_CPA
            - SET_TARGET_ROAS
            - MAXIMIZE_CONVERSION_VALUE_OPT_IN
            - IMPROVE_GOOGLE_TAG_COVERAGE
            - PERFORMANCE_MAX_FINAL_URL_OPT_IN
            - REFRESH_CUSTOMER_MATCH_LIST
            - CUSTOM_AUDIENCE_OPT_IN
            - LEAD_FORM_ASSET
            - IMPROVE_DEMAND_GEN_AD_STRENGTH
        assetGroupInfo:
          type: array
          description: 'Optional. Current AssetGroup Information. This field is required for the following recommendation_types: CAMPAIGN_BUDGET'
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services_GenerateRecommendationsRequest_AssetGroupInfo'
        campaignCallAssetCount:
          format: int32
          description: 'Optional. Current campaign call asset count. This field is optional for the following recommendation_types: CAMPAIGN_BUDGET'
          type: integer
        advertisingChannelType:
          type: string
          description: 'Required. Advertising channel type of the campaign. The following advertising_channel_types are supported for recommendation generation: PERFORMANCE_MAX and SEARCH'
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Search Network. Includes display bundled, and Search+ campaigns.
          - Google Display Network only.
          - Shopping campaigns serve on the shopping property and on google.com search results.
          - Hotel Ads campaigns.
          - Video campaigns.
          - App Campaigns, and App Campaigns for Engagement, that run across multiple channels.
          - Local ads campaigns.
          - Smart campaigns.
          - Performance Max campaigns.
          - Local services campaigns.
          - Travel campaigns.
          - Demand Gen campaigns.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - SEARCH
          - DISPLAY
          - SHOPPING
          - HOTEL
          - VIDEO
          - MULTI_CHANNEL
          - LOCAL
          - SMART
          - PERFORMANCE_MAX
          - LOCAL_SERVICES
          - TRAVEL
          - DEMAND_GEN
        countryCodes:
          description: 'Optional. Current campaign country codes. This field is required for the following recommendation_types: CAMPAIGN_BUDGET if AdvertisingChannelType is SEARCH'
          items:
            type: string
          type: array
        languageCodes:
          description: 'Optional. Current campaign language codes. This field is required for the following recommendation_types: CAMPAIGN_BUDGET if AdvertisingChannelType is SEARCH'
          items:
            type: string
          type: array
        seedInfo:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services_GenerateRecommendationsRequest_SeedInfo'
          description: 'Optional. Seed information for Keywords. This field is necessary for the following recommendation_types: KEYWORD'
        positiveLocationsIds:
          description: 'Optional. Current campaign positive location ids. One of this field OR negative_location_ids is required for the following recommendation_types: CAMPAIGN_BUDGET if AdvertisingChannelType is SEARCH'
          items:
            type: string
            format: int64
          type: array
        targetContentNetwork:
          description: 'Optional. If true, the campaign is opted into serving ads on specified placements in the Google Display Network. This field is optional for the following recommendation_types: CAMPAIGN_BUDGET'
          type: boolean
        merchantCenterAccountId:
          format: int64
          type: string
          description: 'Optional. Merchant Center account ID. This field should only be set when advertising_channel_type is PERFORMANCE_MAX. Setting this field causes RecommendationService to generate recommendations for Performance Max for retail instead of standard Performance Max. This field is optional for the following recommendation_types: CAMPAIGN_BUDGET'
        campaignSitelinkCount:
          description: 'Optional. Number of sitelinks on the campaign. This field is necessary for the following recommendation_types: SITELINK_ASSET'
          type: integer
          format: int32
        negativeLocationsIds:
          type: array
          description: 'Optional. Current campaign negative location ids. One of this field OR positive_location_ids is required for the following recommendation_types: CAMPAIGN_BUDGET if AdvertisingChannelType is SEARCH'
          items:
            type: string
            format: int64
      description: Request message for RecommendationService.GenerateRecommendations.
    GoogleAdsGoogleadsV25Resources__Recommendation:
      description: A recommendation.
      type: object
      properties:
        shoppingFixMerchantCenterAccountSuspensionWarningRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingMerchantCenterAccountSuspensionRecommendation'
          description: Output only. The shopping fix Merchant Center account suspension warning recommendation.
        shoppingFixSuspendedMerchantCenterAccountRecommendation:
          description: Output only. The shopping fix suspended Merchant Center account recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingMerchantCenterAccountSuspensionRecommendation'
        shoppingTargetAllOffersRecommendation:
          description: Output only. The shopping target all offers recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingTargetAllOffersRecommendation'
        optimizeAdRotationRecommendation:
          description: Output only. The Optimize Ad Rotation recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_OptimizeAdRotationRecommendation'
        leadFormAssetRecommendation:
          description: Output only. The lead form asset recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_LeadFormAssetRecommendation'
        keywordMatchTypeRecommendation:
          description: Output only. The keyword match type recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_KeywordMatchTypeRecommendation'
        shoppingAddMoreIdentifiersRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingOfferAttributeRecommendation'
          description: Output only. The shopping add more identifiers recommendation.
        sitelinkAssetRecommendation:
          description: Output only. The sitelink asset recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_SitelinkAssetRecommendation'
        searchPartnersOptInRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_SearchPartnersOptInRecommendation'
          description: Output only. The Search Partners Opt-In recommendation.
        upgradeLocalCampaignToPerformanceMaxRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_UpgradeLocalCampaignToPerformanceMaxRecommendation'
          description: Output only. The upgrade a Local campaign to a Performance Max campaign recommendation.
        setTargetRoasRecommendation:
          description: Output only. The set target ROAS recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ForecastingSetTargetRoasRecommendation'
        improveGoogleTagCoverageRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ImproveGoogleTagCoverageRecommendation'
          description: Output only. Recommendation to deploy Google Tag on more pages.
        shoppingAddColorRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingOfferAttributeRecommendation'
          description: Output only. The shopping add color recommendation.
        shoppingFixDisapprovedProductsRecommendation:
          description: Output only. The shopping fix disapproved products recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingFixDisapprovedProductsRecommendation'
        adGroup:
          type: string
          description: 'Output only. The ad group targeted by this recommendation. This will be set only when the recommendation affects a single ad group. This field will be set for the following recommendation types: KEYWORD, OPTIMIZE_AD_ROTATION, RESPONSIVE_SEARCH_AD, RESPONSIVE_SEARCH_AD_ASSET, TEXT_AD'
        shoppingAddGtinRecommendation:
          description: Output only. The shopping add GTIN recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingOfferAttributeRecommendation'
        type:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CAMPAIGN_BUDGET
          - KEYWORD
          - TEXT_AD
          - TARGET_CPA_OPT_IN
          - MAXIMIZE_CONVERSIONS_OPT_IN
          - ENHANCED_CPC_OPT_IN
          - SEARCH_PARTNERS_OPT_IN
          - MAXIMIZE_CLICKS_OPT_IN
          - OPTIMIZE_AD_ROTATION
          - KEYWORD_MATCH_TYPE
          - MOVE_UNUSED_BUDGET
          - FORECASTING_CAMPAIGN_BUDGET
          - TARGET_ROAS_OPT_IN
          - RESPONSIVE_SEARCH_AD
          - MARGINAL_ROI_CAMPAIGN_BUDGET
          - USE_BROAD_MATCH_KEYWORD
          - RESPONSIVE_SEARCH_AD_ASSET
          - UPGRADE_SMART_SHOPPING_CAMPAIGN_TO_PERFORMANCE_MAX
          - RESPONSIVE_SEARCH_AD_IMPROVE_AD_STRENGTH
          - DISPLAY_EXPANSION_OPT_IN
          - UPGRADE_LOCAL_CAMPAIGN_TO_PERFORMANCE_MAX
          - RAISE_TARGET_CPA_BID_TOO_LOW
          - FORECASTING_SET_TARGET_ROAS
          - CALLOUT_ASSET
          - SITELINK_ASSET
          - CALL_ASSET
          - SHOPPING_ADD_AGE_GROUP
          - SHOPPING_ADD_COLOR
          - SHOPPING_ADD_GENDER
          - SHOPPING_ADD_GTIN
          - SHOPPING_ADD_MORE_IDENTIFIERS
          - SHOPPING_ADD_SIZE
          - SHOPPING_ADD_PRODUCTS_TO_CAMPAIGN
          - SHOPPING_FIX_DISAPPROVED_PRODUCTS
          - SHOPPING_TARGET_ALL_OFFERS
          - SHOPPING_FIX_SUSPENDED_MERCHANT_CENTER_ACCOUNT
          - SHOPPING_FIX_MERCHANT_CENTER_ACCOUNT_SUSPENSION_WARNING
          - SHOPPING_MIGRATE_REGULAR_SHOPPING_CAMPAIGN_OFFERS_TO_PERFORMANCE_MAX
          - DYNAMIC_IMAGE_EXTENSION_OPT_IN
          - RAISE_TARGET_CPA
          - LOWER_TARGET_ROAS
          - PERFORMANCE_MAX_OPT_IN
          - IMPROVE_PERFORMANCE_MAX_AD_STRENGTH
          - MIGRATE_DYNAMIC_SEARCH_ADS_CAMPAIGN_TO_PERFORMANCE_MAX
          - FORECASTING_SET_TARGET_CPA
          - SET_TARGET_CPA
          - SET_TARGET_ROAS
          - MAXIMIZE_CONVERSION_VALUE_OPT_IN
          - IMPROVE_GOOGLE_TAG_COVERAGE
          - PERFORMANCE_MAX_FINAL_URL_OPT_IN
          - REFRESH_CUSTOMER_MATCH_LIST
          - CUSTOM_AUDIENCE_OPT_IN
          - LEAD_FORM_ASSET
          - IMPROVE_DEMAND_GEN_AD_STRENGTH
          description: Output only. The type of recommendation.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Provides optimized budget recommendations for campaigns.
          - Keyword recommendation.
          - Recommendation to add a new text ad.
          - Recommendation to update a campaign to use a Target CPA bidding strategy.
          - Recommendation to update a campaign to use the Maximize Conversions bidding strategy.
          - Recommendation to enable Enhanced Cost Per Click for a campaign.
          - Recommendation to start showing your campaign's ads on Google Search Partners Websites.
          - Recommendation to update a campaign to use a Maximize Clicks bidding strategy.
          - Recommendation to start using the "Optimize" ad rotation setting for the given ad group.
          - Recommendation to change an existing keyword from one match type to a broader match type.
          - Recommendation to move unused budget from one budget to a constrained budget.
          - Budget recommendation for campaigns that are expected to become budget-constrained in the future (as opposed to the CAMPAIGN_BUDGET recommendation, which applies to campaigns that are currently budget-constrained).
          - Recommendation to update a campaign to use a Target ROAS bidding strategy.
          - Recommendation to add a new responsive search ad.
          - Budget recommendation for campaigns whose ROI is predicted to increase with a budget adjustment.
          - Recommendation to add broad match versions of keywords for fully automated conversion-based bidding campaigns.
          - Recommendation to add new responsive search ad assets.
          - Recommendation to upgrade a Smart Shopping campaign to a Performance Max campaign.
          - Recommendation to improve strength of responsive search ad.
          - Recommendation to update a campaign to use Display Expansion.
          - Recommendation to upgrade a Local campaign to a Performance Max campaign.
          - Recommendation to raise target CPA when it is too low and there are very few or no conversions. It is applied asynchronously and can take minutes depending on the number of ad groups there are in the related campaign.
          - Recommendation to raise the budget in advance of a seasonal event that is forecasted to increase traffic, and change bidding strategy from maximize conversion value to target ROAS.
          - Recommendation to add callout assets to campaign or customer level.
          - Recommendation to add sitelink assets to campaign or customer level.
          - Recommendation to add call assets to campaign or customer level.
          - Recommendation to add the age group attribute to offers that are demoted because of a missing age group.
          - Recommendation to add a color to offers that are demoted because of a missing color.
          - Recommendation to add a gender to offers that are demoted because of a missing gender.
          - Recommendation to add a GTIN (Global Trade Item Number) to offers that are demoted because of a missing GTIN.
          - Recommendation to add more identifiers to offers that are demoted because of missing identifiers.
          - Recommendation to add the size to offers that are demoted because of a missing size.
          - Recommendation informing a customer about a campaign that cannot serve because no products are being targeted.
          - The shopping recommendation informing a customer about campaign with a high percentage of disapproved products.
          - Recommendation to create a catch-all campaign that targets all offers.
          - Recommendation to fix Merchant Center account suspension issues.
          - Recommendation to fix Merchant Center account suspension warning issues.
          - Recommendation to migrate offers targeted by Regular Shopping Campaigns to existing Performance Max campaigns.
          - Recommendation to enable dynamic image extensions on the account, allowing Google to find the best images from ad landing pages and complement text ads.
          - Recommendation to raise Target CPA based on Google predictions modeled from past conversions. It is applied asynchronously and can take minutes depending on the number of ad groups there are in the related campaign.
          - Recommendation to lower Target ROAS.
          - Recommendation to opt into Performance Max campaigns.
          - Recommendation to improve the asset group strength of a Performance Max campaign to an "Excellent" rating.
          - Recommendation to migrate Dynamic Search Ads to Performance Max campaigns.
          - Recommendation to set a target CPA for campaigns that do not have one specified, in advance of a seasonal event that is forecasted to increase traffic.
          - Recommendation to set a target CPA for campaigns that do not have one specified.
          - Recommendation to set a target ROAS for campaigns that do not have one specified.
          - Recommendation to update a campaign to use the Maximize Conversion Value bidding strategy.
          - Recommendation to deploy Google Tag on more pages.
          - Recommendation to turn on Final URL expansion for your Performance Max campaigns.
          - Recommendation to update a customer list that hasn't been updated in the last 90 days.
          - Recommendation to create a custom audience.
          - Recommendation to add lead form assets to campaign or customer level.
          - Recommendation to improve the strength of ads in Demand Gen campaigns.
        marginalRoiCampaignBudgetRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_CampaignBudgetRecommendation'
          description: Output only. The marginal ROI campaign budget recommendation.
        shoppingAddGenderRecommendation:
          description: Output only. The shopping add gender recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingOfferAttributeRecommendation'
        moveUnusedBudgetRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_MoveUnusedBudgetRecommendation'
          description: Output only. The move unused budget recommendation.
        forecastingCampaignBudgetRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_CampaignBudgetRecommendation'
          description: Output only. The forecasting campaign budget recommendation.
        performanceMaxFinalUrlOptInRecommendation:
          description: Output only. Recommendation to turn on Final URL expansion for your Performance Max campaigns.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_PerformanceMaxFinalUrlOptInRecommendation'
        maximizeClicksOptInRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_MaximizeClicksOptInRecommendation'
          description: Output only. The MaximizeClicks Opt-In recommendation.
        improvePerformanceMaxAdStrengthRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ImprovePerformanceMaxAdStrengthRecommendation'
          description: Output only. The improve Performance Max ad strength recommendation.
        raiseTargetCpaRecommendation:
          description: Output only. Recommendation to raise Target CPA.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_RaiseTargetCpaRecommendation'
        raiseTargetCpaBidTooLowRecommendation:
          description: Output only. The raise target CPA bid too low recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_RaiseTargetCpaBidTooLowRecommendation'
        dismissed:
          description: Output only. Whether the recommendation is dismissed or not.
          type: boolean
        campaignBudgetRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_CampaignBudgetRecommendation'
          description: Output only. The campaign budget recommendation.
        forecastingSetTargetCpaRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ForecastingSetTargetCpaRecommendation'
          description: Output only. The forecasting set target CPA recommendation.
        maximizeConversionValueOptInRecommendation:
          description: Output only. The Maximize Conversion Value opt-in recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_MaximizeConversionValueOptInRecommendation'
        enhancedCpcOptInRecommendation:
          description: Output only. The Enhanced Cost-Per-Click Opt-In recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_EnhancedCpcOptInRecommendation'
        migrateDynamicSearchAdsCampaignToPerformanceMaxRecommendation:
          description: Output only. The Dynamic Search Ads to Performance Max migration recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_MigrateDynamicSearchAdsCampaignToPerformanceMaxRecommendation'
        callAssetRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_CallAssetRecommendation'
          description: Output only. The call asset recommendation.
        targetRoasOptInRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_TargetRoasOptInRecommendation'
          description: Output only. The Target ROAS opt-in recommendation.
        resourceName:
          type: string
          description: Immutable. The resource name of the recommendation. `customers/{customer_id}/recommendations/{recommendation_id}`
        shoppingAddProductsToCampaignRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingAddProductsToCampaignRecommendation'
          description: Output only. The shopping add products to campaign recommendation.
        useBroadMatchKeywordRecommendation:
          description: Output only. The use broad match keyword recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_UseBroadMatchKeywordRecommendation'
        setTargetCpaRecommendation:
          description: Output only. The set target CPA recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ForecastingSetTargetCpaRecommendation'
        campaign:
          type: string
          description: 'Output only. The campaign targeted by this recommendation. This field will be set for the following recommendation types: CALL_EXTENSION, CALLOUT_EXTENSION, ENHANCED_CPC_OPT_IN, USE_BROAD_MATCH_KEYWORD, KEYWORD, KEYWORD_MATCH_TYPE, UPGRADE_LOCAL_CAMPAIGN_TO_PERFORMANCE_MAX, MAXIMIZE_CLICKS_OPT_IN, MAXIMIZE_CONVERSIONS_OPT_IN, OPTIMIZE_AD_ROTATION, RESPONSIVE_SEARCH_AD, RESPONSIVE_SEARCH_AD_ASSET, SEARCH_PARTNERS_OPT_IN, DISPLAY_EXPANSION_OPT_IN, SITELINK_EXTENSION, TARGET_CPA_OPT_IN, TARGET_ROAS_OPT_IN, TEXT_AD, UPGRADE_SMART_SHOPPING_CAMPAIGN_TO_PERFORMANCE_MAX, RAISE_TARGET_CPA_BID_TOO_LOW, FORECASTING_SET_TARGET_ROAS, SHOPPING_ADD_AGE_GROUP, SHOPPING_ADD_COLOR, SHOPPING_ADD_GENDER, SHOPPING_ADD_SIZE, SHOPPING_ADD_GTIN, SHOPPING_ADD_MORE_IDENTIFIERS, SHOPPING_ADD_PRODUCTS_TO_CAMPAIGN, SHOPPING_FIX_DISAPPROVED_PRODUCTS, SHOPPING_MIGRATE_REGULAR_SHOPPING_CAMPAIGN_OFFERS_TO_PERFORMANCE_MAX, DYNAMIC_IMAGE_EXTENSION_OPT_IN, RAISE_TARGET_CPA, LOWER_TARGET_ROAS, FORECASTING_SET_TARGET_CPA, SET_TARGET_CPA, SET_TARGET_ROAS, MAXIMIZE_CONVERSION_VALUE_OPT_IN, IMPROVE_GOOGLE_TAG_COVERAGE, PERFORMANCE_MAX_FINAL_URL_OPT_IN'
        targetCpaOptInRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_TargetCpaOptInRecommendation'
          description: Output only. The TargetCPA opt-in recommendation.
        forecastingSetTargetRoasRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ForecastingSetTargetRoasRecommendation'
          description: Output only. The forecasting set target ROAS recommendation.
        shoppingAddAgeGroupRecommendation:
          description: Output only. The shopping add age group recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingOfferAttributeRecommendation'
        displayExpansionOptInRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_DisplayExpansionOptInRecommendation'
          description: Output only. The Display Expansion opt-in recommendation.
        improveDemandGenAdStrengthRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ImproveDemandGenAdStrengthRecommendation'
          description: Output only. The improve Demand Gen ad strength recommendation.
        campaignBudget:
          description: 'Output only. The budget targeted by this recommendation. This will be set only when the recommendation affects a single campaign budget. This field will be set for the following recommendation types: CAMPAIGN_BUDGET, FORECASTING_CAMPAIGN_BUDGET, MARGINAL_ROI_CAMPAIGN_BUDGET, MOVE_UNUSED_BUDGET'
          type: string
        responsiveSearchAdRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ResponsiveSearchAdRecommendation'
          description: Output only. The add responsive search ad recommendation.
        responsiveSearchAdAssetRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ResponsiveSearchAdAssetRecommendation'
          description: Output only. The responsive search ad asset recommendation.
        keywordRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_KeywordRecommendation'
          description: Output only. The keyword recommendation.
        refreshCustomerMatchListRecommendation:
          description: Output only. The refresh customer list recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_RefreshCustomerMatchListRecommendation'
        responsiveSearchAdImproveAdStrengthRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ResponsiveSearchAdImproveAdStrengthRecommendation'
          description: Output only. The responsive search ad improve ad strength recommendation.
        dynamicImageExtensionOptInRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_DynamicImageExtensionOptInRecommendation'
          description: Output only. Recommendation to enable dynamic image extensions on the account, allowing Google to find the best images from ad landing pages and complement text ads.
        lowerTargetRoasRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_LowerTargetRoasRecommendation'
          description: Output only. Recommendation to lower Target ROAS.
        impact:
          description: Output only. The impact on account performance as a result of applying the recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_RecommendationImpact'
        maximizeConversionsOptInRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_MaximizeConversionsOptInRecommendation'
          description: Output only. The MaximizeConversions Opt-In recommendation.
        shoppingMigrateRegularShoppingCampaignOffersToPerformanceMaxRecommendation:
          description: Output only. The shopping migrate Regular Shopping Campaign offers to Performance Max recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingMigrateRegularShoppingCampaignOffersToPerformanceMaxRecommendation'
        upgradeSmartShoppingCampaignToPerformanceMaxRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_UpgradeSmartShoppingCampaignToPerformanceMaxRecommendation'
          description: Output only. The upgrade a Smart Shopping campaign to a Performance Max campaign recommendation.
        performanceMaxOptInRecommendation:
          description: Output only. The Performance Max Opt In recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_PerformanceMaxOptInRecommendation'
        campaigns:
          type: array
          description: 'Output only. The campaigns targeted by this recommendation. This field will be set for the following recommendation types: CAMPAIGN_BUDGET, FORECASTING_CAMPAIGN_BUDGET, MARGINAL_ROI_CAMPAIGN_BUDGET and MOVE_UNUSED_BUDGET'
          items:
            type: string
        calloutAssetRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_CalloutAssetRecommendation'
          description: Output only. The callout asset recommendation.
        shoppingAddSizeRecommendation:
          description: Output only. The shopping add size recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingOfferAttributeRecommendation'
        customAudienceOptInRecommendation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_CustomAudienceOptInRecommendation'
          description: Output only. The custom audience opt in recommendation.
        textAdRecommendation:
          description: Output only. Add expanded text ad recommendation.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_TextAdRecommendation'
    GoogleAdsGoogleadsV25Common__TextAsset:
      description: A Text asset.
      type: object
      properties:
        text:
          type: string
          description: Text content of the text asset.
    GoogleAdsGoogleadsV25Common__ExpandedDynamicSearchAdInfo:
      type: object
      properties:
        description:
          description: The description of the ad.
          type: string
        description2:
          type: string
          description: The second description of the ad.
      description: An expanded dynamic search ad.
    GoogleAdsGoogleadsV25Services_ApplyRecommendationOperation_MoveUnusedBudgetParameters:
      type: object
      properties:
        budgetMicrosToMove:
          type: string
          description: Budget amount to move from excess budget to constrained budget. This is a required field.
          format: int64
      description: Parameters to use when applying move unused budget recommendation.
    GoogleAdsGoogleadsV25Common__HotelAdInfo:
      description: A hotel ad.
      type: object
      properties: {}
    GoogleAdsGoogleadsV25Common__DemandGenVideoResponsiveAdInfo:
      description: A Demand Gen video responsive ad.
      type: object
      properties:
        companionBanners:
          type: array
          description: List of image assets used for the companion banner. Currently, only a single value for the companion banner asset is supported.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdImageAsset'
        longHeadlines:
          type: array
          description: List of text assets used for the long headline.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdTextAsset'
        videos:
          type: array
          description: Required. List of YouTube video assets used for the ad.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdVideoAsset'
        breadcrumb1:
          description: First part of text that appears in the ad with the displayed URL.
          type: string
        breadcrumb2:
          description: Second part of text that appears in the ad with the displayed URL.
          type: string
        callToActions:
          description: Assets of type CallToActionAsset used for the "Call To Action" button.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdCallToActionAsset'
          type: array
        businessName:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdTextAsset'
          description: Required. The advertiser/brand name.
        headlines:
          type: array
          description: List of text assets used for the short headline.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdTextAsset'
        descriptions:
          type: array
          description: List of text assets used for the description.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdTextAsset'
        logoImages:
          type: array
          description: Required. Logo image to be used in the ad. Valid image types are GIF, JPEG, and PNG. The minimum size is 128x128 and the aspect ratio must be 1:1 (+-1%).
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdImageAsset'
    GoogleAdsGoogleadsV25Services_ApplyRecommendationOperation_KeywordParameters:
      description: Parameters to use when applying keyword recommendation.
      type: object
      properties:
        matchType:
          type: string
          description: The match type of the keyword. This is a required field.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Exact match.
          - Phrase match.
          - Broad match.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - EXACT
          - PHRASE
          - BROAD
        cpcBidMicros:
          description: Optional, CPC bid to set for the keyword. If not set, keyword will use bid based on bidding strategy used by target ad group.
          type: string
          format: int64
        adGroup:
          description: The ad group resource to add keyword to. This is a required field.
          type: string
    GoogleAdsGoogleadsV25Resources_Recommendation_ShoppingMerchantCenterAccountSuspensionRecommendation:
      description: The shopping recommendation to fix Merchant Center account suspension issues.
      type: object
      properties:
        merchant:
          description: Output only. The details of the Merchant Center account.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_Recommendation_MerchantInfo'
        feedLabel:
          description: Output only. The feed label of the campaign for which the suspension happened.
          type: string
    GoogleAdsGoogleadsV25Common__TextAdInfo:
      type: object
      properties:
        description1:
          type: string
          description: The first line of the ad's description.
        description2:
          description: The second line of the ad's description.
          type: string
        headline:
          type: string
          description: The headline of the ad.
      description: A text ad.
    GoogleAdsGoogleadsV25Common__VideoOutstreamAdInfo:
      description: Representation of video out-stream ad format (ad shown alongside a feed with automatic playback, without sound).
      type: object
      properties:
        headline:
          description: The headline of the ad.
          type: string
        description:
          type: string
          description: The description line.
    GoogleAdsGoogleadsV25Resources__AssetPolicySummary:
      description: Contains policy information for an asset.
      type: object
      properties:
        approvalStatus:
          type: string
          description: Output only. The overall approval status of this asset, calculated based on the status of its individual policy topic entries.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DISAPPROVED
          - APPROVED_LIMITED
          - APPROVED
          - AREA_OF_INTEREST_ONLY
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - Will not serve.
          - Serves with restrictions.
          - Serves without restrictions.
          - Will not serve in targeted countries, but may serve for users who are searching for information about the targeted countries.
        policyTopicEntries:
          description: Output only. The list of policy findings for this asset.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PolicyTopicEntry'
          type: array
        reviewStatus:
          description: Output only. Where in the review process this asset is.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - REVIEW_IN_PROGRESS
          - REVIEWED
          - UNDER_APPEAL
          - ELIGIBLE_MAY_SERVE
          x-enumDescriptions:
          - No value has been specified.
          - The received value is not known in this version. This is a response-only value.
          - Currently under review.
          - Primary review complete. Other reviews may be continuing.
          - The resource has been resubmitted for approval or its policy decision has been appealed.
          - The resource is eligible and may be serving but could still undergo further review.
    GoogleAdsGoogleadsV25Common__HotelCalloutAsset:
      description: An asset representing a hotel callout.
      type: object
      properties:
        text:
          description: Required. The text of the hotel callout asset. The length of this string should be between 1 and 25, inclusive.
          type: string
        languageCode:
          type: string
          description: Required. The language of the hotel callout. Represented as BCP 47 language tag.
    GoogleAdsGoogleadsV25Common__PromotionAsset:
      description: A Promotion asset.
      type: object
      properties:
        ordersOverAmount:
          description: The amount the total order needs to be for the user to be eligible for the promotion.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__Money'
        promotionTarget:
          description: Required. A freeform description of what the promotion is targeting.
          type: string
        termsAndConditionsText:
          description: Terms and conditions of the promotion.
          type: string
        promotionQrCodeInfo:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PromotionQrCodeInfo'
          description: QR code info used to generate promotion QR code for user to be eligible for the promotion.
        moneyAmountOff:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__Money'
          description: Money amount off for discount in the promotion. Either this or percent_off is required.
        promotionCode:
          description: A code the user should use in order to be eligible for the promotion.
          type: string
        termsAndConditionsUri:
          description: URI to the terms and conditions of the promotion.
          type: string
        startDate:
          description: Start date of when this asset is effective and can begin serving, in yyyy-MM-dd format.
          type: string
        redemptionStartDate:
          description: Start date of when the promotion is eligible to be redeemed, in yyyy-MM-dd format.
          type: string
        promotionBarcodeInfo:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__PromotionBarcodeInfo'
          description: Barcode info used to generate promotion barcode for user to be eligible for the promotion.
        endDate:
          type: string
          description: Last date of when this asset is effective and still serving, in yyyy-MM-dd format.
        redemptionEndDate:
          description: Last date of when the promotion is eligible to be redeemed, in yyyy-MM-dd format.
          type: string
        languageCode:
          type: string
          description: The language of the promotion. Represented as BCP 47 language tag.
        adScheduleTargets:
          type: array
          description: List of non-overlapping schedules specifying all time intervals for which the asset may serve. There can be a maximum of 6 schedules per day, 42 in total.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdScheduleInfo'
        discountModifier:
          description: A modifier for qualification of the discount.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - '''Up to''.'
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - UP_TO
        occasion:
          type: string
          description: The occasion the promotion was intended for. If an occasion is set, the redemption window will need to fall within the date range associated with the occasion.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - New Year's.
          - Chinese New Year.
          - Valentine's Day.
          - Easter.
          - Mother's Day.
          - Father's Day.
          - Labor Day.
          - Back To School.
          - Halloween.
          - Black Friday.
          - Cyber Monday.
          - Christmas.
          - Boxing Day.
          - Independence Day in any country.
          - National Day in any country.
          - End of any season.
          - Winter Sale.
          - Summer sale.
          - Fall Sale.
          - Spring Sale.
          - Ramadan.
          - Eid al-Fitr.
          - Eid al-Adha.
          - Singles Day.
          - Women's Day.
          - Holi.
          - Parent's Day.
          - St. Nicholas Day.
          - Carnival.
          - Epiphany, also known as Three Kings' Day.
          - Rosh Hashanah.
          - Passover.
          - Hanukkah.
          - Diwali.
          - Navratri.
          - 'Available in Thai: Songkran.'
          - 'Available in Japanese: Year-end Gift.'
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - NEW_YEARS
          - CHINESE_NEW_YEAR
          - VALENTINES_DAY
          - EASTER
          - MOTHERS_DAY
          - FATHERS_DAY
          - LABOR_DAY
          - BACK_TO_SCHOOL
          - HALLOWEEN
          - BLACK_FRIDAY
          - CYBER_MONDAY
          - CHRISTMAS
          - BOXING_DAY
          - INDEPENDENCE_DAY
          - NATIONAL_DAY
          - END_OF_SEASON
          - WINTER_SALE
          - SUMMER_SALE
          - FALL_SALE
          - SPRING_SALE
          - RAMADAN
          - EID_AL_FITR
          - EID_AL_ADHA
          - SINGLES_DAY
          - WOMENS_DAY
          - HOLI
          - PARENTS_DAY
          - ST_NICHOLAS_DAY
          - CARNIVAL
          - EPIPHANY
          - ROSH_HASHANAH
          - PASSOVER
          - HANUKKAH
          - DIWALI
          - NAVRATRI
          - SONGKRAN
          - YEAR_END_GIFT
        percentOff:
          description: Percentage off discount in the promotion. 1,000,000 = 100%. Either this or money_amount_off is required.
          type: string
          format: int64
    GoogleAdsGoogleadsV25Common__AdVideoAssetInventoryPreferences:
      type: object
      properties:
        inStreamPreference:
          description: When true, YouTube Video Asset with this inventory preference will be preferred when choosing a video to serve In Stream.
          type: boolean
        shortsPreference:
          type: boolean
          description: When true, YouTube Video Asset with this inventory preference will be preferred when choosing a video to serve on YouTube Shorts.
        inFeedPreference:
          description: When true, YouTube Video Asset with this inventory preference will be preferred when choosing a video to serve In Feed.
          type: boolean
      description: YouTube Video Asset inventory preferences.
    GoogleAdsGoogleadsV25Common_PolicyTopicConstraint_CountryConstraint:
      type: object
      properties:
        countryCriterion:
          description: Geo target constant resource name of the country in which serving is constrained.
          type: string
      description: Indicates that a resource's ability to serve in a particular country is constrained.
    GoogleAdsGoogleadsV25Common__LeadFormField:
      description: One input field instance within a form.
      type: object
      properties:
        inputType:
          type: string
          description: Describes the input type, which may be a predefined type such as "full name" or a pre-vetted question like "What kind of vehicle do you have?".
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The user will be asked to fill in their given and family name. This field cannot be set at the same time as GIVEN_NAME or FAMILY_NAME.
          - The user will be asked to fill in their email address.
          - The user will be asked to fill in their phone number.
          - The user will be asked to fill in their zip code.
          - The user will be asked to fill in their street address.
          - The user will be asked to fill in their city.
          - The user will be asked to fill in their region part of the address (for example, state for US, province for Canada).
          - The user will be asked to fill in their country.
          - The user will be asked to fill in their work email address.
          - The user will be asked to fill in their company name.
          - The user will be asked to fill in their work phone.
          - The user will be asked to fill in their job title.
          - The user will be asked to fill in their CPF for Brazil users.
          - The user will be asked to fill in their DNI for Argentina users.
          - The user will be asked to fill in their DNI for Peru users.
          - The user will be asked to fill in their RUT for Chile users.
          - The user will be asked to fill in their CC for Colombia users.
          - The user will be asked to fill in their CI for Ecuador users.
          - The user will be asked to fill in their RFC for Mexico users.
          - The user will be asked to fill in their first name. This field can not be set at the same time as FULL_NAME.
          - The user will be asked to fill in their last name. This field can not be set at the same time as FULL_NAME.
          - 'Question: "Which model are you interested in?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Which type of vehicle are you interested in?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your preferred dealership?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "When do you plan on purchasing a vehicle?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Do you own a vehicle?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What vehicle ownership option are you interested in?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What type of vehicle condition are you interested in?" Category: "Auto" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What size is your company?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your annual sales volume?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "How many years have you been in business?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your job department?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "What is your job role?" Category: "Business" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 18 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 19 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 20 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 21 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 22 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 23 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 24 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 25 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 26 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 27 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 28 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 29 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 30 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
          - 'Question: "Are you over 31 years of age?" Category: "Demographics" This field is subject to a limit of 5 qualifying questions per form and cannot be used if values are set using custom_question_fields.'
[...]
