openapi: 3.2.0
info:
  title: Google Ads V25:list Benchmarks Available Dates API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: V25:listBenchmarksAvailableDates
paths:
  /v25:listBenchmarksAvailableDates:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_listBenchmarksAvailableDates
      summary: Returns a date range that supports benchmarks
      tags:
      - V25:listBenchmarksAvailableDates
      description: 'Returns a date range that supports benchmarks. List of thrown errors: AuthenticationError AuthorizationError FieldError HeaderError InternalError QuotaError RequestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ListBenchmarksAvailableDatesRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ListBenchmarksAvailableDatesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Common__AdditionalApplicationInfo:
      description: Additional information about the application/tool issuing the request. This field is only used by ContentCreatorInsightsService, AudienceInsightsService, and ReachPlanService APIs.
      type: object
      properties:
        applicationId:
          description: The unique identifier of the agency proprietary application. This identifier is generated by Google. Reach out to your Google representative to request an application_id for each new application being integrated.
          type: string
        applicationInstance:
          description: The instance type of the application sending the request.
          type: string
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - The instance is for development and testing purposes.
          - The instance is for production purposes.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DEVELOPMENT_AND_TESTING
          - PRODUCTION
    GoogleAdsGoogleadsV25Services__ListBenchmarksAvailableDatesResponse:
      type: object
      properties:
        supportedDates:
          description: The dates that support benchmarks metrics. Data is supported for any dates within this date range inclusive.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__DateRange'
      description: Response message for BenchmarksService.ListBenchmarksAvailableDates.
    GoogleAdsGoogleadsV25Common__DateRange:
      type: object
      properties:
        startDate:
          type: string
          description: The start date, in yyyy-mm-dd format. This date is inclusive.
        endDate:
          description: The end date, in yyyy-mm-dd format. This date is inclusive.
          type: string
      description: A date range.
    GoogleAdsGoogleadsV25Services__ListBenchmarksAvailableDatesRequest:
      type: object
      properties:
        applicationInfo:
          description: Additional information on the application issuing the request.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdditionalApplicationInfo'
      description: Request message for BenchmarksService.ListBenchmarksAvailableDates.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
