openapi: 3.2.0
info:
  title: Google Ads Customers.Customer Customizers API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.CustomerCustomizers
paths:
  /v25/customers/{customersId}/CustomerCustomizers:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_CustomerCustomizers_mutate
      summary: Creates, updates or removes customer customizers
      tags:
      - customers.CustomerCustomizers
      description: Creates, updates or removes customer customizers. Operation statuses are returned.
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer whose customer customizers are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCustomerCustomizersRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCustomerCustomizersResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__MutateCustomerCustomizersResponse:
      type: object
      properties:
        partialFailureError:
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
          $ref: '#/components/schemas/GoogleRpc__Status'
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCustomerCustomizerResult'
          type: array
      description: Response message for a customizer attribute mutate.
    GoogleAdsGoogleadsV25Resources__CustomerCustomizer:
      description: A customizer value for the associated CustomizerAttribute at the Customer level.
      type: object
      properties:
        customizerAttribute:
          description: Required. Immutable. The customizer attribute which is linked to the customer.
          type: string
        status:
          x-enumDescriptions:
          - The status has not been specified.
          - The received value is not known in this version.
          - The customizer value is enabled.
          - The customizer value is removed.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - REMOVED
          type: string
          description: Output only. The status of the customer customizer attribute.
        resourceName:
          description: 'Immutable. The resource name of the customer customizer. Customer customizer resource names have the form: `customers/{customer_id}/customerCustomizers/{customizer_attribute_id}`'
          type: string
        value:
          description: Required. The value to associate with the customizer attribute at this level. The value must be of the type specified for the CustomizerAttribute.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__CustomizerValue'
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__MutateCustomerCustomizerResult:
      type: object
      properties:
        resourceName:
          type: string
          description: Returned for successful operations.
        customerCustomizer:
          description: The mutated CustomerCustomizer with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CustomerCustomizer'
      description: The result for the customizer attribute mutate.
    GoogleAdsGoogleadsV25Services__MutateCustomerCustomizersRequest:
      description: Request message for CustomerCustomizerService.MutateCustomerCustomizers.
      type: object
      properties:
        partialFailure:
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
          type: boolean
        validateOnly:
          description: If true, the request is validated but not executed. Only errors are returned, not results.
          type: boolean
        responseContentType:
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
          description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.
          type: string
        operations:
          description: Required. The list of operations to perform on individual customer customizers.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__CustomerCustomizerOperation'
          type: array
    GoogleAdsGoogleadsV25Services__CustomerCustomizerOperation:
      description: A single operation (create, remove) on a customizer attribute.
      type: object
      properties:
        create:
          description: 'Create operation: No resource name is expected for the new customer customizer'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CustomerCustomizer'
        remove:
          description: 'Remove operation: A resource name for the removed customer customizer is expected, in this format: `customers/{customer_id}/customerCustomizers/{customizer_attribute_id}`'
          type: string
    GoogleAdsGoogleadsV25Common__CustomizerValue:
      description: A customizer value that is referenced in customizer linkage entities like CustomerCustomizer, CampaignCustomizer, etc.
      type: object
      properties:
        type:
          type: string
          description: Required. The data type for the customizer value. It must match the attribute type. The string_value content must match the constraints associated with the type.
          x-enumDescriptions:
          - The status has not been specified.
          - The received value is not known in this version.
          - Text customizer.
          - Number customizer.
          - Price customizer consisting of a number and a currency.
          - Percentage customizer consisting of a number and a '%'.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - TEXT
          - NUMBER
          - PRICE
          - PERCENT
        stringValue:
          description: Required. Value to insert in creative text. Customizer values of all types are stored as string to make formatting unambiguous.
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
