openapi: 3.2.0
info:
  title: Google Ads Customers.campaign Assets API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.campaignAssets
paths:
  /v25/customers/{customersId}/campaignAssets:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_campaignAssets_mutate
      summary: Creates, updates, or removes campaign assets
      tags:
      - customers.campaignAssets
      description: 'Creates, updates, or removes campaign assets. Operation statuses are returned. List of thrown errors: [AssetLinkError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [MutateError]() [NotAllowlistedError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer whose campaign assets are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCampaignAssetsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCampaignAssetsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__CampaignAssetOperation:
      type: object
      properties:
        updateMask:
          description: FieldMask that determines which resource fields are modified in an update.
          type: string
          format: google-fieldmask
        create:
          description: 'Create operation: No resource name is expected for the new campaign asset.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CampaignAsset'
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CampaignAsset'
          description: 'Update operation: The campaign asset is expected to have a valid resource name.'
        remove:
          type: string
          description: 'Remove operation: A resource name for the removed campaign asset is expected, in this format: `customers/{customer_id}/campaignAssets/{campaign_id}~{asset_id}~{field_type}`'
      description: A single operation (create, update, remove) on a campaign asset.
    GoogleAdsGoogleadsV25Services__MutateCampaignAssetResult:
      description: The result for the campaign asset mutate.
      type: object
      properties:
        campaignAsset:
          description: The mutated campaign asset with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CampaignAsset'
        resourceName:
          type: string
          description: Returned for successful operations.
    GoogleAdsGoogleadsV25Common__AssetDisapproved:
      type: object
      properties:
        offlineEvaluationErrorReasons:
          type: array
          description: Provides the quality evaluation disapproval reason of an asset.
          items:
            x-enumDescriptions:
            - Not specified.
            - Used for return value only. Represents value unknown in this version.
            - One or more descriptions repeats its corresponding row header.
            - Price asset contains repetitive headers.
            - Price item header is not relevant to the price type.
            - Price item description is not relevant to the item header.
            - Price asset has a price qualifier in a description.
            - Unsupported language for price assets
            - Human raters identified an issue with the price asset that isn't captured by other error reasons. The primary purpose of this value is to represent legacy FeedItem disapprovals that are no longer produced.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - PRICE_ASSET_DESCRIPTION_REPEATS_ROW_HEADER
            - PRICE_ASSET_REPETITIVE_HEADERS
            - PRICE_ASSET_HEADER_INCOMPATIBLE_WITH_PRICE_TYPE
            - PRICE_ASSET_DESCRIPTION_INCOMPATIBLE_WITH_ITEM_HEADER
            - PRICE_ASSET_DESCRIPTION_HAS_PRICE_QUALIFIER
            - PRICE_ASSET_UNSUPPORTED_LANGUAGE
            - PRICE_ASSET_OTHER_ERROR
            type: string
      description: Details related to AssetLinkPrimaryStatusReasonPB.ASSET_DISAPPROVED
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Resources__CampaignAsset:
      type: object
      properties:
        campaign:
          type: string
          description: Immutable. The campaign to which the asset is linked.
        resourceName:
          type: string
          description: 'Immutable. The resource name of the campaign asset. CampaignAsset resource names have the form: `customers/{customer_id}/campaignAssets/{campaign_id}~{asset_id}~{field_type}`'
        fieldType:
          type: string
          description: Immutable. Role that the asset takes under the linked campaign. Required.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset is linked for use as a headline.
          - The asset is linked for use as a description.
          - The asset is linked for use as mandatory ad text.
          - The asset is linked for use as a marketing image.
          - The asset is linked for use as a media bundle.
          - The asset is linked for use as a YouTube video.
          - The asset is linked to indicate that a hotels campaign is "Book on Google" enabled.
          - The asset is linked for use as a Lead Form extension.
          - The asset is linked for use as a Promotion extension.
          - The asset is linked for use as a Callout extension.
          - The asset is linked for use as a Structured Snippet extension.
          - The asset is linked for use as a Sitelink.
          - The asset is linked for use as a Mobile App extension.
          - The asset is linked for use as a Hotel Callout extension.
          - The asset is linked for use as a Call extension.
          - The asset is linked for use as a Price extension.
          - The asset is linked for use as a long headline.
          - The asset is linked for use as a business name.
          - The asset is linked for use as a square marketing image.
          - The asset is linked for use as a portrait marketing image.
          - The asset is linked for use as a logo.
          - The asset is linked for use as a landscape logo.
          - The asset is linked for use as a non YouTube logo.
          - The asset is linked for use to select a call-to-action.
          - The asset is linked for use to select an ad image.
          - The asset is linked for use as a business logo.
          - The asset is linked for use as a hotel property in a Performance Max for travel goals campaign.
          - The asset is linked for use as a Demand Gen carousel card.
          - The asset is linked for use as a Business Message.
          - The asset is linked for use as a tall portrait marketing image.
          - The asset is linked for use as related YouTube videos.
          - The asset is linked for use as a landing page preview image.
          - The asset is linked for use as a long description.
          - The asset is linked for use as a call-to-action.
          - The asset is linked for use as a classic display image.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - HEADLINE
          - DESCRIPTION
          - MANDATORY_AD_TEXT
          - MARKETING_IMAGE
          - MEDIA_BUNDLE
          - YOUTUBE_VIDEO
          - BOOK_ON_GOOGLE
          - LEAD_FORM
          - PROMOTION
          - CALLOUT
          - STRUCTURED_SNIPPET
          - SITELINK
          - MOBILE_APP
          - HOTEL_CALLOUT
          - CALL
          - PRICE
          - LONG_HEADLINE
          - BUSINESS_NAME
          - SQUARE_MARKETING_IMAGE
          - PORTRAIT_MARKETING_IMAGE
          - LOGO
          - LANDSCAPE_LOGO
          - VIDEO
          - CALL_TO_ACTION_SELECTION
          - AD_IMAGE
          - BUSINESS_LOGO
          - HOTEL_PROPERTY
          - DEMAND_GEN_CAROUSEL_CARD
          - BUSINESS_MESSAGE
          - TALL_PORTRAIT_MARKETING_IMAGE
          - RELATED_YOUTUBE_VIDEOS
          - LANDING_PAGE_PREVIEW
          - LONG_DESCRIPTION
          - CALL_TO_ACTION
          - CLASSIC_DISPLAY_IMAGE
        status:
          description: Status of the campaign asset.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Asset link is enabled.
          - Asset link has been removed.
          - Asset link is paused.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - REMOVED
          - PAUSED
        asset:
          description: Immutable. The asset which is linked to the campaign.
          type: string
        source:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ADVERTISER
          - AUTOMATICALLY_CREATED
          type: string
          description: Output only. Source of the campaign asset link.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset or asset link is provided by advertiser.
          - The asset or asset link is generated by Google.
        primaryStatusReasons:
          description: Output only. Provides a list of reasons for why an asset is not serving or not serving at full capacity.
          items:
            type: string
            x-enumDescriptions:
            - Not specified.
            - Used for return value only. Represents value unknown in this version.
            - The asset is paused for its linked rollup level. Contributes to a PrimaryStatus of PAUSED.
            - The asset is removed for its linked rollup level. Contributes to a PrimaryStatus of REMOVED.
            - The asset has been marked as disapproved. Contributes to a PrimaryStatus of NOT_ELIGIBLE
            - The asset has not completed policy review. Contributes to a PrimaryStatus of PENDING.
            - The asset is approved with policies applied. Contributes to a PrimaryStatus of LIMITED.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - ASSET_LINK_PAUSED
            - ASSET_LINK_REMOVED
            - ASSET_DISAPPROVED
            - ASSET_UNDER_REVIEW
            - ASSET_APPROVED_LABELED
          type: array
        primaryStatusDetails:
          type: array
          description: Output only. Provides the details of the primary status and its associated reasons.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AssetLinkPrimaryStatusDetails'
        primaryStatus:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ELIGIBLE
          - PAUSED
          - REMOVED
          - PENDING
          - LIMITED
          - NOT_ELIGIBLE
          description: Output only. Provides the PrimaryStatus of this asset link. Primary status is meant essentially to differentiate between the plain "status" field, which has advertiser set values of enabled, paused, or removed. The primary status takes into account other signals (for assets its mainly policy and quality approvals) to come up with a more comprehensive status to indicate its serving state.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset is eligible to serve.
          - The user-specified asset link status is paused.
          - The user-specified asset link status is removed.
          - The asset may serve in the future.
          - The asset is serving in a partial capacity.
          - The asset is not eligible to serve.
      description: A link between a Campaign and an Asset.
    GoogleAdsGoogleadsV25Services__MutateCampaignAssetsRequest:
      type: object
      properties:
        validateOnly:
          description: If true, the request is validated but not executed. Only errors are returned, not results.
          type: boolean
        responseContentType:
          type: string
          description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
        operations:
          description: Required. The list of operations to perform on individual campaign assets.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__CampaignAssetOperation'
          type: array
        partialFailure:
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
          type: boolean
      description: Request message for CampaignAssetService.MutateCampaignAssets.
    GoogleAdsGoogleadsV25Services__MutateCampaignAssetsResponse:
      description: Response message for a campaign asset mutate.
      type: object
      properties:
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCampaignAssetResult'
          type: array
        partialFailureError:
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
          $ref: '#/components/schemas/GoogleRpc__Status'
    GoogleAdsGoogleadsV25Common__AssetLinkPrimaryStatusDetails:
      type: object
      properties:
        status:
          type: string
          description: Provides the PrimaryStatus of this status detail.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset is eligible to serve.
          - The user-specified asset link status is paused.
          - The user-specified asset link status is removed.
          - The asset may serve in the future.
          - The asset is serving in a partial capacity.
          - The asset is not eligible to serve.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ELIGIBLE
          - PAUSED
          - REMOVED
          - PENDING
          - LIMITED
          - NOT_ELIGIBLE
        reason:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The asset is paused for its linked rollup level. Contributes to a PrimaryStatus of PAUSED.
          - The asset is removed for its linked rollup level. Contributes to a PrimaryStatus of REMOVED.
          - The asset has been marked as disapproved. Contributes to a PrimaryStatus of NOT_ELIGIBLE
          - The asset has not completed policy review. Contributes to a PrimaryStatus of PENDING.
          - The asset is approved with policies applied. Contributes to a PrimaryStatus of LIMITED.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ASSET_LINK_PAUSED
          - ASSET_LINK_REMOVED
          - ASSET_DISAPPROVED
          - ASSET_UNDER_REVIEW
          - ASSET_APPROVED_LABELED
          type: string
          description: Provides the reason of this PrimaryStatus.
        assetDisapproved:
          description: Provides the details for AssetLinkPrimaryStatusReason.ASSET_DISAPPROVED
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AssetDisapproved'
      description: Provides the detail of a PrimaryStatus. Each asset link has a PrimaryStatus value (e.g. NOT_ELIGIBLE, meaning not serving), and list of corroborating PrimaryStatusReasons (e.g. [ASSET_DISAPPROVED]). Each reason may have some additional details annotated with it. For instance, when the reason is ASSET_DISAPPROVED, the details field will contain additional information about the offline evaluation errors which led to the asset being disapproved.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
