openapi: 3.2.0
info:
  title: Google Ads Customers.remarketing Actions API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.remarketingActions
paths:
  /v25/customers/{customersId}/remarketingActions:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_remarketingActions_mutate
      summary: Creates or updates remarketing actions
      tags:
      - customers.remarketingActions
      description: 'Creates or updates remarketing actions. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ConversionActionError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer whose remarketing actions are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateRemarketingActionsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateRemarketingActionsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__MutateRemarketingActionsResponse:
      description: Response message for remarketing action mutate.
      type: object
      properties:
        partialFailureError:
          $ref: '#/components/schemas/GoogleRpc__Status'
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateRemarketingActionResult'
          type: array
    GoogleAdsGoogleadsV25Services__MutateRemarketingActionResult:
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
      description: The result for the remarketing action mutate.
    GoogleAdsGoogleadsV25Resources__RemarketingAction:
      description: A remarketing action. A snippet of JavaScript code that will collect the product id and the type of page people visited (product page, shopping cart page, purchase page, general site visit) on an advertiser's website.
      type: object
      properties:
        id:
          description: Output only. Id of the remarketing action.
          type: string
          format: int64
        name:
          type: string
          description: The name of the remarketing action. This field is required and should not be empty when creating new remarketing actions.
        resourceName:
          type: string
          description: 'Immutable. The resource name of the remarketing action. Remarketing action resource names have the form: `customers/{customer_id}/remarketingActions/{remarketing_action_id}`'
        tagSnippets:
          description: Output only. The snippets used for tracking remarketing actions.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__TagSnippet'
          type: array
    GoogleAdsGoogleadsV25Services__RemarketingActionOperation:
      type: object
      properties:
        update:
          description: 'Update operation: The remarketing action is expected to have a valid resource name.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__RemarketingAction'
        updateMask:
          description: FieldMask that determines which resource fields are modified in an update.
          type: string
          format: google-fieldmask
        create:
          description: 'Create operation: No resource name is expected for the new remarketing action.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__RemarketingAction'
      description: A single operation (create, update) on a remarketing action.
    GoogleAdsGoogleadsV25Common__TagSnippet:
      description: The site tag and event snippet pair for a TrackingCodeType.
      type: object
      properties:
        type:
          description: The type of the generated tag snippets for tracking conversions.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The snippet that is fired as a result of a website page loading.
          - The snippet contains a JavaScript function which fires the tag. This function is typically called from an onClick handler added to a link or button element on the page.
          - For embedding on a mobile webpage. The snippet contains a JavaScript function which fires the tag.
          - The snippet that is used to replace the phone number on your website with a Google forwarding number for call tracking purposes.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - WEBPAGE
          - WEBPAGE_ONCLICK
          - CLICK_TO_CALL
          - WEBSITE_CALL
        pageFormat:
          type: string
          description: The format of the web page where the tracking tag and snippet will be installed, for example, HTML.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Standard HTML page format.
          - Google AMP page format.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - HTML
          - AMP
        globalSiteTag:
          description: The site tag that adds visitors to your basic remarketing lists and sets new cookies on your domain.
          type: string
        eventSnippet:
          type: string
          description: The event snippet that works with the site tag to track actions that should be counted as conversions.
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__MutateRemarketingActionsRequest:
      description: Request message for RemarketingActionService.MutateRemarketingActions.
      type: object
      properties:
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
        operations:
          description: Required. The list of operations to perform on individual remarketing actions.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__RemarketingActionOperation'
          type: array
        partialFailure:
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
          type: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
