openapi: 3.2.0
info:
  title: Google Ads Customers.conversion Goal Campaign Configs API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.conversionGoalCampaignConfigs
paths:
  /v25/customers/{customersId}/conversionGoalCampaignConfigs:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_conversionGoalCampaignConfigs_mutate
      summary: Creates, updates or removes conversion goal campaign config
      tags:
      - customers.conversionGoalCampaignConfigs
      description: Creates, updates or removes conversion goal campaign config. Operation statuses are returned.
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer whose custom conversion goals are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateConversionGoalCampaignConfigsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateConversionGoalCampaignConfigsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Resources__ConversionGoalCampaignConfig:
      description: Conversion goal settings for a Campaign.
      type: object
      properties:
        resourceName:
          type: string
          description: 'Immutable. The resource name of the conversion goal campaign config. Conversion goal campaign config resource names have the form: `customers/{customer_id}/conversionGoalCampaignConfigs/{campaign_id}`'
        goalConfigLevel:
          x-enumDescriptions:
          - The goal config level has not been specified.
          - The goal config level is not known in this version.
          - The goal config is defined at the customer level.
          - The goal config is defined at the campaign level.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CUSTOMER
          - CAMPAIGN
          description: The level of goal config the campaign is using.
          type: string
        campaign:
          type: string
          description: Immutable. The campaign with which this conversion goal campaign config is associated.
        customConversionGoal:
          type: string
          description: The custom conversion goal the campaign is using for optimization.
    GoogleAdsGoogleadsV25Services__MutateConversionGoalCampaignConfigResult:
      description: The result for the conversion goal campaign config mutate.
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        conversionGoalCampaignConfig:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__ConversionGoalCampaignConfig'
          description: The mutated ConversionGoalCampaignConfig with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Services__MutateConversionGoalCampaignConfigsResponse:
      type: object
      properties:
        results:
          type: array
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateConversionGoalCampaignConfigResult'
      description: Response message for a conversion goal campaign config mutate.
    GoogleAdsGoogleadsV25Services__MutateConversionGoalCampaignConfigsRequest:
      type: object
      properties:
        operations:
          description: Required. The list of operations to perform on individual conversion goal campaign config.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ConversionGoalCampaignConfigOperation'
          type: array
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
        responseContentType:
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
          type: string
          description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.
      description: Request message for ConversionGoalCampaignConfigService.MutateConversionGoalCampaignConfigs.
    GoogleAdsGoogleadsV25Services__ConversionGoalCampaignConfigOperation:
      description: A single operation (update) on a conversion goal campaign config.
      type: object
      properties:
        updateMask:
          format: google-fieldmask
          description: FieldMask that determines which resource fields are modified in an update.
          type: string
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__ConversionGoalCampaignConfig'
          description: 'Update operation: The conversion goal campaign config is expected to have a valid resource name.'
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
