openapi: 3.2.0
info:
  title: Google Ads Customers.customer User Accesses API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.customerUserAccesses
paths:
  /v25/customers/{customersId}/customerUserAccesses:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_customerUserAccesses_mutate
      summary: Updates, removes permission of a user on a given customer
      tags:
      - customers.customerUserAccesses
      description: 'Updates, removes permission of a user on a given customer. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [CustomerUserAccessError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCustomerUserAccessRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCustomerUserAccessResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__MutateCustomerUserAccessRequest:
      description: Mutate Request for CustomerUserAccessService.MutateCustomerUserAccess.
      type: object
      properties:
        operation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__CustomerUserAccessOperation'
          description: Required. The operation to perform on the customer
    GoogleAdsGoogleadsV25Services__MutateCustomerUserAccessResult:
      description: The result for the customer user access mutate.
      type: object
      properties:
        multiPartyAuthReview:
          type: string
          description: The resource name of the multi-party authorization review associated with this mutate.
        resourceName:
          description: Returned for successful operations.
          type: string
    GoogleAdsGoogleadsV25Resources__CustomerUserAccess:
      type: object
      properties:
        emailAddress:
          description: Output only. Email address of the user. Read only field
          type: string
        accessRole:
          type: string
          description: Access role of the user.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Owns its account and can control the addition of other users.
          - Can modify campaigns, but can't affect other users.
          - Can view campaigns and account changes, but cannot make edits.
          - Role for \"email only\" access. Represents an email recipient rather than a true User entity.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ADMIN
          - STANDARD
          - READ_ONLY
          - EMAIL_ONLY
        passkeyEnabled:
          type: boolean
          description: Output only. Whether the user has passkey enabled. Read only field
        inviterUserEmailAddress:
          description: Output only. The email address of the inviter user. Read only field
          type: string
        resourceName:
          description: 'Immutable. Name of the resource. Resource names have the form: `customers/{customer_id}/customerUserAccesses/{user_id}`'
          type: string
        userId:
          format: int64
          description: Output only. User id of the user with the customer access. Read only field
          type: string
        accessCreationDateTime:
          description: 'Output only. The customer user access creation time. Read only field The format is "YYYY-MM-DD HH:MM:SS". Examples: "2018-03-05 09:15:00" or "2018-02-01 14:34:30"'
          type: string
        pendingMultiPartyAuthReview:
          description: Output only. The resource name of the pending Multi-Party Authorization review. Read only field
          type: string
      description: Represents the permission of a single user onto a single customer.
    GoogleAdsGoogleadsV25Services__MutateCustomerUserAccessResponse:
      description: Response message for customer user access mutate.
      type: object
      properties:
        result:
          description: Result for the mutate.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCustomerUserAccessResult'
    GoogleAdsGoogleadsV25Services__CustomerUserAccessOperation:
      description: A single operation (update, remove) on customer user access.
      type: object
      properties:
        remove:
          description: 'Remove operation: A resource name for the removed access is expected, in this format: `customers/{customer_id}/customerUserAccesses/{CustomerUserAccess.user_id}`'
          type: string
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CustomerUserAccess'
          description: 'Update operation: The customer user access is expected to have a valid resource name.'
        updateMask:
          format: google-fieldmask
          type: string
          description: FieldMask that determines which resource fields are modified in an update.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
