openapi: 3.2.0
info:
  title: Google Ads Customers.campaign Bid Modifiers API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.campaignBidModifiers
paths:
  /v25/customers/{customersId}/campaignBidModifiers:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_campaignBidModifiers_mutate
      summary: Creates, updates, or removes campaign bid modifiers
      tags:
      - customers.campaignBidModifiers
      description: 'Creates, updates, or removes campaign bid modifiers. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ContextError]() [CriterionError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. ID of the customer whose campaign bid modifiers are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCampaignBidModifiersRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCampaignBidModifiersResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__MutateCampaignBidModifiersResponse:
      description: Response message for campaign bid modifiers mutate.
      type: object
      properties:
        results:
          type: array
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCampaignBidModifierResult'
        partialFailureError:
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
          $ref: '#/components/schemas/GoogleRpc__Status'
    GoogleAdsGoogleadsV25Services__CampaignBidModifierOperation:
      description: A single operation (create, remove, update) on a campaign bid modifier.
      type: object
      properties:
        remove:
          type: string
          description: 'Remove operation: A resource name for the removed campaign bid modifier is expected, in this format: `customers/{customer_id}/campaignBidModifiers/{campaign_id}~{criterion_id}`'
        updateMask:
          type: string
          description: FieldMask that determines which resource fields are modified in an update.
          format: google-fieldmask
        create:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CampaignBidModifier'
          description: 'Create operation: No resource name is expected for the new campaign bid modifier.'
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CampaignBidModifier'
          description: 'Update operation: The campaign bid modifier is expected to have a valid resource name.'
    GoogleAdsGoogleadsV25Resources__CampaignBidModifier:
      description: Represents a bid-modifiable only criterion at the campaign level.
      type: object
      properties:
        bidModifier:
          type: number
          description: The modifier for the bid when the criterion matches.
          format: double
        campaign:
          description: Output only. The campaign to which this criterion belongs.
          type: string
        interactionType:
          description: Immutable. Criterion for interaction type. Only supported for search campaigns.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__InteractionTypeInfo'
        criterionId:
          description: Output only. The ID of the criterion to bid modify. This field is ignored for mutates.
          type: string
          format: int64
        resourceName:
          type: string
          description: 'Immutable. The resource name of the campaign bid modifier. Campaign bid modifier resource names have the form: `customers/{customer_id}/campaignBidModifiers/{campaign_id}~{criterion_id}`'
    GoogleAdsGoogleadsV25Services__MutateCampaignBidModifiersRequest:
      type: object
      properties:
        partialFailure:
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
          type: boolean
        operations:
          description: Required. The list of operations to perform on individual campaign bid modifiers.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__CampaignBidModifierOperation'
          type: array
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
        responseContentType:
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
          description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.
          type: string
      description: Request message for CampaignBidModifierService.MutateCampaignBidModifiers.
    GoogleAdsGoogleadsV25Common__InteractionTypeInfo:
      type: object
      properties:
        type:
          type: string
          description: The interaction type.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Calls.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CALLS
      description: Criterion for Interaction Type.
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__MutateCampaignBidModifierResult:
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        campaignBidModifier:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CampaignBidModifier'
          description: The mutated campaign bid modifier with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
      description: The result for the criterion mutate.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
