openapi: 3.2.0
info:
  title: Google Ads V25:list Plannable User Interests API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: V25:listPlannableUserInterests
paths:
  /v25:listPlannableUserInterests:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_listPlannableUserInterests
      summary: Returns the list of plannable user interests
      tags:
      - V25:listPlannableUserInterests
      description: 'Returns the list of plannable user interests. A plannable user interest is one that can be targeted in a reach forecast using ReachPlanService.GenerateReachForecast. List of thrown errors: AuthenticationError AuthorizationError FieldError HeaderError InternalError ListOperationError QuotaError RequestError StringLengthError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ListPlannableUserInterestsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ListPlannableUserInterestsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__PlannableUserInterest:
      description: A plannable user interest that can be targeted in a reach forecast using ReachPlanService.GenerateReachForecast.
      type: object
      properties:
        userInterestType:
          description: The user interest type.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The affinity for this user interest.
          - The market for this user interest.
          - Users known to have installed applications in the specified categories.
          - The geographical location of the interest-based vertical.
          - User interest criteria for new smart phone users.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - AFFINITY
          - IN_MARKET
          - MOBILE_APP_INSTALL_USER
          - VERTICAL_GEO
          - NEW_SMART_PHONE_USER
        userInterestDisplayName:
          description: The user interest display name. For example, "Autos & Vehicles"
          type: string
        userInterest:
          description: The user interest id.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__UserInterestInfo'
        userInterestPath:
          type: string
          description: The user interest path. For example, "/Autos & Vehicles/Motor Vehicles/Motor Vehicles by Type/Off-Road Vehicles"
    GoogleAdsGoogleadsV25Common__UserInterestInfo:
      description: Represents a particular interest-based topic to be targeted.
      type: object
      properties:
        userInterestCategory:
          type: string
          description: The UserInterest resource name.
    GoogleAdsGoogleadsV25Services__ListPlannableUserInterestsResponse:
      description: Response message for ReachPlanService.ListPlannableUserInterests.
      type: object
      properties:
        plannableUserInterests:
          description: The list of plannable user interests.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__PlannableUserInterest'
          type: array
    GoogleAdsGoogleadsV25Common__AdditionalApplicationInfo:
      description: Additional information about the application/tool issuing the request. This field is only used by ContentCreatorInsightsService, AudienceInsightsService, and ReachPlanService APIs.
      type: object
      properties:
        applicationId:
          description: The unique identifier of the agency proprietary application. This identifier is generated by Google. Reach out to your Google representative to request an application_id for each new application being integrated.
          type: string
        applicationInstance:
          description: The instance type of the application sending the request.
          type: string
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - The instance is for development and testing purposes.
          - The instance is for production purposes.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DEVELOPMENT_AND_TESTING
          - PRODUCTION
    GoogleAdsGoogleadsV25Services__ListPlannableUserInterestsRequest:
      type: object
      properties:
        nameQuery:
          type: string
          description: A filter by user interest name. If set, only user interests with a name containing the literal string (case insensitive) in the filter will be returned. Maximum length is 200 characters.
        pathQuery:
          description: A filter by user interest path. If set, only user interests with a path containing the literal string (case insensitive) in the filter will be returned. Maximum length is 200 characters.
          type: string
        userInterestTaxonomyTypes:
          description: Optional. A filter by user interest type. If set, only user interests with a type listed in the filter will be returned. If not set, user interests of all supported types will be returned. Supported user interest types are AFFINITY and IN_MARKET. Each type must be specified at most once.
          items:
            x-enumDescriptions:
            - Not specified.
            - Used for return value only. Represents value unknown in this version.
            - The affinity for this user interest.
            - The market for this user interest.
            - Users known to have installed applications in the specified categories.
            - The geographical location of the interest-based vertical.
            - User interest criteria for new smart phone users.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - AFFINITY
            - IN_MARKET
            - MOBILE_APP_INSTALL_USER
            - VERTICAL_GEO
            - NEW_SMART_PHONE_USER
            type: string
          type: array
        customerId:
          description: Required. The ID of the customer.
          type: string
        reachApplicationInfo:
          description: Optional. Additional information on the application issuing the request.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdditionalApplicationInfo'
      description: Request message for ReachPlanService.ListPlannableUserInterests.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
