openapi: 3.2.0
info:
  title: Google Ads Customers.custom Conversion Goals API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.customConversionGoals
paths:
  /v25/customers/{customersId}/customConversionGoals:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_customConversionGoals_mutate
      summary: Creates, updates or removes custom conversion goals
      tags:
      - customers.customConversionGoals
      description: Creates, updates or removes custom conversion goals. Operation statuses are returned.
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer whose custom conversion goals are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCustomConversionGoalsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCustomConversionGoalsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__MutateCustomConversionGoalsRequest:
      description: Request message for CustomConversionGoalService.MutateCustomConversionGoals.
      type: object
      properties:
        operations:
          type: array
          description: Required. The list of operations to perform on individual custom conversion goal.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__CustomConversionGoalOperation'
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
        responseContentType:
          description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.
          type: string
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
    GoogleAdsGoogleadsV25Services__MutateCustomConversionGoalsResponse:
      description: Response message for a custom conversion goal mutate.
      type: object
      properties:
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCustomConversionGoalResult'
          type: array
    GoogleAdsGoogleadsV25Services__CustomConversionGoalOperation:
      type: object
      properties:
        updateMask:
          type: string
          description: FieldMask that determines which resource fields are modified in an update.
          format: google-fieldmask
        create:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CustomConversionGoal'
          description: 'Create operation: No resource name is expected for the new custom conversion goal'
        update:
          description: 'Update operation: The custom conversion goal is expected to have a valid resource name.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CustomConversionGoal'
        remove:
          type: string
          description: 'Remove operation: A resource name for the removed custom conversion goal is expected, in this format: ''customers/{customer_id}/customConversionGoals/{goal_id}'''
      description: A single operation (create, remove) on a custom conversion goal.
    GoogleAdsGoogleadsV25Resources__CustomConversionGoal:
      description: Custom conversion goal that can make arbitrary conversion actions biddable.
      type: object
      properties:
        id:
          type: string
          description: Immutable. The ID for this custom conversion goal.
          format: int64
        status:
          x-enumDescriptions:
          - The status has not been specified.
          - The received value is not known in this version.
          - The custom conversion goal is enabled.
          - The custom conversion goal is removed.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - REMOVED
          type: string
          description: The status of the custom conversion goal.
        conversionActions:
          description: Conversion actions that the custom conversion goal makes biddable.
          items:
            type: string
          type: array
        resourceName:
          description: 'Immutable. The resource name of the custom conversion goal. Custom conversion goal resource names have the form: `customers/{customer_id}/customConversionGoals/{goal_id}`'
          type: string
        name:
          description: The name for this custom conversion goal.
          type: string
    GoogleAdsGoogleadsV25Services__MutateCustomConversionGoalResult:
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        customConversionGoal:
          description: The mutated CustomConversionGoal with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CustomConversionGoal'
      description: The result for the custom conversion goal mutate.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
