openapi: 3.2.0
info:
  title: Google Ads Customers.customer Client Links API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.customerClientLinks
paths:
  /v25/customers/{customersId}/customerClientLinks:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_customerClientLinks_mutate
      summary: Creates or updates a customer client link
      tags:
      - customers.customerClientLinks
      description: 'Creates or updates a customer client link. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [ManagerLinkError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer whose customer link are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCustomerClientLinkRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCustomerClientLinkResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__MutateCustomerClientLinkResult:
      description: The result for a single customer client link mutate.
      type: object
      properties:
        resourceName:
          type: string
          description: Returned for successful operations.
    GoogleAdsGoogleadsV25Services__CustomerClientLinkOperation:
      type: object
      properties:
        updateMask:
          format: google-fieldmask
          type: string
          description: FieldMask that determines which resource fields are modified in an update.
        create:
          description: 'Create operation: No resource name is expected for the new link.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CustomerClientLink'
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__CustomerClientLink'
          description: 'Update operation: The link is expected to have a valid resource name.'
      description: A single operation (create, update) on a CustomerClientLink.
    GoogleAdsGoogleadsV25Services__MutateCustomerClientLinkResponse:
      type: object
      properties:
        result:
          description: A result that identifies the resource affected by the mutate request.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateCustomerClientLinkResult'
      description: Response message for a CustomerClientLink mutate.
    GoogleAdsGoogleadsV25Services__MutateCustomerClientLinkRequest:
      type: object
      properties:
        operation:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__CustomerClientLinkOperation'
          description: Required. The operation to perform on the individual CustomerClientLink.
        validateOnly:
          description: If true, the request is validated but not executed. Only errors are returned, not results.
          type: boolean
      description: Request message for CustomerClientLinkService.MutateCustomerClientLink.
    GoogleAdsGoogleadsV25Resources__CustomerClientLink:
      type: object
      properties:
        managerLinkId:
          format: int64
          type: string
          description: Output only. This is uniquely identifies a customer client link. Read only.
        hidden:
          type: boolean
          description: The visibility of the link. Users can choose whether or not to see hidden links in the Google Ads UI. Default value is false
        clientCustomer:
          type: string
          description: Immutable. The client customer linked to this customer.
        status:
          description: This is the status of the link between client and manager.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Indicates current in-effect relationship
          - Indicates terminated relationship
          - Indicates relationship has been requested by manager, but the client hasn't accepted yet.
          - Relationship was requested by the manager, but the client has refused.
          - Indicates relationship has been requested by manager, but manager canceled it.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ACTIVE
          - INACTIVE
          - PENDING
          - REFUSED
          - CANCELED
        resourceName:
          description: 'Immutable. Name of the resource. CustomerClientLink resource names have the form: `customers/{customer_id}/customerClientLinks/{client_customer_id}~{manager_link_id}`'
          type: string
      description: Represents customer client link relationship.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
