openapi: 3.2.0
info:
  title: Google Ads Customers.user List Customer Types API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.userListCustomerTypes
paths:
  /v25/customers/{customersId}/userListCustomerTypes:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_userListCustomerTypes_mutate
      summary: Attach or remove user list customer types
      tags:
      - customers.userListCustomerTypes
      description: 'Attach or remove user list customer types. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [UserListCustomerTypeError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          pattern: ^[^/]+$
          type: string
        description: Required. The ID of the customer whose user list customer types are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateUserListCustomerTypesRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateUserListCustomerTypesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__MutateUserListCustomerTypesRequest:
      description: Request message for UserListCustomerTypeService.MutateUserListCustomerTypes.
      type: object
      properties:
        validateOnly:
          description: Optional. If true, the request is validated but not executed. Only errors are returned, not results.
          type: boolean
        operations:
          type: array
          description: Required. The list of operations to perform on the user list customer types.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__UserListCustomerTypeOperation'
        partialFailure:
          description: Optional. If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
          type: boolean
    GoogleAdsGoogleadsV25Services__MutateUserListCustomerTypesResponse:
      description: Response message for a user list customer type mutate.
      type: object
      properties:
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateUserListCustomerTypeResult'
          type: array
        partialFailureError:
          $ref: '#/components/schemas/GoogleRpc__Status'
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
    GoogleAdsGoogleadsV25Resources__UserListCustomerType:
      description: A user list customer type
      type: object
      properties:
        resourceName:
          description: 'Immutable. The resource name of the user list customer type User list customer type resource names have the form: `customers/{customer_id}/userListCustomerTypes/{user_list_id}~{customer_type_category}`'
          type: string
        customerTypeCategory:
          description: Immutable. The user list customer type category
          type: string
          x-enumDescriptions:
          - Not specified.
          - Unknown type.
          - Customer type category for all customers.
          - Customer type category for all purchasers.
          - Customer type category for high value purchasers.
          - Customer type category for disengaged purchasers.
          - Customer type category for qualified leads.
          - Customer type category for converted leads.
          - Customer type category for paid subscribers.
          - Customer type category for cart abandoners.
          - Customer type category for loyalty tier 1 members.
          - Customer type category for loyalty tier 2 members.
          - Customer type category for loyalty tier 3 members.
          - Customer type category for loyalty tier 4 members.
          - Customer type category for loyalty tier 5 members.
          - Customer type category for loyalty tier 6 members.
          - Customer type category for loyalty tier 7 members.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ALL_CUSTOMERS
          - PURCHASERS
          - HIGH_VALUE_CUSTOMERS
          - DISENGAGED_CUSTOMERS
          - QUALIFIED_LEADS
          - CONVERTED_LEADS
          - PAID_SUBSCRIBERS
          - CART_ABANDONERS
          - LOYALTY_TIER_1_MEMBERS
          - LOYALTY_TIER_2_MEMBERS
          - LOYALTY_TIER_3_MEMBERS
          - LOYALTY_TIER_4_MEMBERS
          - LOYALTY_TIER_5_MEMBERS
          - LOYALTY_TIER_6_MEMBERS
          - LOYALTY_TIER_7_MEMBERS
        userList:
          description: Immutable. The resource name for the user list this user list customer type is associated with
          type: string
    GoogleAdsGoogleadsV25Services__UserListCustomerTypeOperation:
      type: object
      properties:
        create:
          description: Attach a user list customer type to a user list. No resource name is expected for the new user list customer type.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__UserListCustomerType'
        remove:
          description: 'Remove an existing user list customer type. A resource name for the removed user list customer type is expected, in this format: `customers/{customer_id}/userListCustomerTypes/{user_list_id}~{customer_type_category}`'
          type: string
      description: A single mutate operation on the user list customer type.
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__MutateUserListCustomerTypeResult:
      description: The result for the user list customer type mutate.
      type: object
      properties:
        resourceName:
          type: string
          description: Returned for successful operations.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
