openapi: 3.2.0
info:
  title: Google Ads Customers.conversion Actions API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.conversionActions
paths:
  /v25/customers/{customersId}/conversionActions:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_conversionActions_mutate
      summary: Creates, updates or removes conversion actions
      tags:
      - customers.conversionActions
      description: 'Creates, updates or removes conversion actions. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [ConversionActionError]() [CurrencyCodeError]() [DatabaseError]() [FieldError]() [FieldMaskError]() [HeaderError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [StringLengthError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer whose conversion actions are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateConversionActionsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateConversionActionsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__MutateConversionActionsRequest:
      type: object
      properties:
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
        responseContentType:
          description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.
          type: string
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
        operations:
          description: Required. The list of operations to perform on individual conversion actions.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ConversionActionOperation'
          type: array
        partialFailure:
          type: boolean
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
      description: Request message for ConversionActionService.MutateConversionActions.
    GoogleAdsGoogleadsV25Services__MutateConversionActionsResponse:
      type: object
      properties:
        partialFailureError:
          $ref: '#/components/schemas/GoogleRpc__Status'
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
        results:
          type: array
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateConversionActionResult'
      description: Response message for ConversionActionService.MutateConversionActions.
    GoogleAdsGoogleadsV25Common__TagSnippet:
      description: The site tag and event snippet pair for a TrackingCodeType.
      type: object
      properties:
        type:
          description: The type of the generated tag snippets for tracking conversions.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The snippet that is fired as a result of a website page loading.
          - The snippet contains a JavaScript function which fires the tag. This function is typically called from an onClick handler added to a link or button element on the page.
          - For embedding on a mobile webpage. The snippet contains a JavaScript function which fires the tag.
          - The snippet that is used to replace the phone number on your website with a Google forwarding number for call tracking purposes.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - WEBPAGE
          - WEBPAGE_ONCLICK
          - CLICK_TO_CALL
          - WEBSITE_CALL
        pageFormat:
          type: string
          description: The format of the web page where the tracking tag and snippet will be installed, for example, HTML.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Standard HTML page format.
          - Google AMP page format.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - HTML
          - AMP
        globalSiteTag:
          description: The site tag that adds visitors to your basic remarketing lists and sets new cookies on your domain.
          type: string
        eventSnippet:
          type: string
          description: The event snippet that works with the site tag to track actions that should be counted as conversions.
    GoogleAdsGoogleadsV25Resources_ConversionAction_AttributionModelSettings:
      type: object
      properties:
        attributionModel:
          description: The attribution model type of this conversion action.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Uses external attribution.
          - Attributes all credit for a conversion to its last click.
          - Attributes all credit for a conversion to its first click using Google Search attribution.
          - Attributes credit for a conversion equally across all of its clicks using Google Search attribution.
          - Attributes exponentially more credit for a conversion to its more recent clicks using Google Search attribution (half-life is 1 week).
          - Attributes 40% of the credit for a conversion to its first and last clicks. Remaining 20% is evenly distributed across all other clicks. This uses Google Search attribution.
          - Flexible model that uses machine learning to determine the appropriate distribution of credit among clicks using Google Search attribution.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - EXTERNAL
          - GOOGLE_ADS_LAST_CLICK
          - GOOGLE_SEARCH_ATTRIBUTION_FIRST_CLICK
          - GOOGLE_SEARCH_ATTRIBUTION_LINEAR
          - GOOGLE_SEARCH_ATTRIBUTION_TIME_DECAY
          - GOOGLE_SEARCH_ATTRIBUTION_POSITION_BASED
          - GOOGLE_SEARCH_ATTRIBUTION_DATA_DRIVEN
        dataDrivenModelStatus:
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - AVAILABLE
          - STALE
          - EXPIRED
          - NEVER_GENERATED
          type: string
          description: Output only. The status of the data-driven attribution model for the conversion action.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The data driven model is available.
          - The data driven model is stale. It hasn't been updated for at least 7 days. It is still being used, but will become expired if it does not get updated for 30 days.
          - The data driven model expired. It hasn't been updated for at least 30 days and cannot be used. Most commonly this is because there hasn't been the required number of events in a recent 30-day period.
          - The data driven model has never been generated. Most commonly this is because there has never been the required number of events in any 30-day period.
      description: Settings related to this conversion action's attribution model.
    GoogleAdsGoogleadsV25Resources__ConversionAction:
      description: A conversion action.
      type: object
      properties:
        status:
          type: string
          description: The status of this conversion action for conversion event accrual.
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Conversions will be recorded.
          - Conversions will not be recorded.
          - Conversions will not be recorded and the conversion action will not appear in the UI.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - REMOVED
          - HIDDEN
        thirdPartyAppAnalyticsSettings:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_ConversionAction_ThirdPartyAppAnalyticsSettings'
          description: Output only. Third Party App Analytics settings for third party conversion types.
        attributionModelSettings:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_ConversionAction_AttributionModelSettings'
          description: Settings related to this conversion action's attribution model.
        phoneCallDurationSeconds:
          format: int64
          description: The phone call duration in seconds after which a conversion should be reported for this conversion action. The value must be between 0 and 10000, inclusive.
          type: string
        appId:
          type: string
          description: App ID for an app conversion action.
        mobileAppVendor:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Mobile app vendor for Apple app store.
          - Mobile app vendor for Google app store.
          type: string
          description: Output only. Mobile app vendor for an app conversion action.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - APPLE_APP_STORE
          - GOOGLE_APP_STORE
        category:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Default category.
          - User visiting a page.
          - Purchase, sales, or "order placed" event.
          - Signup user action.
          - Software download action (as for an app).
          - The addition of items to a shopping cart or bag on an advertiser site.
          - When someone enters the checkout flow on an advertiser site.
          - The start of a paid subscription for a product or service.
          - A call to indicate interest in an advertiser's offering.
          - A lead conversion imported from an external source into Google Ads.
          - A submission of a form on an advertiser site indicating business interest.
          - A booking of an appointment with an advertiser's business.
          - A quote or price estimate request.
          - A search for an advertiser's business location with intention to visit.
          - A click to an advertiser's partner's site.
          - A call, SMS, email, chat or other type of contact to an advertiser.
          - A website engagement event such as long site time or a Google Analytics (GA) Smart Goal. Intended to be used for GA, Firebase, GA Gold goal imports.
          - A visit to a physical store location.
          - A sale occurring in a physical store.
          - A lead conversion imported from an external source into Google Ads, that has been further qualified by the advertiser (marketing/sales team). In the lead-to-sale journey, advertisers get leads, then act on them by reaching out to the consumer. If the consumer is interested and may end up buying their product, the advertiser marks such leads as "qualified leads".
          - A lead conversion imported from an external source into Google Ads, that has further completed a chosen stage as defined by the lead gen advertiser.
          - User watches an ad from a channel and later watches either the same video or a video from the same channel as the ad.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DEFAULT
          - PAGE_VIEW
          - PURCHASE
          - SIGNUP
          - DOWNLOAD
          - ADD_TO_CART
          - BEGIN_CHECKOUT
          - SUBSCRIBE_PAID
          - PHONE_CALL_LEAD
          - IMPORTED_LEAD
          - SUBMIT_LEAD_FORM
          - BOOK_APPOINTMENT
          - REQUEST_QUOTE
          - GET_DIRECTIONS
          - OUTBOUND_CLICK
          - CONTACT
          - ENGAGEMENT
          - STORE_VISIT
          - STORE_SALE
          - QUALIFIED_LEAD
          - CONVERTED_LEAD
          - YOUTUBE_FOLLOW_ON_VIEWS
          description: The category of conversions reported for this conversion action.
          type: string
        includeInConversionsMetric:
          description: Whether this conversion action should be included in the "conversions" metric.
          type: boolean
        clickThroughLookbackWindowDays:
          format: int64
          type: string
          description: The maximum number of days that may elapse between an interaction (for example, a click) and a conversion event.
        countingType:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Count only one conversion per click.
          - Count all conversions per click.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ONE_PER_CLICK
          - MANY_PER_CLICK
          description: How to count conversion events for the conversion action.
          type: string
        id:
          type: string
          description: Output only. The ID of the conversion action.
          format: int64
        googleAnalytics4Settings:
          description: Output only. Google Analytics 4 settings for Google Analytics 4 conversion types.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_ConversionAction_GoogleAnalytics4Settings'
        type:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Conversions that occur when a user clicks on an ad's call extension.
          - Conversions that occur when a user on a mobile device clicks a phone number.
          - Conversions that occur when a user downloads a mobile app from the Google Play Store.
          - Conversions that occur when a user makes a purchase in an app through Android billing.
          - Call conversions that are tracked by the advertiser and uploaded.
          - Conversions that are tracked by the advertiser and uploaded with attributed clicks.
          - Conversions that occur on a webpage.
          - Conversions that occur when a user calls a dynamically-generated phone number from an advertiser's website.
          - Store Sales conversion based on first-party or third-party merchant data uploads. Only customers on the allowlist can use store sales direct upload types.
          - Store Sales conversion based on first-party or third-party merchant data uploads and/or from in-store purchases using cards from payment networks. Only customers on the allowlist can use store sales types. Read only.
          - Android app first open conversions tracked through Firebase.
          - Android app in app purchase conversions tracked through Firebase.
          - Android app custom conversions tracked through Firebase.
          - iOS app first open conversions tracked through Firebase.
          - iOS app in app purchase conversions tracked through Firebase.
          - iOS app custom conversions tracked through Firebase.
          - Android app first open conversions tracked through Third Party App Analytics.
          - Android app in app purchase conversions tracked through Third Party App Analytics.
          - Android app custom conversions tracked through Third Party App Analytics.
          - iOS app first open conversions tracked through Third Party App Analytics.
          - iOS app in app purchase conversions tracked through Third Party App Analytics.
          - iOS app custom conversions tracked through Third Party App Analytics.
          - Conversions that occur when a user pre-registers a mobile app from the Google Play Store. Read only.
          - Conversions that track all Google Play downloads which aren't tracked by an app-specific type. Read only.
          - Floodlight activity that counts the number of times that users have visited a particular webpage after seeing or clicking on one of an advertiser's ads. Read only.
          - Floodlight activity that tracks the number of sales made or the number of items purchased. Can also capture the total value of each sale. Read only.
          - Conversions that track local actions from Google's products and services after interacting with an ad. Read only.
          - Conversions reported when a user submits a lead form. Read only.
          - 'Deprecated: The Salesforce integration ended on May 31, 2025. See [Legacy Salesforce integration for conversions upgrade FAQ](//support.google.com/google-ads/answer/14728349).'
          - Conversions imported from Search Ads 360 Floodlight data. Read only.
          - Call conversions that occur on Smart campaign Ads without call tracking setup, using Smart campaign custom criteria. Read only.
          - The user clicks on a call element within Google Maps. Smart campaign only. Read only.
          - The user requests directions to a business location within Google Maps. Smart campaign only. Read only.
          - Call conversions that occur on Smart campaign Ads with call tracking setup, using Smart campaign custom criteria. Read only.
          - Conversions that occur when a user visits an advertiser's retail store. Read only.
          - Conversions created from website events (such as form submissions or page loads), that don't use individually coded event snippets. Read only.
          - Conversions that come from linked Universal Analytics goals. Universal Analytics is sunset, and has been replaced by Google Analytics.
          - Conversions that come from linked Universal Analytics transactions. Universal Analytics is sunset, and has been replaced by Google Analytics.
          - Conversions that come from linked Google Analytics custom event conversions.
          - Conversions that come from linked Google Analytics purchase conversions.
          - Conversions that come from linked Google Analytics generate lead conversions.
          - Conversions that come from linked Google Analytics qualify lead conversions.
          - Conversions that come from linked Google Analytics close convert lead conversions.
          - Conversions that come from linked Firebase Android generate lead conversions.
          - Conversions that come from linked Firebase Android qualify lead conversions.
          - Conversions that come from linked Firebase Android close convert lead conversions.
          - Conversions that come from linked Firebase iOS generate lead conversions.
          - Conversions that come from linked Firebase iOS qualify lead conversions.
          - Conversions that come from linked Firebase iOS close convert lead conversions.
          - Conversions that occur when a user clicks on local services ads unit and reaches out to advertiser through phone call, message, or booking options on the ad.
          x-enumDeprecated:
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - true
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - AD_CALL
          - CLICK_TO_CALL
          - GOOGLE_PLAY_DOWNLOAD
          - GOOGLE_PLAY_IN_APP_PURCHASE
          - UPLOAD_CALLS
          - UPLOAD_CLICKS
          - WEBPAGE
          - WEBSITE_CALL
          - STORE_SALES_DIRECT_UPLOAD
          - STORE_SALES
          - FIREBASE_ANDROID_FIRST_OPEN
          - FIREBASE_ANDROID_IN_APP_PURCHASE
          - FIREBASE_ANDROID_CUSTOM
          - FIREBASE_IOS_FIRST_OPEN
          - FIREBASE_IOS_IN_APP_PURCHASE
          - FIREBASE_IOS_CUSTOM
          - THIRD_PARTY_APP_ANALYTICS_ANDROID_FIRST_OPEN
          - THIRD_PARTY_APP_ANALYTICS_ANDROID_IN_APP_PURCHASE
          - THIRD_PARTY_APP_ANALYTICS_ANDROID_CUSTOM
          - THIRD_PARTY_APP_ANALYTICS_IOS_FIRST_OPEN
          - THIRD_PARTY_APP_ANALYTICS_IOS_IN_APP_PURCHASE
          - THIRD_PARTY_APP_ANALYTICS_IOS_CUSTOM
          - ANDROID_APP_PRE_REGISTRATION
          - ANDROID_INSTALLS_ALL_OTHER_APPS
          - FLOODLIGHT_ACTION
          - FLOODLIGHT_TRANSACTION
          - GOOGLE_HOSTED
          - LEAD_FORM_SUBMIT
          - SALESFORCE
          - SEARCH_ADS_360
          - SMART_CAMPAIGN_AD_CLICKS_TO_CALL
          - SMART_CAMPAIGN_MAP_CLICKS_TO_CALL
          - SMART_CAMPAIGN_MAP_DIRECTIONS
          - SMART_CAMPAIGN_TRACKED_CALLS
          - STORE_VISITS
          - WEBPAGE_CODELESS
          - UNIVERSAL_ANALYTICS_GOAL
          - UNIVERSAL_ANALYTICS_TRANSACTION
          - GOOGLE_ANALYTICS_4_CUSTOM
          - GOOGLE_ANALYTICS_4_PURCHASE
          - GOOGLE_ANALYTICS_4_GENERATE_LEAD
          - GOOGLE_ANALYTICS_4_QUALIFY_LEAD
          - GOOGLE_ANALYTICS_4_CLOSE_CONVERT_LEAD
          - FIREBASE_ANDROID_GENERATE_LEAD
          - FIREBASE_ANDROID_QUALIFY_LEAD
          - FIREBASE_ANDROID_CLOSE_CONVERT_LEAD
          - FIREBASE_IOS_GENERATE_LEAD
          - FIREBASE_IOS_QUALIFY_LEAD
          - FIREBASE_IOS_CLOSE_CONVERT_LEAD
          - LOCAL_SERVICES_ADS
          description: Immutable. The type of this conversion action.
          type: string
        resourceName:
          description: 'Immutable. The resource name of the conversion action. Conversion action resource names have the form: `customers/{customer_id}/conversionActions/{conversion_action_id}`'
          type: string
        primaryForGoal:
          description: If a conversion action's primary_for_goal bit is false, the conversion action is non-biddable for all campaigns regardless of their customer conversion goal or campaign conversion goal. However, custom conversion goals do not respect primary_for_goal, so if a campaign has a custom conversion goal configured with a primary_for_goal = false conversion action, that conversion action is still biddable. By default, primary_for_goal will be true if not set. In V9, primary_for_goal can only be set to false after creation through an 'update' operation because it's not declared as optional.
          type: boolean
        ownerCustomer:
          description: Output only. The resource name of the conversion action owner customer, or null if this is a system-defined conversion action.
          type: string
        viewThroughLookbackWindowDays:
          format: int64
          type: string
          description: The maximum number of days which may elapse between an impression and a conversion without an interaction.
        firebaseSettings:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_ConversionAction_FirebaseSettings'
          description: Output only. Firebase settings for Firebase conversion types.
        origin:
          type: string
          description: Output only. The conversion origin of this conversion action.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - WEBSITE
          - GOOGLE_HOSTED
          - APP
          - CALL_FROM_ADS
          - STORE
          - YOUTUBE_HOSTED
          - LOCAL_SERVICES_ADS
          x-enumDescriptions:
          - The conversion origin has not been specified.
          - The conversion origin is not known in this version.
          - Conversion that occurs when a user visits a website or takes an action there after viewing an ad.
          - Conversions reported by an offline pipeline which collects local actions from Google-hosted pages (for example, Google Maps, Google Place Page, etc) and attributes them to relevant ad events.
          - Conversion that occurs when a user performs an action through any app platforms.
          - Conversion that occurs when a user makes a call from ads.
          - Conversion that occurs when a user visits or makes a purchase at a physical store.
          - Conversion that occurs on YouTube.
          - Conversion that occurs when a user clicks on local services ads unit and reaches out to advertiser through phone call, message, or booking options on the ad.
        valueSettings:
          description: Settings related to the value for conversion events associated with this conversion action.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_ConversionAction_ValueSettings'
        tagSnippets:
          type: array
          description: Output only. The snippets used for tracking conversions.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__TagSnippet'
        name:
          type: string
          description: The name of the conversion action. This field is required and should not be empty when creating new conversion actions.
    GoogleAdsGoogleadsV25Resources_ConversionAction_ValueSettings:
      description: Settings related to the value for conversion events associated with this conversion action.
      type: object
      properties:
        defaultValue:
          format: double
          type: number
          description: The value to use when conversion events for this conversion action are sent with an invalid, disallowed or missing value, or when this conversion action is configured to always use the default value.
        defaultCurrencyCode:
          description: The currency code to use when conversion events for this conversion action are sent with an invalid or missing currency code, or when this conversion action is configured to always use the default value.
          type: string
        alwaysUseDefaultValue:
          type: boolean
          description: Controls whether the default value and default currency code are used in place of the value and currency code specified in conversion events for this conversion action.
    GoogleAdsGoogleadsV25Resources_ConversionAction_ThirdPartyAppAnalyticsSettings:
      description: Settings related to a third party app analytics conversion action.
      type: object
      properties:
        eventName:
          type: string
          description: Output only. The event name of a third-party app analytics conversion.
        providerName:
          type: string
          description: Output only. Name of the third-party app analytics provider.
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Resources_ConversionAction_GoogleAnalytics4Settings:
      description: Settings related to a Google Analytics 4 conversion action.
      type: object
      properties:
        propertyName:
          description: Output only. The name of the GA 4 property.
          type: string
        propertyId:
          description: Output only. The ID of the GA 4 property.
          type: string
          format: int64
        eventName:
          description: Output only. The name of the GA 4 event.
          type: string
    GoogleAdsGoogleadsV25Services__ConversionActionOperation:
      type: object
      properties:
        remove:
          description: 'Remove operation: A resource name for the removed conversion action is expected, in this format: `customers/{customer_id}/conversionActions/{conversion_action_id}`'
          type: string
        updateMask:
          format: google-fieldmask
          type: string
          description: FieldMask that determines which resource fields are modified in an update.
        create:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__ConversionAction'
          description: 'Create operation: No resource name is expected for the new conversion action.'
        update:
          description: 'Update operation: The conversion action is expected to have a valid resource name.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__ConversionAction'
      description: A single operation (create, update, remove) on a conversion action.
    GoogleAdsGoogleadsV25Services__MutateConversionActionResult:
      description: The result for the conversion action mutate.
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        conversionAction:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__ConversionAction'
          description: The mutated conversion action with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Resources_ConversionAction_FirebaseSettings:
      type: object
      properties:
        propertyId:
          type: string
          description: Output only. The GA property ID of the conversion.
          format: int64
        eventName:
          description: Output only. The event name of a Firebase conversion.
          type: string
        projectId:
          description: Output only. The Firebase project ID of the conversion.
          type: string
        propertyName:
          type: string
          description: Output only. The GA property name of the conversion.
      description: Settings related to a Firebase conversion action.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
