openapi: 3.2.0
info:
  title: Google Ads Customers.keyword Plans API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.keywordPlans
paths:
  /v25/customers/{customersId}/keywordPlans:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_keywordPlans_mutate
      summary: Creates, updates, or removes keyword plans
      tags:
      - customers.keywordPlans
      description: 'Creates, updates, or removes keyword plans. Operation statuses are returned. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [DatabaseError]() [FieldError]() [HeaderError]() [InternalError]() [KeywordPlanError]() [MutateError]() [NewResourceCreationError]() [QuotaError]() [RequestError]() [ResourceCountLimitExceededError]() [StringLengthError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer whose keyword plans are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateKeywordPlansRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateKeywordPlansResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Resources__KeywordPlan:
      description: 'A Keyword Planner plan. Max number of saved keyword plans: 10000. It''s possible to remove plans if limit is reached.'
      type: object
      properties:
        resourceName:
          type: string
          description: 'Immutable. The resource name of the Keyword Planner plan. KeywordPlan resource names have the form: `customers/{customer_id}/keywordPlans/{kp_plan_id}`'
        forecastPeriod:
          description: The date period used for forecasting the plan.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__KeywordPlanForecastPeriod'
        id:
          format: int64
          description: Output only. The ID of the keyword plan.
          type: string
        name:
          description: The name of the keyword plan. This field is required and should not be empty when creating new keyword plans.
          type: string
    GoogleAdsGoogleadsV25Services__MutateKeywordPlansRequest:
      description: Request message for KeywordPlanService.MutateKeywordPlans.
      type: object
      properties:
        partialFailure:
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
          type: boolean
        operations:
          type: array
          description: Required. The list of operations to perform on individual keyword plans.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__KeywordPlanOperation'
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
    GoogleAdsGoogleadsV25Services__MutateKeywordPlansResult:
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
      description: The result for the keyword plan mutate.
    GoogleAdsGoogleadsV25Services__MutateKeywordPlansResponse:
      description: Response message for a keyword plan mutate.
      type: object
      properties:
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateKeywordPlansResult'
          type: array
        partialFailureError:
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
          $ref: '#/components/schemas/GoogleRpc__Status'
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Resources__KeywordPlanForecastPeriod:
      description: The forecasting period associated with the keyword plan.
      type: object
      properties:
        dateInterval:
          type: string
          description: A future date range relative to the current date used for forecasting.
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - The next week date range for keyword plan. The next week is based on the default locale of the user's account and is mostly SUN-SAT or MON-SUN. This can be different from next-7 days.
          - The next month date range for keyword plan.
          - The next quarter date range for keyword plan.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - NEXT_WEEK
          - NEXT_MONTH
          - NEXT_QUARTER
        dateRange:
          description: The custom date range used for forecasting. It cannot be greater than a year. The start and end dates must be in the future. Otherwise, an error will be returned when the forecasting action is performed. The start and end dates are inclusive.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__DateRange'
    GoogleAdsGoogleadsV25Services__KeywordPlanOperation:
      type: object
      properties:
        remove:
          type: string
          description: 'Remove operation: A resource name for the removed keyword plan is expected in this format: `customers/{customer_id}/keywordPlans/{keyword_plan_id}`'
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__KeywordPlan'
          description: 'Update operation: The keyword plan is expected to have a valid resource name.'
        updateMask:
          type: string
          description: The FieldMask that determines which resource fields are modified in an update.
          format: google-fieldmask
        create:
          description: 'Create operation: No resource name is expected for the new keyword plan.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__KeywordPlan'
      description: A single operation (create, update, remove) on a keyword plan.
    GoogleAdsGoogleadsV25Common__DateRange:
      type: object
      properties:
        startDate:
          type: string
          description: The start date, in yyyy-mm-dd format. This date is inclusive.
        endDate:
          description: The end date, in yyyy-mm-dd format. This date is inclusive.
          type: string
      description: A date range.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
