openapi: 3.2.0
info:
  title: Google Ads Customers.ad Groups API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.adGroups
paths:
  /v25/customers/{customersId}/adGroups:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_adGroups_mutate
      summary: Creates, updates, or removes ad groups
      tags:
      - customers.adGroups
      description: 'Creates, updates, or removes ad groups. Operation statuses are returned. List of thrown errors: [AdGroupError]() [AdxError]() [AuthenticationError]() [AuthorizationError]() [BiddingError]() [BiddingStrategyError]() [DatabaseError]() [DateError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [ListOperationError]() [MultiplierError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [NullError]() [OperationAccessDeniedError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SettingError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]() [UrlFieldError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the customer whose ad groups are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateAdGroupsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateAdGroupsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__MutateAdGroupResult:
      description: The result for the ad group mutate.
      type: object
      properties:
        resourceName:
          type: string
          description: Returned for successful operations.
        adGroup:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroup'
          description: The mutated ad group with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Resources_AdGroup_AudienceSetting:
      description: Settings for the audience targeting.
      type: object
      properties:
        useAudienceGrouped:
          type: boolean
          description: Immutable. If true, this ad group uses an Audience resource for audience targeting. If false, this ad group may use audience segment criteria instead.
    GoogleAdsGoogleadsV25Common__TargetingSetting:
      description: Settings for the targeting-related features, at the campaign and ad group levels. For more details about the targeting setting, visit https://support.google.com/google-ads/answer/7365594
      type: object
      properties:
        targetRestrictions:
          type: array
          description: The per-targeting-dimension setting to restrict the reach of your campaign or ad group.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__TargetRestriction'
        targetRestrictionOperations:
          description: The list of operations changing the target restrictions. Adding a target restriction with a targeting dimension that already exists causes the existing target restriction to be replaced with the new value.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__TargetRestrictionOperation'
          type: array
    GoogleAdsGoogleadsV25Resources_AdGroup_DemandGenAdGroupSettings:
      description: Settings for Demand Gen ad groups.
      type: object
      properties:
        channelControls:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_AdGroupDemandGenAdGroupSettings_DemandGenChannelControls'
          description: Channel controls for Demand Gen ad groups.
    GoogleAdsGoogleadsV25Common__TargetRestriction:
      description: The list of per-targeting-dimension targeting settings.
      type: object
      properties:
        targetingDimension:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Keyword criteria, for example, 'mars cruise'. KEYWORD may be used as a custom bid dimension. Keywords are always a targeting dimension, so may not be set as a target "ALL" dimension with TargetRestriction.
          - Audience criteria, which include user list, user interest, custom affinity, and custom in market.
          - Topic criteria for targeting categories of content, for example, 'category::Animals>Pets' Used for Display and Video targeting.
          - Criteria for targeting gender.
          - Criteria for targeting age ranges.
          - Placement criteria, which include websites like 'www.flowers4sale.com', as well as mobile applications, mobile app categories, YouTube videos, and YouTube channels.
          - Criteria for parental status targeting.
          - Criteria for income range targeting.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - KEYWORD
          - AUDIENCE
          - TOPIC
          - GENDER
          - AGE_RANGE
          - PLACEMENT
          - PARENTAL_STATUS
          - INCOME_RANGE
          description: The targeting dimension that these settings apply to.
          type: string
        bidOnly:
          type: boolean
          description: Indicates whether to restrict your ads to show only for the criteria you have selected for this targeting_dimension, or to target all values for this targeting_dimension and show ads based on your targeting in other TargetingDimensions. A value of `true` means that these criteria will only apply bid modifiers, and not affect targeting. A value of `false` means that these criteria will restrict targeting as well as applying bid modifiers.
    GoogleAdsGoogleadsV25Resources_AdGroup_VideoAdGroupSettings:
      type: object
      properties:
        videoAdSequence:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_AdGroupVideoAdGroupSettings_VideoAdSequenceStepSetting'
          description: The video ads sequence step settings containing step ID.
      description: Settings for video ad groups.
    GoogleAdsGoogleadsV25Resources__AdGroup:
      type: object
      properties:
        name:
          description: The name of the ad group. This field is required and should not be empty when creating new ad groups. It must contain fewer than 255 UTF-8 full-width characters. It must not contain any null (code point 0x0), NL line feed (code point 0xA) or carriage return (code point 0xD) characters.
          type: string
        excludeDemographicExpansion:
          type: boolean
          description: When this value is true, demographics will be excluded from the types of targeting which are expanded when optimized_targeting_enabled is true. When optimized_targeting_enabled is false, this field is ignored. Default is false.
        audienceSetting:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_AdGroup_AudienceSetting'
          description: Immutable. Setting for audience related features.
        cpmBidMicros:
          format: int64
          type: string
          description: The maximum CPM (cost-per-thousand viewable impressions) bid.
        videoAdGroupSettings:
          description: Settings for video ad groups.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_AdGroup_VideoAdGroupSettings'
        baseAdGroup:
          description: Output only. For draft or experiment ad groups, this field is the resource name of the base ad group from which this ad group was created. If a draft or experiment ad group does not have a base ad group, then this field is null. For base ad groups, this field equals the ad group resource name. This field is read-only.
          type: string
        fixedCpmMicros:
          format: int64
          type: string
          description: The fixed amount in micros that the advertiser pays for every thousand impressions of the ad.
        verticalAdsFormatSetting:
          description: Vertical ads setting feature to enable/disable ad group format controls in search campaigns. This setting requires AiMaxAdGroupSetting to be enabled and a travel feed to be attached to the campaign.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_AdGroup_VerticalAdsFormatSetting'
        resourceName:
          type: string
          description: 'Immutable. The resource name of the ad group. Ad group resource names have the form: `customers/{customer_id}/adGroups/{ad_group_id}`'
        trackingUrlTemplate:
          description: The URL template for constructing a tracking URL.
          type: string
        id:
          description: Output only. The ID of the ad group.
          type: string
          format: int64
        labels:
          type: array
          description: Output only. The resource names of labels attached to this ad group.
          items:
            type: string
        targetCpaMicros:
          description: The target CPA (cost-per-acquisition). If the ad group's campaign bidding strategy is TargetCpa or MaximizeConversions (with its target_cpa field set), then this field overrides the target CPA specified in the campaign's bidding strategy. Otherwise, this value is ignored.
          type: string
          format: int64
        adRotationMode:
          x-enumDescriptions:
          - The ad rotation mode has not been specified.
          - The received value is not known in this version. This is a response-only value.
          - Optimize ad group ads based on clicks or conversions.
          - Rotate evenly forever.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - OPTIMIZE
          - ROTATE_FOREVER
          description: The ad rotation mode of the ad group.
          type: string
        percentCpcBidMicros:
          description: The percent cpc bid amount, expressed as a fraction of the advertised price for some good or service. The valid range for the fraction is [0,1) and the value stored here is 1,000,000 * [fraction].
          type: string
          format: int64
        demandGenAdGroupSettings:
          description: Settings for Demand Gen ad groups.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_AdGroup_DemandGenAdGroupSettings'
        cpvBidMicros:
          type: string
          description: The CPV (cost-per-view) bid.
          format: int64
        primaryStatus:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The ad group is eligible to serve.
          - The ad group is paused.
          - The ad group is removed.
          - The ad group may serve in the future.
          - The ad group is not eligible to serve.
          - The ad group has limited servability.
          description: Output only. Provides aggregated view into why an ad group is not serving or not serving optimally.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ELIGIBLE
          - PAUSED
          - REMOVED
          - PENDING
          - NOT_ELIGIBLE
          - LIMITED
        cpcBidMicros:
          format: int64
          description: The maximum CPC (cost-per-click) bid. This field is used when the ad group's effective bidding strategy is Manual CPC. This field is not applicable and will be ignored if the ad group's campaign is using a portfolio bidding strategy.
          type: string
        targetCpvMicros:
          format: int64
          type: string
          description: Average amount in micros that the advertiser is willing to pay for every ad view.
        urlCustomParameters:
          type: array
          description: The list of mappings used to substitute custom parameter tags in a `tracking_url_template`, `final_urls`, or `mobile_final_urls`.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__CustomParameter'
        effectiveCpcBidMicros:
          format: int64
          description: Output only. Value will be same as that of the CPC (cost-per-click) bid value when the bidding strategy is one of manual cpc, enhanced cpc, page one promoted or target outrank share, otherwise the value will be null.
          type: string
        optimizedTargetingEnabled:
          description: True if optimized targeting is enabled. Optimized Targeting is the replacement for Audience Expansion.
          type: boolean
        effectiveTargetCpcSource:
          description: Output only. Source of the effective target CPC. This field is read-only.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CAMPAIGN_BIDDING_STRATEGY
          - AD_GROUP
          - AD_GROUP_CRITERION
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Effective bid or target is inherited from campaign bidding strategy.
          - The bid or target is defined on the ad group.
          - The bid or target is defined on the ad group criterion.
        finalUrlSuffix:
          description: URL template for appending params to Final URL.
          type: string
        effectiveTargetRoas:
          format: double
          description: Output only. The effective target ROAS (return-on-ad-spend). This field is read-only.
          type: number
        effectiveTargetRoasSource:
          description: Output only. Source of the effective target ROAS. This field is read-only.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CAMPAIGN_BIDDING_STRATEGY
          - AD_GROUP
          - AD_GROUP_CRITERION
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Effective bid or target is inherited from campaign bidding strategy.
          - The bid or target is defined on the ad group.
          - The bid or target is defined on the ad group criterion.
        excludedParentAssetSetTypes:
          type: array
          description: The asset set types that should be excluded from this ad group. Asset set links with these types will not be inherited by this ad group from the upper levels. Location group types (GMB_DYNAMIC_LOCATION_GROUP, CHAIN_DYNAMIC_LOCATION_GROUP, and STATIC_LOCATION_GROUP) are child types of LOCATION_SYNC. Therefore, if LOCATION_SYNC is set for this field, all location group asset sets are not allowed to be linked to this ad group, and all Location Extension (LE) and Affiliate Location Extensions (ALE) will not be served under this ad group. Only LOCATION_SYNC is currently supported.
          items:
            type: string
            x-enumDescriptions:
            - Not specified.
            - Used for return value only. Represents value unknown in this version.
            - Page asset set.
            - Dynamic education asset set.
            - Google Merchant Center asset set.
            - Dynamic real estate asset set.
            - Dynamic custom asset set.
            - Dynamic hotels and rentals asset set.
            - Dynamic flights asset set.
            - Dynamic travel asset set.
            - Dynamic local asset set.
            - Dynamic jobs asset set.
            - Location sync level asset set.
            - Business Profile location group asset set.
            - Chain location group asset set which can be used for both owned locations and affiliate locations.
            - Static location group asset set which can be used for both owned locations and affiliate locations.
            - Hotel Property asset set which is used to link a hotel property feed to Performance Max for travel goals campaigns.
            - Travel Feed asset set type. Can represent either a Hotel feed or a Things to Do (activities) feed.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - PAGE_FEED
            - DYNAMIC_EDUCATION
            - MERCHANT_CENTER_FEED
            - DYNAMIC_REAL_ESTATE
            - DYNAMIC_CUSTOM
            - DYNAMIC_HOTELS_AND_RENTALS
            - DYNAMIC_FLIGHTS
            - DYNAMIC_TRAVEL
            - DYNAMIC_LOCAL
            - DYNAMIC_JOBS
            - LOCATION_SYNC
            - BUSINESS_PROFILE_DYNAMIC_LOCATION_GROUP
            - CHAIN_DYNAMIC_LOCATION_GROUP
            - STATIC_LOCATION_GROUP
            - HOTEL_PROPERTY
            - TRAVEL_FEED
        type:
          x-enumDescriptions:
          - The type has not been specified.
          - The received value is not known in this version. This is a response-only value.
          - The default ad group type for Search campaigns.
          - The default ad group type for Display campaigns.
          - The ad group type for Shopping campaigns serving standard product ads.
          - The default ad group type for Hotel campaigns.
          - The type for ad groups in Smart Shopping campaigns.
          - Short unskippable in-stream video ads.
          - TrueView (skippable) in-stream video ads.
          - TrueView in-display video ads.
          - Unskippable in-stream video ads.
          - Ad group type for Dynamic Search Ads ad groups.
          - The type for ad groups in Shopping Comparison Listing campaigns.
          - The ad group type for Promoted Hotel ad groups.
          - Video responsive ad groups.
          - Video efficient reach ad groups.
          - Ad group type for Smart campaigns.
          - Ad group type for Travel campaigns.
          - Ad group type for YouTube Audio campaigns.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - SEARCH_STANDARD
          - DISPLAY_STANDARD
          - SHOPPING_PRODUCT_ADS
          - HOTEL_ADS
          - SHOPPING_SMART_ADS
          - VIDEO_BUMPER
          - VIDEO_TRUE_VIEW_IN_STREAM
          - VIDEO_TRUE_VIEW_IN_DISPLAY
          - VIDEO_NON_SKIPPABLE_IN_STREAM
          - SEARCH_DYNAMIC_ADS
          - SHOPPING_COMPARISON_LISTING_ADS
          - PROMOTED_HOTEL_ADS
          - VIDEO_RESPONSIVE
          - VIDEO_EFFICIENT_REACH
          - SMART_CAMPAIGN_ADS
          - TRAVEL_ADS
          - YOUTUBE_AUDIO
          description: Immutable. The type of the ad group.
          type: string
        effectiveTargetCpaMicros:
          format: int64
          type: string
          description: Output only. The effective target CPA (cost-per-acquisition). This field is read-only.
        excludedParentAssetFieldTypes:
          description: The asset field types that should be excluded from this ad group. Asset links with these field types will not be inherited by this ad group from the upper levels.
          items:
            type: string
            x-enumDescriptions:
            - Not specified.
            - Used for return value only. Represents value unknown in this version.
            - The asset is linked for use as a headline.
            - The asset is linked for use as a description.
            - The asset is linked for use as mandatory ad text.
            - The asset is linked for use as a marketing image.
            - The asset is linked for use as a media bundle.
            - The asset is linked for use as a YouTube video.
            - The asset is linked to indicate that a hotels campaign is "Book on Google" enabled.
            - The asset is linked for use as a Lead Form extension.
            - The asset is linked for use as a Promotion extension.
            - The asset is linked for use as a Callout extension.
            - The asset is linked for use as a Structured Snippet extension.
            - The asset is linked for use as a Sitelink.
            - The asset is linked for use as a Mobile App extension.
            - The asset is linked for use as a Hotel Callout extension.
            - The asset is linked for use as a Call extension.
            - The asset is linked for use as a Price extension.
            - The asset is linked for use as a long headline.
            - The asset is linked for use as a business name.
            - The asset is linked for use as a square marketing image.
            - The asset is linked for use as a portrait marketing image.
            - The asset is linked for use as a logo.
            - The asset is linked for use as a landscape logo.
            - The asset is linked for use as a non YouTube logo.
            - The asset is linked for use to select a call-to-action.
            - The asset is linked for use to select an ad image.
            - The asset is linked for use as a business logo.
            - The asset is linked for use as a hotel property in a Performance Max for travel goals campaign.
            - The asset is linked for use as a Demand Gen carousel card.
            - The asset is linked for use as a Business Message.
            - The asset is linked for use as a tall portrait marketing image.
            - The asset is linked for use as related YouTube videos.
            - The asset is linked for use as a landing page preview image.
            - The asset is linked for use as a long description.
            - The asset is linked for use as a call-to-action.
            - The asset is linked for use as a classic display image.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - HEADLINE
            - DESCRIPTION
            - MANDATORY_AD_TEXT
            - MARKETING_IMAGE
            - MEDIA_BUNDLE
            - YOUTUBE_VIDEO
            - BOOK_ON_GOOGLE
            - LEAD_FORM
            - PROMOTION
            - CALLOUT
            - STRUCTURED_SNIPPET
            - SITELINK
            - MOBILE_APP
            - HOTEL_CALLOUT
            - CALL
            - PRICE
            - LONG_HEADLINE
            - BUSINESS_NAME
            - SQUARE_MARKETING_IMAGE
            - PORTRAIT_MARKETING_IMAGE
            - LOGO
            - LANDSCAPE_LOGO
            - VIDEO
            - CALL_TO_ACTION_SELECTION
            - AD_IMAGE
            - BUSINESS_LOGO
            - HOTEL_PROPERTY
            - DEMAND_GEN_CAROUSEL_CARD
            - BUSINESS_MESSAGE
            - TALL_PORTRAIT_MARKETING_IMAGE
            - RELATED_YOUTUBE_VIDEOS
            - LANDING_PAGE_PREVIEW
            - LONG_DESCRIPTION
            - CALL_TO_ACTION
            - CLASSIC_DISPLAY_IMAGE
          type: array
        primaryStatusReasons:
          description: Output only. Provides reasons for why an ad group is not serving or not serving optimally.
          items:
            type: string
            x-enumDescriptions:
            - Not specified.
            - Used for return value only. Represents value unknown in this version.
            - The user-specified campaign status is removed. Contributes to AdGroupPrimaryStatus.NOT_ELIGIBLE.
            - The user-specified campaign status is paused. Contributes to AdGroupPrimaryStatus.NOT_ELIGIBLE.
            - The user-specified time for this campaign to start is in the future. Contributes to AdGroupPrimaryStatus.NOT_ELIGIBLE
            - The user-specified time for this campaign to end has passed. Contributes to AdGroupPrimaryStatus.NOT_ELIGIBLE.
            - The user-specified ad group status is paused. Contributes to AdGroupPrimaryStatus.PAUSED.
            - The user-specified ad group status is removed. Contributes to AdGroupPrimaryStatus.REMOVED.
            - The construction of this ad group is not yet complete. Contributes to AdGroupPrimaryStatus.NOT_ELIGIBLE.
            - The user-specified keyword statuses in this ad group are all paused. Contributes to AdGroupPrimaryStatus.NOT_ELIGIBLE.
            - No eligible keywords exist in this ad group. Contributes to AdGroupPrimaryStatus.NOT_ELIGIBLE.
            - The user-specified ad group ads statuses in this ad group are all paused. Contributes to AdGroupPrimaryStatus.NOT_ELIGIBLE.
            - No eligible ad group ads exist in this ad group. Contributes to AdGroupPrimaryStatus.NOT_ELIGIBLE.
            - Policy status reason when at least one ad is disapproved. Contributes to multiple AdGroupPrimaryStatus.
            - Policy status reason when at least one ad is limited by policy. Contributes to multiple AdGroupPrimaryStatus.
            - Policy status reason when most ads are pending review. Contributes to AdGroupPrimaryStatus.PENDING.
            - The AdGroup belongs to a Draft campaign. Contributes to AdGroupPrimaryStatus.NOT_ELIGIBLE.
            - Ad group has been paused due to prolonged low activity in serving. Contributes to AdGroupPrimaryStatus.PAUSED.
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - CAMPAIGN_REMOVED
            - CAMPAIGN_PAUSED
            - CAMPAIGN_PENDING
            - CAMPAIGN_ENDED
            - AD_GROUP_PAUSED
            - AD_GROUP_REMOVED
            - AD_GROUP_INCOMPLETE
            - KEYWORDS_PAUSED
            - NO_KEYWORDS
            - AD_GROUP_ADS_PAUSED
            - NO_AD_GROUP_ADS
            - HAS_ADS_DISAPPROVED
            - HAS_ADS_LIMITED_BY_POLICY
            - MOST_ADS_UNDER_REVIEW
            - CAMPAIGN_DRAFT
            - AD_GROUP_PAUSED_DUE_TO_LOW_ACTIVITY
          type: array
        effectiveTargetCpc:
          format: int64
          type: string
          description: Output only. The effective target CPC (cost-per-click). This field is read-only.
        targetRoas:
          format: double
          type: number
          description: The target ROAS (return-on-ad-spend) for this ad group. This field lets you override the target ROAS specified in the campaign's bidding strategy, but only if the campaign is using a standard (not portfolio) `TargetRoas` strategy or a standard `MaximizeConversionValue` strategy with its `target_roas` field set. If the campaign is using a portfolio bidding strategy, this field cannot be set and attempting to do so will result in an error. For any other bidding strategies, this value is ignored. To see the actual target ROAS being used by the ad group, considering potential overrides, query the `effective_target_roas` and `effective_target_roas_source` fields.
        targetCpcMicros:
          type: string
          description: Average amount in micros that the advertiser is willing to pay for every ad click. Overrides the target CPC configured at the campaign level.
          format: int64
        campaign:
          type: string
          description: Immutable. The campaign to which the ad group belongs.
        targetingSetting:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__TargetingSetting'
          description: Setting for targeting related features.
        targetCpmMicros:
          format: int64
          type: string
          description: Average amount in micros that the advertiser is willing to pay for every thousand times the ad is shown.
        aiMaxAdGroupSetting:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_AdGroup_AiMaxAdGroupSetting'
          description: Settings for AI Max feature in standard search adgroups.
        status:
          x-enumDescriptions:
          - The status has not been specified.
          - The received value is not known in this version. This is a response-only value.
          - The ad group is enabled.
          - The ad group is paused.
          - The ad group is removed.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ENABLED
          - PAUSED
          - REMOVED
          description: The status of the ad group.
          type: string
        effectiveTargetCpaSource:
          type: string
          description: Output only. Source of the effective target CPA. This field is read-only.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CAMPAIGN_BIDDING_STRATEGY
          - AD_GROUP
          - AD_GROUP_CRITERION
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Effective bid or target is inherited from campaign bidding strategy.
          - The bid or target is defined on the ad group.
          - The bid or target is defined on the ad group criterion.
        displayCustomBidDimension:
          description: Lets advertisers specify a targeting dimension on which to place absolute bids. This is only applicable for campaigns that target only the display network and not search.
          type: string
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Keyword criteria, for example, 'mars cruise'. KEYWORD may be used as a custom bid dimension. Keywords are always a targeting dimension, so may not be set as a target "ALL" dimension with TargetRestriction.
          - Audience criteria, which include user list, user interest, custom affinity, and custom in market.
          - Topic criteria for targeting categories of content, for example, 'category::Animals>Pets' Used for Display and Video targeting.
          - Criteria for targeting gender.
          - Criteria for targeting age ranges.
          - Placement criteria, which include websites like 'www.flowers4sale.com', as well as mobile applications, mobile app categories, YouTube videos, and YouTube channels.
          - Criteria for parental status targeting.
          - Criteria for income range targeting.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - KEYWORD
          - AUDIENCE
          - TOPIC
          - GENDER
          - AGE_RANGE
          - PLACEMENT
          - PARENTAL_STATUS
          - INCOME_RANGE
      description: An ad group.
    GoogleAdsGoogleadsV25Resources_AdGroupVideoAdGroupSettings_VideoAdSequenceStepSetting:
      type: object
      properties:
        stepId:
          format: int64
          description: The ID of this sequence step from an existing `campaign.video_campaign_settings.video_ad_sequence` definition. Only one Ad Group can point to a given `step_id`.
          type: string
      description: The video ads sequence step settings containing step ID.
    GoogleAdsGoogleadsV25Resources_AdGroupDemandGenAdGroupSettingsDemandGenChannelControls_DemandGenSelectedChannels:
      type: object
      properties:
        youtubeInFeed:
          description: Whether to enable ads on the YouTube In-Feed channel.
          type: boolean
        gmail:
          description: Whether to enable ads on the Gmail channel.
          type: boolean
        display:
          type: boolean
          description: Whether to enable ads on the Display channel.
        discover:
          description: Whether to enable ads on the Discover channel.
          type: boolean
        youtubeShorts:
          description: Whether to enable ads on the YouTube Shorts channel.
          type: boolean
        maps:
          type: boolean
          description: Whether to enable ads on the Maps channel.
        youtubeInStream:
          description: Whether to enable ads on the YouTube In-Stream channel.
          type: boolean
      description: Explicitly selected channels for channel controls in Demand Gen ad groups.
    GoogleAdsGoogleadsV25Common__TargetRestrictionOperation:
      type: object
      properties:
        operator:
          type: string
          description: Type of list operation to perform.
          x-enumDescriptions:
          - Unspecified.
          - Used for return value only. Represents value unknown in this version.
          - Add the restriction to the existing restrictions.
          - Remove the restriction from the existing restrictions.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ADD
          - REMOVE
        value:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__TargetRestriction'
          description: The target restriction being added to or removed from the list.
      description: Operation to be performed on a target restriction list in a mutate.
    GoogleAdsGoogleadsV25Services__MutateAdGroupsRequest:
      type: object
      properties:
        operations:
          description: Required. The list of operations to perform on individual ad groups.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__AdGroupOperation'
          type: array
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
        responseContentType:
          type: string
          description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
        partialFailure:
          type: boolean
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
      description: Request message for AdGroupService.MutateAdGroups.
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__AdGroupOperation:
      description: A single operation (create, update, remove) on an ad group.
      type: object
      properties:
        remove:
          description: 'Remove operation: A resource name for the removed ad group is expected, in this format: `customers/{customer_id}/adGroups/{ad_group_id}`'
          type: string
        update:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroup'
          description: 'Update operation: The ad group is expected to have a valid resource name.'
        updateMask:
          description: FieldMask that determines which resource fields are modified in an update.
          type: string
          format: google-fieldmask
        create:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroup'
          description: 'Create operation: No resource name is expected for the new ad group.'
    GoogleAdsGoogleadsV25Common__CustomParameter:
      type: object
      properties:
        key:
          description: The key matching the parameter tag name.
          type: string
        value:
          type: string
          description: The value to be substituted.
      description: A mapping that can be used by custom parameter tags in a `tracking_url_template`, `final_urls`, or `mobile_final_urls`.
    GoogleAdsGoogleadsV25Resources_AdGroupDemandGenAdGroupSettings_DemandGenChannelControls:
      type: object
      properties:
        channelConfig:
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - The channel controls configuration uses a general channel strategy; individual channels are not configured separately.
          - The channel controls configuration explicitly defines the selected channels.
          description: Output only. Channel configuration reflecting which field in the oneof is populated.
          type: string
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CHANNEL_STRATEGY
          - SELECTED_CHANNELS
        channelStrategy:
          type: string
          description: High level channel strategy.
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - All channels are enabled.
          - All Google-owned and operated channels are enabled; third-party channels (e.g., Display) are disabled.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - ALL_CHANNELS
          - ALL_OWNED_AND_OPERATED_CHANNELS
        selectedChannels:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources_AdGroupDemandGenAdGroupSettingsDemandGenChannelControls_DemandGenSelectedChannels'
          description: Explicitly selected channels. This field should be set with at least one true value when present.
      description: Channel controls for Demand Gen ad groups.
    GoogleAdsGoogleadsV25Resources_AdGroup_AiMaxAdGroupSetting:
      description: Settings for AI Max feature in standard search adgroups.
      type: object
      properties:
        disableSearchTermMatching:
          type: boolean
          description: Disable search term matching for this adgroup when AI Max is enabled. Search term matching uses broad match, asset-based, and landing page-based technology to improve reach.
    GoogleAdsGoogleadsV25Services__MutateAdGroupsResponse:
      description: Response message for an ad group mutate.
      type: object
      properties:
        results:
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateAdGroupResult'
          type: array
        partialFailureError:
          $ref: '#/components/schemas/GoogleRpc__Status'
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
    GoogleAdsGoogleadsV25Resources_AdGroup_VerticalAdsFormatSetting:
      type: object
      properties:
        enableVerticalPromotionAds:
          description: If true, vertical promotion ads will be enabled for this ad group.
          type: boolean
        disableTextAds:
          type: boolean
          description: If true, text ads will be disabled for this ad group.
        enableBookingLinks:
          type: boolean
          description: If true, booking links will be enabled for this ad group.
      description: Vertical ads setting feature to enable/disable ad group format controls in search campaigns.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
