openapi: 3.2.0
info:
  title: Google Ads V25:list Benchmarks Sources API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: V25:listBenchmarksSources
paths:
  /v25:listBenchmarksSources:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_listBenchmarksSources
      summary: Returns the list of benchmarks sources (for example, Industry Verticals)
      tags:
      - V25:listBenchmarksSources
      description: 'Returns the list of benchmarks sources (for example, Industry Verticals). List of thrown errors: AuthenticationError AuthorizationError FieldError HeaderError InternalError QuotaError RequestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ListBenchmarksSourcesRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__ListBenchmarksSourcesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Services__BenchmarksSourceMetadata:
      description: The metadata associated with a benchmarks source.
      type: object
      properties:
        industryVerticalInfo:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__IndustryVerticalInfo'
          description: Information on the Industry Vertical.
        benchmarksSourceType:
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - The classification of ad categories for benchmarking. (for example, "Technology" or "Finance").
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - INDUSTRY_VERTICAL
          description: The type of benchmarks source.
          type: string
    GoogleAdsGoogleadsV25Services__ListBenchmarksSourcesResponse:
      type: object
      properties:
        benchmarksSources:
          type: array
          description: The list of available source used to generate benchmarks data for.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__BenchmarksSourceMetadata'
      description: Response message for BenchmarksService.ListBenchmarksSources.
    GoogleAdsGoogleadsV25Services__IndustryVerticalInfo:
      description: The information associated with an Industry Vertical.
      type: object
      properties:
        industryVerticalName:
          description: The name of the Industry Vertical.
          type: string
        industryVerticalId:
          format: int64
          description: The unique identifier of the Industry Vertical.
          type: string
        parentIndustryVerticalId:
          description: The unique identifier of the parent Industry Vertical, if exists.
          type: string
          format: int64
    GoogleAdsGoogleadsV25Services__ListBenchmarksSourcesRequest:
      type: object
      properties:
        applicationInfo:
          description: Additional information on the application issuing the request.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__AdditionalApplicationInfo'
        benchmarksSources:
          description: Required. The types of benchmarks sources to be returned
          items:
            type: string
            x-enumDescriptions:
            - Not specified.
            - The value is unknown in this version.
            - The classification of ad categories for benchmarking. (for example, "Technology" or "Finance").
            enum:
            - UNSPECIFIED
            - UNKNOWN
            - INDUSTRY_VERTICAL
          type: array
      description: Request message for BenchmarksService.ListBenchmarksSources.
    GoogleAdsGoogleadsV25Common__AdditionalApplicationInfo:
      description: Additional information about the application/tool issuing the request. This field is only used by ContentCreatorInsightsService, AudienceInsightsService, and ReachPlanService APIs.
      type: object
      properties:
        applicationId:
          description: The unique identifier of the agency proprietary application. This identifier is generated by Google. Reach out to your Google representative to request an application_id for each new application being integrated.
          type: string
        applicationInstance:
          description: The instance type of the application sending the request.
          type: string
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - The instance is for development and testing purposes.
          - The instance is for production purposes.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DEVELOPMENT_AND_TESTING
          - PRODUCTION
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
