openapi: 3.2.0
info:
  title: Google Ads Customers.ad Group Bid Modifiers API
  description: Manage your Google Ads accounts, campaigns, and reports with this API.
  version: v25
  x-discovery-revision: '20260721'
  contact:
    name: Google
    url: https://developers.google.com/google-ads/api/
  termsOfService: https://developers.google.com/terms
servers:
- url: https://googleads.googleapis.com
  description: Google Ads API production server
security:
- oauth2:
  - https://www.googleapis.com/auth/adwords
tags:
- name: customers.adGroupBidModifiers
paths:
  /v25/customers/{customersId}/adGroupBidModifiers:mutate:
    parameters:
    - name: upload_protocol
      in: query
      required: false
      schema:
        type: string
      description: Upload protocol for media (e.g. "raw", "multipart").
    - name: quotaUser
      in: query
      required: false
      schema:
        type: string
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - name: fields
      in: query
      required: false
      schema:
        type: string
      description: Selector specifying which fields to include in a partial response.
    - name: $.xgafv
      in: query
      required: false
      schema:
        type: string
        enum:
        - '1'
        - '2'
        x-enumDescriptions:
        - v1 error format
        - v2 error format
      description: V1 error format.
    - name: callback
      in: query
      required: false
      schema:
        type: string
      description: JSONP
    - name: prettyPrint
      in: query
      required: false
      schema:
        type: boolean
        default: 'true'
      description: Returns response with indentations and line breaks.
    - name: access_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth access token.
    - name: uploadType
      in: query
      required: false
      schema:
        type: string
      description: Legacy upload protocol for media (e.g. "media", "multipart").
    - name: key
      in: query
      required: false
      schema:
        type: string
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - name: oauth_token
      in: query
      required: false
      schema:
        type: string
      description: OAuth 2.0 token for the current user.
    - name: alt
      in: query
      required: false
      schema:
        x-enumDescriptions:
        - Responses with Content-Type of application/json
        - Media download with context-dependent Content-Type
        - Responses with Content-Type of application/x-protobuf
        type: string
        default: json
        enum:
        - json
        - media
        - proto
      description: Data format for response.
    post:
      operationId: googleads_customers_adGroupBidModifiers_mutate
      summary: Creates, updates, or removes ad group bid modifiers
      tags:
      - customers.adGroupBidModifiers
      description: 'Creates, updates, or removes ad group bid modifiers. Operation statuses are returned. List of thrown errors: [AdGroupBidModifierError]() [AuthenticationError]() [AuthorizationError]() [ContextError]() [CriterionError]() [DatabaseError]() [DistinctError]() [FieldError]() [FieldMaskError]() [HeaderError]() [IdError]() [InternalError]() [MutateError]() [NewResourceCreationError]() [NotEmptyError]() [OperatorError]() [QuotaError]() [RangeError]() [RequestError]() [ResourceCountLimitExceededError]() [SizeLimitError]() [StringFormatError]() [StringLengthError]()'
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. ID of the customer whose ad group bid modifiers are being modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateAdGroupBidModifiersRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateAdGroupBidModifiersResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/adwords
components:
  schemas:
    GoogleAdsGoogleadsV25Common__HotelCheckInDayInfo:
      description: Criterion for day of the week the booking is for.
      type: object
      properties:
        dayOfWeek:
          type: string
          description: The day of the week.
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - Monday.
          - Tuesday.
          - Wednesday.
          - Thursday.
          - Friday.
          - Saturday.
          - Sunday.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
    GoogleAdsGoogleadsV25Services__MutateAdGroupBidModifiersRequest:
      description: Request message for AdGroupBidModifierService.MutateAdGroupBidModifiers.
      type: object
      properties:
        partialFailure:
          type: boolean
          description: If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false.
        validateOnly:
          type: boolean
          description: If true, the request is validated but not executed. Only errors are returned, not results.
        responseContentType:
          x-enumDescriptions:
          - Not specified. Will return the resource name only in the response.
          - The mutate response will be the resource name.
          - The mutate response will contain the resource name and the resource with mutable fields if possible. Otherwise, only the resource name will be returned.
          enum:
          - UNSPECIFIED
          - RESOURCE_NAME_ONLY
          - MUTABLE_RESOURCE
          description: The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation.
          type: string
        operations:
          type: array
          description: Required. The list of operations to perform on individual ad group bid modifiers.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__AdGroupBidModifierOperation'
    GoogleAdsGoogleadsV25Services__MutateAdGroupBidModifierResult:
      description: The result for the criterion mutate.
      type: object
      properties:
        resourceName:
          description: Returned for successful operations.
          type: string
        adGroupBidModifier:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroupBidModifier'
          description: The mutated ad group bid modifier with only mutable fields after mutate. The field will only be returned when response_content_type is set to "MUTABLE_RESOURCE".
    GoogleAdsGoogleadsV25Resources__AdGroupBidModifier:
      type: object
      properties:
        bidModifierSource:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - The bid modifier is specified at the campaign level, on the campaign level criterion.
          - The bid modifier is specified (overridden) at the ad group level.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - CAMPAIGN
          - AD_GROUP
          description: Output only. Bid modifier source.
          type: string
        adGroup:
          description: Immutable. The ad group to which this criterion belongs.
          type: string
        resourceName:
          description: 'Immutable. The resource name of the ad group bid modifier. Ad group bid modifier resource names have the form: `customers/{customer_id}/adGroupBidModifiers/{ad_group_id}~{criterion_id}`'
          type: string
        hotelDateSelectionType:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelDateSelectionTypeInfo'
          description: Immutable. Criterion for hotel date selection (default dates versus user selected).
        bidModifier:
          description: 'The modifier for the bid when the criterion matches. The modifier must be in the range: 0.1 - 10.0. Use 0 to opt out of a Device type.'
          type: number
          format: double
        baseAdGroup:
          description: Output only. The base ad group from which this draft/trial adgroup bid modifier was created. If ad_group is a base ad group then this field will be equal to ad_group. If the ad group was created in the draft or trial and has no corresponding base ad group, then this field will be null. This field is readonly.
          type: string
        hotelCheckInDateRange:
          description: Immutable. Criterion for a hotel check-in date range.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelCheckInDateRangeInfo'
        hotelCheckInDay:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelCheckInDayInfo'
          description: Immutable. Criterion for day of the week the booking is for.
        criterionId:
          description: Output only. The ID of the criterion to bid modify. This field is ignored for mutates.
          type: string
          format: int64
        hotelAdvanceBookingWindow:
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelAdvanceBookingWindowInfo'
          description: Immutable. Criterion for number of days prior to the stay the booking is being made.
        hotelLengthOfStay:
          description: Immutable. Criterion for length of hotel stay in nights.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__HotelLengthOfStayInfo'
        device:
          description: Immutable. A device criterion.
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Common__DeviceInfo'
      description: Represents an ad group bid modifier.
    GoogleAdsGoogleadsV25Common__HotelLengthOfStayInfo:
      description: Criterion for length of hotel stay in nights.
      type: object
      properties:
        minNights:
          type: string
          description: Low end of the number of nights in the stay.
          format: int64
        maxNights:
          type: string
          description: High end of the number of nights in the stay.
          format: int64
    GoogleAdsGoogleadsV25Common__HotelCheckInDateRangeInfo:
      type: object
      properties:
        startDate:
          description: Start date in the YYYY-MM-DD format.
          type: string
        endDate:
          description: End date in the YYYY-MM-DD format.
          type: string
      description: Criterion for a check-in date range.
    GoogleAdsGoogleadsV25Common__HotelAdvanceBookingWindowInfo:
      description: Criterion for number of days prior to the stay the booking is being made.
      type: object
      properties:
        minDays:
          format: int64
          type: string
          description: Low end of the number of days prior to the stay.
        maxDays:
          description: High end of the number of days prior to the stay.
          type: string
          format: int64
    GoogleAdsGoogleadsV25Common__DeviceInfo:
      description: A device criterion.
      type: object
      properties:
        type:
          x-enumDescriptions:
          - Not specified.
          - The value is unknown in this version.
          - Mobile devices with full browsers.
          - Tablets with full browsers.
          - Computers.
          - Smart TVs and game consoles.
          - Other device types.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - MOBILE
          - TABLET
          - DESKTOP
          - CONNECTED_TV
          - OTHER
          description: Type of the device.
          type: string
    GoogleAdsGoogleadsV25Common__HotelDateSelectionTypeInfo:
      type: object
      properties:
        type:
          x-enumDescriptions:
          - Not specified.
          - Used for return value only. Represents value unknown in this version.
          - Dates selected by default.
          - Dates selected by the user.
          enum:
          - UNSPECIFIED
          - UNKNOWN
          - DEFAULT_SELECTION
          - USER_SELECTED
          description: Type of the hotel date selection
          type: string
      description: Criterion for hotel date selection (default dates versus user selected).
    GoogleRpc__Status:
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
      type: object
      properties:
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          type: array
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleAdsGoogleadsV25Services__AdGroupBidModifierOperation:
      description: A single operation (create, remove, update) on an ad group bid modifier.
      type: object
      properties:
        remove:
          type: string
          description: 'Remove operation: A resource name for the removed ad group bid modifier is expected, in this format: `customers/{customer_id}/adGroupBidModifiers/{ad_group_id}~{criterion_id}`'
        update:
          description: 'Update operation: The ad group bid modifier is expected to have a valid resource name.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroupBidModifier'
        updateMask:
          description: FieldMask that determines which resource fields are modified in an update.
          type: string
          format: google-fieldmask
        create:
          description: 'Create operation: No resource name is expected for the new ad group bid modifier.'
          $ref: '#/components/schemas/GoogleAdsGoogleadsV25Resources__AdGroupBidModifier'
    GoogleAdsGoogleadsV25Services__MutateAdGroupBidModifiersResponse:
      description: Response message for ad group bid modifiers mutate.
      type: object
      properties:
        partialFailureError:
          $ref: '#/components/schemas/GoogleRpc__Status'
          description: Errors that pertain to operation failures in the partial failure mode. Returned only when partial_failure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error.
        results:
          type: array
          description: All results for the mutate.
          items:
            $ref: '#/components/schemas/GoogleAdsGoogleadsV25Services__MutateAdGroupBidModifierResult'
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Google Ads API additionally requires a developer token in the developer-token header.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/adwords: See, edit, create, and delete your Google Ads accounts and data.
externalDocs:
  url: https://developers.google.com/google-ads/api/
x-source: https://googleads.googleapis.com/$discovery/rest?version=v25
x-generated-by: API Evangelist enrichment pipeline — mechanical conversion of the first-party Google API Discovery Document
